.careers-body {
  .slidePage {
    min-height: 51vw;
    h1 {
      bottom: 44%;
      padding-top: 0;
      transform: translateY(50%);
      font-size: 36px;
      padding-bottom: 0;
      line-height: 1.1;
      span {
        color: #fed301;
      }
    }
  }
}

.current-openings {
  padding-top: 10px;
  h2 {
    font-size: 24px;
  }
}

.tabs {
  overflow: auto;
  ul {
    padding-bottom: 15px;
    padding-top: 16px;
    display: flex;
    padding-right: 10px;
    li {
      white-space: nowrap;
      margin-right: 16px;
      color: #707a8c;
      font-size: 12px;
	  cursor: pointer;
      &:last-child {
        padding-right: 10px;
      }
      &.active {
        color: #000;
        &::after {
          display: block;
          font-weight: 600;
        }
      }
      &::after {
        content: "";
        width: 7px;
        height: 7px;
        display: block;
        margin: 7px auto;
        border-radius: 50%;
        background: #dc54f2;
        display: none;
      }
    }
  }
}

.content {
  padding-top: 25px;
}
.blue {
  color: #7254f2;
  font-size: 13px;
  font-family: "Open Sans";
}
.date {
  font-size: 13px;
  color: #0b0b0c;
  font-family: "Open Sans";
}

.current-item {
  padding-bottom: 23px;
}
.current-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  ul {
    display: flex;
    margin-left: 10px;

    li {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  h5 {
    font-size: 12px;
    font-weight: 600;
  }
}

.title-group {
  padding-top: 16px;

  p {
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans";
  }

  .btn {
    border-radius: 50px;
    border: 0;
    padding: 10px 22px;
    white-space: nowrap;
    font-size: 14px;
    margin-top: 11px;
    background-color: #fff;
    border: solid 1px #ab2e91;
    color: #ab2e91;
    &:hover {
      color: #fff;
      background: #ab2e91;
    }
  }
}
.current-item__title {
  font-size: 18px;
  margin-top: 10px;
}

div.showmore {
  font-size: 14px;
  display: inline-block;
  color: #f52583;
  border-bottom: 1px solid #f52583;
  font-weight: 600;
  cursor: pointer;
  svg {
	  margin-left: 20px;
	  transition: all 0.6s ease-in-out;
	  &.isLess {
		  transform: rotate(0);
	  }
	  &.isMore {
		  transform: rotate(180deg);
	  }
  }
}

.current-item__body {
  padding-top: 20px;
  h4 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  p {
    font-size: 15px;
    font-family: "Open Sans";
    margin-bottom: 49px;
  }
}

hr{
    border: 0;
    border-top: 1px solid #a4a3af;
    margin: 0;
}

@media (min-width: 768px) {
  .careers-body {
    .slidePage {
      h1 {
        font-size: 64px;
      }
    }
  }

  .current-openings {
    padding-top: 24px;
    h2 {
      font-size: 36px;
    }
  }

  .tabs {
    ul {
      padding-top: 30px;
      padding-bottom: 20px;
      li {
        font-size: 14px;
        margin-right: 29px;
        &:last-child {
        }
        &.active {
          &::after {
          }
        }
        &::after {
        }
      }
    }
  }

  .content {
    padding-top: 40px;
  }
  .blue {
  }
  .date {
  }

  .current-item {
    position: relative;
  }
  .current-item__footer {
    ul {
      li {
      }
    }
    h5 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .title-group {
    padding-top: 33px;
    p {
    }

    .btn {
      &:hover {
      }
    }
  }
  .current-item__title {
    font-size: 23px;
  }

  .current-item__body {
    padding-top: 20px;
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 15px;
      margin-bottom: 39px;
    }
  }
}

@media (min-width: 992px) {
  .careers-body {
    .slidePage {
      h1 {
        font-size: 72px;
      }
    }
  }

  .current-openings {
    padding-top: 16px;
    h2 {
      font-size: 48px;
    }
  }

  .tabs {
    ul {
      padding-top: 30px;
      padding-bottom: 13px;
      li {
        font-size: 14px;
        margin-right: 50px;
        &:last-child {
        }
        &.active {
          &::after {
          }
        }
        &::after {
        }
      }
    }
  }

  .content {
    padding-top: 37px;
  }
  .blue {
  }
  .date {
  }

  .current-item {
  }
  .current-item__footer {
    ul {
      li {
      }
    }
    h5 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .title-group {
    padding-top: 22px;
    p {
    }

    .btn {
      &:hover {
      }
    }
  }
  .current-item__title {
    font-size: 23px;
  }

  .current-item__body {
    padding-top: 20px;
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 15px;
      margin-bottom: 39px;
    }
  }
}

@media (min-width: 1200px) {
  .careers-body {
    .slidePage {
      h1 {
        bottom: 57%;
        font-size: 96px;
        padding-left: 136px;
      }
    }
  }

  .current-openings {
    padding-top: 0;
    h2 {
      font-size: 50px;
    }
  }

  .tabs {
    ul {
      padding-top: 21px;
      padding-bottom: 17px;
      li {
        font-size: 14px;
        margin-right: 50px;
        &:last-child {
        }
        &.active {
          &::after {
          }
        }
        &::after {
        }
      }
    }
  }

  .content {
    padding-top: 37px;
  }
  .blue {
  }
  .date {
  }

  .current-item {
  }
  .current-item__footer {
    ul {
      li {
      }
    }
    h5 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .title-group {
    padding-top: 22px;
    p {
    }

    .btn {
      &:hover {
      }
    }
  }
  .current-item__title {
    font-size: 23px;
  }

  .current-item__body {
    padding-top: 20px;
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 15px;
      margin-bottom: 26px;
    }
  }
}
