.form-control{
  font-size: 16px;
}
.contact-body{
  .slidePage{
    height: 42.5vw;
    background: linear-gradient(to bottom, #302a2c 0%, rgba(44, 42, 90, 0) 100%);
  }
}

.contact-main {

  .slidePage{
    margin-bottom: 80px;
  }
        padding-bottom: 87px;
  .container-full {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* mobile */

  .Introduction {
    margin: 25px 0;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .text {
    margin-top: 0;
    font-size: 15px;
    font-family: "Open Sans" !important;
  }
  .text-span {
    color: #f52583;
  }
  .input {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  input {
    font-family: "Open Sans";
    width: 100%;
    padding: 15px 0px;
    border: none;
  }
  input:focus {
    outline: 0;
  }

  label {
    font-size: 14px;
    color: #666666;
    margin-top: 9px;
  }
  .question {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  a {
    text-decoration: none;
  }
  .btn-input {
    background-color: #f52583;
    color: white;
    padding: 6px 45px;
    border-radius: 50px;
    height: 40px;
    border: none;
    font-size: 18px;
  }
  .btn {
    padding: 2px 0;
    display: flex;
    flex-direction: row-reverse;
  }
  .section {
    display: flex;
  }
  @media (max-width: 575px) {
    .section {
      display: block;
    }
  }
  .form {
    width: 100%;
  }
  .item {
    max-width: 100%;
    width: 57%;
    padding-left: 110px;
  }
  @media (max-width: 1024px) {
    .item {
      padding-left: 20px;
    }
  }
  @media (max-width: 425px) {
    .item {
      padding-left: 5px;
    }
  }
  h4 {
    padding-top: 31px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
  }
  .icon {
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .icon-svg {
    margin-top: 10px;
    text-align: center;
    width: 35px;
  }
  @media (max-width: 425px) {
    .icon {
      padding-left: 7px;
    }
  }
  h5 {
    margin-left: 28px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 13px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  .phone {
    width: 129px;
    font-size: 15px;
    margin-left: 14px;
    color: #979797;
  }
  .link1 {
    margin-left: 12px;
    margin-top: 25px;
  }
  .city {
    margin-top: 36px;
  }


  .line .form-control + hr {
    height: 3px;
    border: 0 ;
    margin: 0;
    background: linear-gradient(
      42.48deg,
      #fecb40 17.19%,
      #f7507c 36.3%,
      #4852e8 56.71%,
      #47cdae 79.03%
    );
    filter: hue-rotate(0);
  }
  .line .form-control:focus + hr {
    transition: 100s linear;
    filter: hue-rotate(36000deg);
  }
  .line input ~ label {
    transform: translateY(-30px);
    display: block;
    transition: .3s;
  }
  .line input:valid ~ label,
  .line input:focus ~ label {
    transform: translateY(0);
  }



  textarea {
    font-family: "Open Sans";
    border: none;
    min-height: 136px;
    max-width: 100%;
    min-width: 100%;
    font-size: 18px;
    margin-top: 10px;
  }
  textarea:focus {
    outline: 0;
  }

  /* tablet */
  @media (min-width: 768px) {
    h2 {
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
    }
    .container {
      padding: 30px 35px;
    }
    .line {
      margin-top: 19px;
    }

    label {
      margin-top: 5px;
    }

    .input {
      margin-bottom: 27px;
    }

    input {
      padding: 12px 0 7px;
      font-size: 18px;
    }
    textarea {
      min-height: 118px;
    }

    .question {
      padding-top: 5px;
      padding-bottom: 7px;
      font-family: "Open Sans";
      font-size: 18px;
    }

    .input4 {
      margin-bottom: 31px;
    }

    .btn-input {
      padding: 8px 29px;
    }

    .item {
      padding-left: 46px;
    }
    .item {
      padding-left: 46px;
    }
    h4 {
      margin-top: 20px;
      padding-top: 0px;
      margin-bottom: 6px;
    }
    .icon {
      margin-bottom: 22px;
    }
    img {
      margin-bottom: 13px;
    }
    h5 {
      margin-left: 20px;
      margin-bottom: 0;
      padding-top: 0px;
    }
    .city {
      margin-top: 67px;
    }
  }

  /* mini desktop */
  @media (min-width: 992px) {
    .container {
      padding: 72px 45px;
    }

    .text {
      font-size: 16px;
    }
    .input {
      margin-bottom: 24px;
    }
    input {
      font-size: 18px;
    }
    .question {
      margin-top: 48px;
      margin-bottom: 48px;
    }
    .item {
      padding-left: 56px;
    }
    h4 {
      margin-bottom: 0px;
    }
    h5 {
      margin-left: 35px;
    }
    .phone {
      width: 137px;
      font-size: 16px;
      margin-left: 35px;
    }
    img {
      margin-bottom: 0;
    }
    .medelin {
      margin-left: 9px;
      margin-top: 9px;
    }
    .btn-input {
      padding: 8px 52px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  /* desktop */
  @media (min-width: 1200px) {
    h2 {
      font-size: 38px;
    }
    .container {
      padding: 80px 180px;
    }
    .form {
      margin-top: 16px;
    }
    .input {
      margin-bottom: 0;
    }
    .line {
      margin-top: 53px;
    }
    input {
      padding: 9px;
      font-size: 18px;
    }
    .btn {
      padding: 35px 0;
    }
    .btn-input {
      padding: 3px 79px;
      margin-right: 0;
      font-family: "Open Sans";
    }
    .item {
      padding-left: 109px;
      padding-top: 50px;
    }
    h4 {
      margin-bottom: 3px;
    }
    .phone {
      margin-left: 35px;
    }
  }
}

input:focus {
  outline: none;
}
