.ourwork-body {
	.slide {
		background-image: url("../img/home.jpg");
		@media (min-width: 376px) {
			background-image: url("../img/sm/home.jpg");
		}
		@media (min-width: 769px) {
			background-image: url("../img/md/home.jpg");
		}
		@media (min-width: 1025px) {
			background-image: url("../img/lg/home.jpg");
		}
		@media (min-width: 1441px) {
			background-image: url("../img/xxl/home.jpg");
		}
	}
}

.home-body {
	.slide {
		background-image: url("../img/home.jpg");
		@media (min-width: 376px) {
			background-image: url("../img/sm/home.jpg");
		}
		@media (min-width: 769px) {
			background-image: url("../img/md/home.jpg");
		}
		@media (min-width: 1025px) {
			background-image: url("../img/lg/home.jpg");
		}
		@media (min-width: 1441px) {
			background-image: url("../img/xxl/home.jpg");
		}
	}
}

.approach {
	position: relative;
	h5 {
		margin: 0;
		color: #fff;
		text-align: center;
		font-size: REM(14);
		padding: REM(59) 0 REM(50);
		letter-spacing: REM(5);
		z-index: 1;
		position: relative;
		// display: grid;
		// grid-template-columns: auto 1fr;
		// grid-gap: 100px;

		// --- responsive
		@media (min-width: 576px) {
			font-size: 18px;
			padding-bottom: 74px;
		}
		@media (min-width: 768px) {
			padding-top: 78px;
			padding-bottom: 16px;
		}
		@media (min-width: 992px) {
			padding-bottom: 21px;
		}
		@media (min-width: 1200px) {
			padding-bottom: 86px;
			padding-top: 250px;
		}
	}
	ul {
		margin: 0;
		list-style: none;
		padding-left: 0;
		li {
			margin-bottom: REM(10);
			font-weight: 500;

			// --- responsive
			@media (min-width: 576px) {
			}
			@media (min-width: 768px) {
				font-size: 18px;
				margin-bottom: REM(24);
			}
			@media (min-width: 992px) {
				font-size: 20px;
				margin-bottom: REM(10);
			}
			@media (min-width: 1200px) {
				font-size: 24px;
				margin-bottom: REM(32);
			}
			&::before {
				content: "→";
				display: inline-block;
				margin-right: REM(5);
			}
		}
	}
	.description {
		color: #fff;
		padding-bottom: REM(80);
		margin-bottom: REM(-100);
		@media (min-width: 992px) {
			padding-bottom: REM(420);
			margin-bottom: REM(-350);
		}
		z-index: 1;
		position: relative;
		display: grid;
		grid-template-columns: auto auto;

		@media (max-width:767px) {
			margin-top: -100px;
		}
		.arrows {
			display: flex;
			justify-content: space-between;
			width: 100px;
			margin-right: 31px;
			padding-top: 30px;
		}
		.arrow {
			background-color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3594 11.7969C12.7812 11.375 12.7812 10.6719 12.3594 10.25L3.26562 1.10938C2.79688 0.6875 2.09375 0.6875 1.67188 1.10938L0.59375 2.1875C0.171875 2.60938 0.171875 3.3125 0.59375 3.78125L7.8125 11L0.59375 18.2656C0.171875 18.7344 0.171875 19.4375 0.59375 19.8594L1.67188 20.9375C2.09375 21.3594 2.79688 21.3594 3.26562 20.9375L12.3594 11.7969Z' fill='white'/%3E%3C/svg%3E%0A");			width: 32px;
			height: 32px;
			border: 0;
			outline: 0 !important;
			cursor: pointer;
			background-position: center;
			background-repeat: no-repeat;
			&.disable {
				opacity: 0.1;
			}
		}
		.next {
		}
		.prov {
			transform: rotate(180deg);
		}
		.approach-wrapper {
			display: flex;
			flex-direction: column;
			width: 55%;
			position: relative;
			padding-bottom: 100px;
			@media (max-width: 1500px) {
				width: 75%;
			}
			@media (max-width: 1200px) {
			  width: 85%;
              justify-self: end;
			  margin-right: 20px;
			}
			@media (min-width: 1500px) {
				width: calc(100% - 180px);
			}  
			@media (max-width: 767px) {
				grid-column: 1/-1;
				width: 100%;
				margin-right: 0;
				padding-left: 10px;
				padding-right: 10px;
				margin-top: -110px;
			}
			.approach-item-text {
				position: absolute;
				opacity: 0;
				transition: .8s ease-in-out;
				top: 170px;
				transform: translateY(-50%);
				left: 10px;
				&.active{
					opacity: 1;
				}
			}
			.arrows{
				padding-top: 320px;
				@media (min-width: 1200px) {
					@media (max-width: 1300px) {
						padding-top: 350px;
					}
				}

			}
		}

		/*// --- responsive
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
			padding-left: 154px;
		}
		@media (min-width: 992px) {
			padding-left: 204px;
			padding-bottom: 224px;
		}
		@media (min-width: 1200px) {
			padding-left: 321px;
			padding-bottom: 224px;
			padding-right: 180px;
		}
		@media (min-width: 1200px) {
			padding-left: 321px;
			padding-bottom: 364px;
			padding-right: 180px;
		}*/
	}
	h2 {
		font-weight: 600;
		font-size: REM(14);
		margin: 0;
		padding-top: REM(20);
		line-height: REM(29);
		@media (min-width: 768px) {
			padding-top: 0;
			font-size: 16px;
		}
		@media (min-width: 992px) {
			font-size: 18px;
		}
		@media (min-width: 1200px) {
			font-size: 24px;
			line-height: 1.6;
		}
	}
	p {
		margin: 0;
		padding-top: REM(25);
		font-size: REM(14);
		font-family: "Open Sans";
		@media (min-width: 768px) {
			font-size: REM(15);
		}
		@media (min-width: 1200px) {
			font-size: REM(16);
		}
	}
	&::before {
		content: "";
		background: linear-gradient(
			to bottom,
			rgba(42, 48, 59, 1) 0%,
			rgba(253, 251, 253, 1) 100%
		);
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 400px;
		@media (min-width: 576px) {
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) -3%,
				rgba(242, 237, 250, 0.652615) 16.8%,
				rgba(168, 165, 181, 0.792264) 39.25%,
				rgba(134, 134, 149, 0.847278) 48.41%,
				rgba(96, 99, 112, 0.910175) 58.88%,
				#2a303b 100%
			);
		}
		z-index: 0;
	}
}

//--- fields

.fields {
	z-index: 1;
	position: relative;
	padding-bottom: 96px;

	// --- responsive
	@media (min-width: 576px) {
		padding-bottom: 120px;
	}
	@media (min-width: 768px) {
		padding-bottom: 100px;
	}
	@media (min-width: 992px) {
		padding-bottom: 88px;
	}
	@media (min-width: 1200px) {
		padding-bottom: 151px;
	}
	@media (min-width: 1200px) {
		.container-full {
			max-width: 77vw;
			margin-right: auto;
			margin-left: auto;
			padding-left: 0;
			padding-right: 0;
		}
	}

	h2 {
		font-size: 22px;
		font-weight: 600;
		color: #2C2A5A;
		// --- responsive
		@media (min-width: 576px) {
		}
		@media (min-width: 768px) {
		}
		@media (min-width: 992px) {
			font-size: 36px;
			max-width: 826px;
		}
		@media (min-width: 1200px) {
			max-width: 100%;
		}
	}

	.pic-and-li {
		@media (min-width: 767px) {
			margin-top: 62px;
		}
		@media (min-width: 992px) {
			display: flex;
		}
	}

	.pics {
		position: relative;
		@media (min-width: 992px) {
			width: 330px;
		}
		@media (min-width: 1200px) {
			width: 350px;
		}
		@media (min-width: 1300px) {
			width: 414px;
		}
		.pic {
			picture{
				display: none;
				@media (min-width: 992px) {
					display: block;
				}
				img{
					width: 100%;
				}
			}
				position: absolute;
				top: 440px;
				// right: -80px;
				opacity: 0;
				left: 120px;
				@media (min-width: 992px) {
					left: 0;
					right: 0;
				}
				transition: 0.8s ease-in-out;
				top: 50%;
				transform: translateY(-50%);
				visibility: hidden;
				z-index: -1;
				&.active {
					visibility: visible;
					z-index: 1;
					opacity: 1;
				}
			}

		.see-we-do {
			font-size: 14px;
			font-weight: 600;
			color: #2C2A5A;
			border-bottom: 2px solid #f52583;
			display: inline-block;
			margin-top: 30px;
			@media (min-width: 992px) {
				margin-top: 13px;

			}
		}
	}
	ol {
		font-size: REM(24);
		font-weight: 600;
		padding-bottom: 32px;
		padding-top: 40px;
		position: relative;
		// width: 100%;
		flex-grow: 1;
		// --- responsive
		height: 370px;
		@media (min-width: 576px) {
			height: 370px;
		}
		@media (min-width: 768px) {
			height: 400px;
		}
		@media (min-width: 992px) {
			min-width: 560px;
		}
		@media (min-width: 1200px) {
			padding-top: 149px;
		}
		li {
			color: rgba($color: #2a303b, $alpha: 0.4);
			margin-bottom: 7px;
			font-weight: 300;
			font-size: 18px;
			transition: 0.3s ease-in-out;
			position: absolute;
			transform: translateY(-50%);
			white-space: nowrap;
			font-weight: 600;

			@for $i from 0 to 9 {
				&:nth-child(#{$i + 1}) {
					top: #{$i * 50}px;
				}
			}
			opacity: 0;
			&:nth-child(2) {
				opacity: 0.2;
				font-size: 16px;
				@media (min-width: 768px) {
					font-size: 16px;
				}
			}
			&:nth-child(3) {
				opacity: 0.6;
				@media (min-width: 768px) {
					font-size: 20px;
				}
			}
			&:nth-child(4) {
				opacity: 1;
				@media (min-width: 768px) {
					font-size: 28px;
				}
			}
			&:nth-child(5) {
				opacity: 1;
				color: #f52583;
				font-size: 18px;
				font-weight: 600;
				@media (min-width: 768px) {
					font-size: 36px;
				}
			}
			&:nth-child(6) {
				opacity: 1;
				@media (min-width: 768px) {
					font-size: 28px;
				}
			}
			&:nth-child(7) {
				opacity: 0.6;
				@media (min-width: 768px) {
					font-size: 20px;
				}
			}
			&:nth-child(8) {
				opacity: 0.2;
				@media (min-width: 768px) {
					font-size: 16px;
					padding-top: 5px;
				}
			}
			// &.active {
			// 	// --- responsive
			// 	@media (min-width: 576px) {
			// 	}
			// 	@media (min-width: 768px) {
			// 		font-size: 36px;
			// 	}
			// 	@media (min-width: 992px) {
			// 	}
			// 	@media (min-width: 1200px) {
			// 	}
			// 	.number {
			// 	}
			// }
			.number {
				font-size: 11px;
				font-weight: 600;
				vertical-align: middle;
				margin-right: 10px;
				@media (min-width: 768px) {
				}
				@media (min-width: 992px) {
					margin-right: 19px;
				}
				@media (min-width: 1200px) {
				}
			}
			// &:nth-child(1)::before {
			//   content: "01";
			// }
			// &:nth-child(2)::before {
			//   content: "02";
			// }
			// &:nth-child(3)::before {
			//   content: "03";
			// }
		}
	}

	.fields-items {
		display: flex;
		.arrows {
			display: flex;
			justify-content: space-between;
			width: 100px;
			margin-right: 31px;
			z-index: 1;
			position: relative;
		}
		.arrow {
			background-color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3594 11.7969C12.7812 11.375 12.7812 10.6719 12.3594 10.25L3.26562 1.10938C2.79688 0.6875 2.09375 0.6875 1.67188 1.10938L0.59375 2.1875C0.171875 2.60938 0.171875 3.3125 0.59375 3.78125L7.8125 11L0.59375 18.2656C0.171875 18.7344 0.171875 19.4375 0.59375 19.8594L1.67188 20.9375C2.09375 21.3594 2.79688 21.3594 3.26562 20.9375L12.3594 11.7969Z' fill='%23F52583'/%3E%3C/svg%3E%0A");			width: 32px;
			height: 32px;
			border: 0;
			outline: 0 !important;
			cursor: pointer;
			background-position: center;
			background-repeat: no-repeat;
		}
		.next {
		}
		.prov {
			transform: rotate(180deg);
		}
		@media (min-width: 768px) {
		}
		.text {
			padding-right: 25px;
			p {
				max-width: 385px;
			}
			@media (min-width: 1200px) {
				padding-bottom: 25px;
			}
		}
		img {
			display: none;
		}

		// @media (min-width: 576px) {
		//   img {
		//     max-width: 250px;
		//     margin-top: -150px;
		//   }
		// }
		@media (min-width: 992px) {
			img {
				display: block;
				max-width: 300px;
				margin-top: -150px;
			}
		}
		@media (min-width: 992px) {
			img {
				max-width: 100%;
				position: absolute;
				bottom: 0;
			}
		}

		@media (min-width: 1200px) {
			.pic {
				width: 38%;
			}
			.text {
				width: 62%;
			}
		}
		p {
			color: #2a303b;
			font-family: "Open Sans";
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
		}
	}
}

.our-work {
	padding-bottom: 44px;
	@media (min-width: 767px) {
		padding-bottom: 41px;
	}
	@media (min-width: 992px) {
		padding-bottom: 52px;
	}
	@media (min-width: 1200px) {
		padding-bottom: 112px;
		padding-bottom: 151px;
	}
	h5 {
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 5px;
		color: rgba($color: #42667f, $alpha: 0.5);
		padding-bottom: 7px;

		@media (min-width: 576px) {
			font-size: 16px;
		}
		@media (min-width: 768px) {
			font-size: 18px;
		}
	}
	h2 {
		padding-bottom: 21px;
		font-size: 22px;
		color: #2C2A5A;
		// --- responsive
		@media (min-width: 576px) {
			font-size: 26px;
		}
		@media (min-width: 768px) {
			font-size: 36px;
		}
		@media (min-width: 992px) {
			font-size: 36px;
			width: 770px;
		}
		@media (min-width: 1200px) {
			font-size: 50px;
			width: 970px;
		}
	}
	// .work-box {
	//   display: flex;
	//   align-items: center;
	//   justify-content: center;
	// }
}
.works {
	padding-bottom: 20px;
	@media (max-width: 767px) {
		padding-right: 0;
		display: flex;
		flex-wrap: nowrap;
		overflow: auto;
		height: auto !important;
	}

	@media (min-width: 768px) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	// @media (min-width: 576px) {
	//   display: grid;
	//   // grid-template-columns: 33% 33% 33%;
	//   grid-gap: 15px 20px;

	//   grid-template-areas:
	//     "first  second second "
	//     "first  second second "
	//     "third third Fourth "
	//     "third third Fifth "
	//     "Sixth Sixth Fifth "
	//     "Sixth Sixth null ";
	// }
	.link{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		z-index: 2;
	}
}


.grid-sizer {
	width: 20%;
}

.our-work {
	@media (max-width: 767px) {
		.custom-padding {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
.work-box {
	.pic {
		background-position: center;
		background-size: cover;
		background-color: #f62683;
	}
	@media (max-width: 767px) {
		.pic {
			height: 364px;
			width: 280px;
		}
		padding-right: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		font-size: 14px;
		line-height: 19px;
		transform: none !important;
		&:last-child{
			padding-right: 10px;
		}
		img {
			display: none;
		}
	}
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	@media (min-width: 768px) {
		padding: 10px;
		picture{
			display: block;
		}
		.pic {
			position: relative;
			width: 100%;
			display: block;
		}
		img {
			display: block;
			width: 100%;
		}
	}

	.grid-sizer {
		width: 30%;
	}

	@media (min-width: 768px) {
		width: 50%;
	}

	@media (min-width: 1600px) {
		width: 33.333333%;
		&.scale-2{
			width: 66.6666666%;
		}
	}
	// @media (min-width: 768px) {
	// 	// width: 50% !important;
	// 	// height: 500px;
	// 	&:nth-child(1) {
	// 		width: 33.333333% !important;
	// 		// display: inline;
	// 		// grid-area: first;
	// 		.pic {
	// 			// --- responsive
	// 			height: 287px;
	// 			@media (min-width: 992px) {
	// 				height: 385px;
	// 			}
	// 			@media (min-width: 1200px) {
	// 				height: 607px;
	// 			}
	// 		}
	// 	}
	// 	&:nth-child(2) {
	// 		width: 66.666666%;
	// 		// grid-area: second;
	// 		.pic {
	// 			// --- responsive
	// 			height: 287px;
	// 			@media (min-width: 992px) {
	// 				height: 385px;
	// 			}
	// 			@media (min-width: 1200px) {
	// 				height: 607px;
	// 			}
	// 		}
	// 	}
	// 	&:nth-child(3) {
	// 		width: 66.666666%;
	// 		// grid-area: third;
	// 		.pic {
	// 			// --- responsive
	// 			height: 326px;
	// 			@media (min-width: 992px) {
	// 				height: 438px;
	// 			}
	// 			@media (min-width: 1200px) {
	// 				height: 607px;
	// 			}
	// 		}
	// 	}
	// 	&:nth-child(4) {
	// 		width: 33.333333%;
	// 		// grid-area: Fourth;
	// 		.pic {
	// 			// --- responsive
	// 			height: 220px;
	// 			@media (min-width: 992px) {
	// 				height: 225px;
	// 			}
	// 			@media (min-width: 1200px) {
	// 				height: 356px;
	// 			}
	// 		}
	// 	}
	// 	&:nth-child(5) {
	// 		width: 33.333333%;
	// 		// grid-area: Fifth;
	// 		.pic {
	// 			// --- responsive
	// 			height: 285px;
	// 			@media (min-width: 992px) {
	// 				height: 383px;
	// 			}
	// 			@media (min-width: 1200px) {
	// 				height: 607px;
	// 			}
	// 		}
	// 	}
	// 	&:nth-child(6) {
	// 		width: 66.666666%;
	// 		// grid-area: Sixth;
	// 		.pic {
	// 			// --- responsive
	// 			height: 326px;
	// 			@media (min-width: 992px) {
	// 				height: 437px;
	// 			}
	// 			@media (min-width: 1200px) {
	// 				height: 607px;
	// 			}
	// 		}
	// 	}
	// }
	hr {
		height: 100px;
		width: 5px;
		border: 0;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		&.yellow {
			background: #ffd402;
		}
		&.blue {
			background: #730ab6;
		}
		&.red {
			background: #f62683;
		}
	}

	.text-box {
		position: absolute;
		bottom: 0;

		@media (max-width: 575px) {
			width: calc(100% - 10px);
		}
		height: 100%;
		width: 100%;
		// &::before {
		// 	content: "";
		// 	display: block;
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: linear-gradient(
		// 		180deg,
		// 		rgba(0, 0, 0, 0.0001) 61.39%,
		// 		#000000 135.42%
		// 	);
		// 	z-index: 0;
		// }
	}
	.text {
		width: calc(100% - 10px);
		position: absolute;
		bottom: 0;
		display: flex;
		color: #fff;
		height: 71px;
		align-items: center;
		z-index: 1;
		justify-content: space-between;
		padding-right: 16px;
		flex-wrap: wrap;
		height: 100%;
		align-items: flex-end;
		padding-bottom: 20px;
		@media (min-width: 992px) {
			padding-bottom: 30px;
		}

		.only-text {
			height: calc(100% - 39px);
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-left: 20px;
			font-family: "Open Sans";
			width: 100%;
			padding-bottom: 20px;
			@media (min-width: 992px) {
				padding-bottom: 30px;
				padding-left: 30px;
			}
			@media (max-width: 767px) {
				height: calc(100% - 18px)
			}
			h6 {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 8px;
				// --- responsive
				@media (min-width: 576px) {
				}
				@media (min-width: 768px) {
					font-size: 16px;
				}
				@media (min-width: 992px) {
				}
				@media (min-width: 1200px) {
					font-size: 18px;
				}
			}

			p {
				font-size: 16px;
				font-weight: 600;
				// --- responsive
				@media (min-width: 576px) {
				}
				@media (min-width: 768px) {
					font-size: 18px;
				}
				@media (min-width: 992px) {
					font-size: 24px;
				}
				@media (min-width: 1200px) {
					font-size: 24px;
				}
			}
		}
		// &::after {
		//   content: "";
		//   display: block;
		//   position: absolute;
		//   left: 0;
		//   height: 100%;
		//   width: 5px;
		//   background: #ffd402;
		//   z-index: 1;
		// }
	}
	.work-logo {
		width: 100%;
		padding-left: 20px;
		font-size: 24px;
		font-weight: 600;
		margin-top: 18px;
		text-shadow: 0px 2px 8px #031029d9;
		@media (min-width: 992px) {
			font-size: 36px;
			margin-top: 20px;
			padding-left: 30px;

		}
	}
}

.think-ceate-itrate {
	width: 100%;
	padding-top: 14px;
	@media (min-width: 576px) {
		padding-top: 31px;
	}
	@media (min-width: 768px) {
		padding-top: 41px;
	}
	@media (min-width: 992px) {
		padding-top: 72px;
	}
	@media (min-width: 1200px) {
		padding-top: 111px;
	}
	img {
		width: 100%;
		max-width: 860px;
		margin-left: auto;
		display: block;
		margin-right: auto;
	}
}

.new-us {
	padding-top: 59px;
	background: #efefef;
	padding-bottom: 13px;

	@media (min-width: 576px) {
		padding-bottom: 90px;
	}
	.subtitle {
		font-size: 14px;
		line-height: 21px;
		color: #2C2A5A;
		}
	h3 {
		padding-bottom: 66px;
		font-size: 18px;
		list-style: 54px;
		font-weight: bold;
		color: #2C2A5A;
		@media (min-width: 576px) {
			font-size: 30px;
		}
		@media (min-width: 767px) {
			font-size: 36px;
		}
		@media (min-width: 992px) {
			font-size: 50px;
		}
	}
}

.new-item {
	@media (max-width: 575px) {
		padding-bottom: 51px;
		display: flex;
		flex-direction: column;
		.num {
			color: #2C2A5A;
			position: absolute;
			margin-top: 4px;
		}
		.title {
			order: 1;
			padding-left: 30px;
			padding-bottom: 0 !important;
		}
		.new-item-pic-and-dis {
			order: 2;
		}
		.dec {
			order: 3;
			margin-top: 10px;
		}
	}
	@media (min-width: 576px) {
		position: relative;
		display: grid;
		grid-template-columns: 46% 18% 36%;
		grid-template-areas:
			"pic num title "
			"pic num title "
			"dec num title ";

		&:nth-child(even) {
			grid-template-columns: 36% 18% 46%;
			direction: rtl;
			// grid-template-areas:
			//   " title num pic"
			//   " dec num pic"
			//   " dec num pic";
			.dec {
				padding-right: 46px;
				padding-left: 0;
			}
		}
		&:first-child {
			.title{
				padding-top: 40px;
			}
			.title,
			.new-item-pic-and-dis {
				padding-top: 0;
			}
			.dec {
				padding-bottom: 30px;
			}
		}
		&:last-child {
			.dec {
				padding-top: 30px;
			}
			.new-item-pic-and-dis {
				padding-bottom: 0;
			}
		}
	}
	.new-item-pic-and-dis {
		padding: 40px 0;
		z-index: 2;
		position: relative;
		.pic-parent {
			width: 100%;
			transition: 0.5s;
			position: relative;
			overflow: hidden;
			div {
				transition: 0.5s;
				mix-blend-mode: multiply;
			}
		}


		@media (min-width: 576px) {
			&.hover {
				.pic-parent {
					background-color: #2a303b;
					width: calc(100vw - 60px);

					@media (min-width: 768px) {
						width: calc(100vw - 70px);
					}
					@media (min-width: 992px) {
						width: calc(100vw - 82px);
					}
					@media (min-width: 1200px) {
						width: calc(100vw - 155px);
					}

					div {
						opacity: 0.6;
					}
				}
				+ .title {
					color: #fff;
				}
				.dec {
					opacity: 1;
				}
			}
		}

		// @media (min-width: 576px) {
		//   padding-left: REM(30);
		//   padding-right: REM(30);
		// }
		// @media (min-width: 768px) {
		//   padding-left: REM(34);
		//   padding-right: REM(34);
		// }
		// @media (min-width: 992px) {
		//   padding-left: REM(42);
		//   padding-right: REM(42);
		// }
		// @media (min-width: 1200px) {
		//   padding-left: REM(70);
		//   padding-right: REM(70);
		// }
		@media (max-width: 575px) {
			padding-top: 17px;
			padding-bottom: 10px;
			div {
				background-image: none !important;
			}
		}
		@media (min-width: 576px) {
			div {
				background-size: cover;
				background-position: center;
				height: 100%;
				// &:hover{
				//   position: absolute;
				//   left: 0;
				//   top: 40px;
				//   width: 100%;
				//   height: calc(100% - 80px);
				// }
			}

			img {
				display: none;
			}
			grid-area: pic;
		}
		img {
			width: 100%;
		}
	}

	.num {
		@media (max-width: 575px) {
			display: inline;
			margin-right: 12px;
			font-size: 14px;
			font-weight: 600;
			color: #2a303b;
			opacity: 0.5;
		}
		@media (min-width: 576px) {
			grid-area: num;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			span {
				background: #efefef;
				width: 100px;
				height: 100px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 1;
			}
			&::before,
			&::after {
				width: 1px;
				height: 50%;
				content: "";
				background: #2C2A5A;
				position: absolute;
				z-index: 0;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
		}
	}
	.title {
		pointer-events: none;

		font-size: 18px;
		@media (min-width: 576px) {
			font-size: 16px;
		}
		@media (min-width: 768px) {
			font-size: 18px;
		}
		@media (min-width: 992px) {
			font-size: 24px;
		}
		@media (min-width: 1200px) {
			font-size: 34px;
		}
		padding-bottom: 40px;
		@media (max-width: 575px) {
			display: inline;
			div {
				display: inline;
				font-size: 15px;
				+ h4 {
					display: block;
					padding-top: 4px;
					font-size: 15px;
					margin-left: -30px;
				}
			}
			h4 {
				display: inline;
			}
		}
		@media (max-width: 991px) {
			div {
				font-size: 15px;
				+ h4 {
					font-size: 15px;
				}
			}
		}
		@media (min-width: 576px) {
			padding-top: 40px;
			align-content: flex-end;
			display: flex;
			flex-direction: column;
			// justify-content: flex-end;
			justify-content: center;
			grid-area: title;
			z-index: 3;
			transition: 0.5s;
		}

		@media (min-width: 1200px) {
			padding-right: 46px;
		}
		color: #2C2A5A;

		h4 {
			font-weight: bold;
			@media (min-width: 992px) {
				font-size: 24px;
			}
		}
	}
	.dec {
		font-size: 15px;
		color: #2a303b;
		font-family: "Open Sans";
		font-size: 15px;
		line-height: 20px;
		pointer-events: none;
		@media (min-width: 576px) {
			color: #fff;
			direction: ltr;
			// padding-bottom: 40px;
			grid-area: dec;
			display: flex;
			// flex-direction: row;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 46px;
			opacity: 0;
			transition: 0.5s;
		}

		@media (min-width: 768px) {
			font-size: 16px;
		}
		@media (min-width: 992px) {
		}
	}
}

.new-item {
	&:nth-child(1) {
		.pic-parent {
			// --- responsive
			@media (min-width: 576px) {
				height: 170px;
			}
			@media (min-width: 768px) {
				height: 193px;
			}
			@media (min-width: 992px) {
				height: 287px;
			}
			@media (min-width: 1200px) {
				height: 319px;
			}
		}
	}
	&:nth-child(2) {
		.pic-parent {
			// --- responsive
			@media (min-width: 576px) {
				height: 100px;
			}
			@media (min-width: 768px) {
				height: 209px;
			}
			@media (min-width: 992px) {
				height: 213px;
			}
			@media (min-width: 1200px) {
				height: 250px;
			}
		}
	}
	&:nth-child(3) {
		.pic-parent {
			// --- responsive
			@media (min-width: 576px) {
				height: 120px;
			}
			@media (min-width: 768px) {
				height: 209px;
			}
			@media (min-width: 992px) {
				height: 253px;
			}
			@media (min-width: 1200px) {
				height: 315px;
			}
		}
	}
}
