.project-body {
  p{
    font-family: 'Open Sans';
  }
  .project-slider{
    background: linear-gradient(to bottom, #302a2c 0%, rgba(44, 42, 90, 0) 100%);
  }
  .title-nav {
    width: 100%;
    // position: absolute;
    color: #ffffff;
      // --- responsive
      background-size: cover;
      background-image: url('../img/project-slide.jpg');
      background-position: bottom;

      @media (min-width: 376px) {
        background-image: url('../img/sm/project-slide.jpg');
      }
      @media (min-width: 575px) {
      }

      @media (min-width: 769px) {
        background-image: url('../img/md/project-slide.jpg');
      }

      @media (min-width: 1025px) {
        background-image: url('../img/lg/project-slide.jpg');
      }

      @media (min-width: 1441px) {
        background-image: url('../img/lg/project-slide.jpg');
      }
  }

  .text1-nav .title {
	  color: #2C2A5A;
	  font-weight: bold;
  }
  .text-small {
    font-style: normal;
    font-weight: 250;
    font-size: 12px;
    line-height: 16px;
  }
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 3px;
    margin-bottom: 9px;
  }
  .text-nav h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .text-nav {
    padding: 92px 10px 49px 10px;
  }
  .text1-nav {
    text-align: left;
  }
  .text1-nav h5 {
    margin-top: 0;
  }
  picture {
    width: 100%;
  }
  img {
    width: 100%;
  }
  .text1-nav h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 5px;
  }
  .text1-nav h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-top: 17px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container h5 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
  }
  h1 {
    font-size: 28px;
    margin-left: 21px;
  }
  .container small {
    font-size: 11px;
    font-weight: 600;
    margin-top: 6px;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
  .container h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
  }

  @media (min-width: 576px) {
    .title-nav {
      padding-top: 140px;
      padding-bottom: 100px;
    }
    .text-small {
      font-size: 14px;
    }
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      margin-top: 1px;
      margin-bottom: 18px;
    }
    .text-nav {
      padding: 61px 0px 49px 0px;
    }

    .text-nav h3 {
      font-weight: 600;
      font-size: 40px;
      line-height: 72px;
      margin-top: 25px;
    }
    .text1-nav h5 {
      font-size: 14px;
      margin-top: 50px;
      margin-bottom: 30px;
      font-weight: 500;
    }
    .text1-nav h4 {
      font-size: 28px;
      line-height: 48px;
    }
  }
  @media (min-width: 768px) {
    .title-nav {
      padding-top: 140px;
      padding-bottom: 100px;
    }
    .text-small {
      font-size: 14px;
    }
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 27px;
      margin-top: 1px;
      margin-bottom: 18px;
    }
    .text-nav {
      padding: 91px 0px 49px 0px;
    }

    .text-nav h3 {
      font-weight: 600;
      font-size: 48px;
      line-height: 72px;
      margin-top: 25px;
      margin-bottom: 0;
    }
    .text1-nav h5 {
      font-size: 14px;
      margin-top: 50px;
      margin-bottom: 30px;
      font-weight: 500;
    }
    .text1-nav h4 {
      font-size: 32px;
      line-height: 48px;
    }
    .container {
      padding: 4px 0 20px 34px;
    }
    .section1 {
      display: flex;
    }
    .section2 {
      display: flex;
    }
    .section2 h4 {
      font-size: 22px;
      font-weight: 800;
    }
    .main-right {
      max-width: 100%;
      width: 283px;
      margin-left: 16px;
      margin-top: 70px;
    }
    h1 {
      font-size: 29px;
    }
    h2 {
      font-size: 24px;
    }
    .note {
      margin-top: 5px;
    }
    .note1 {
      margin-bottom: 84px;
    }
    .section2 {
      padding-top: 53px;
    }

    .section2 h4 {
      font-size: 24px;
    }
    .section2 .note {
      padding-left: 20px;
      padding-right: 11px;
    }
    .section2 .note1 {
      padding-left: 20px;
      padding-right: 11px;
    }
    .main-right {
      max-width: 100%;
      width: 367px;
      margin-left: 16px;
      margin-top: 187px;
    }
    .main1-right {
      padding-top: 17px;
    }
    .main1-left h4 {
      max-width: 100%;
      width: 339px;
    }
  }

  @media (min-width: 1024px) {
    .text-small {
      font-size: 18px;
    }
    .title {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      margin-top: 7px;
      margin-bottom: 40px;
    }
    .text-nav {
      
    }
    .text-nav h3 {
      margin-bottom: 116px;
      
      font-style: normal;
      font-weight: 600;
      font-size: 72px;
      line-height: 80px;
    }
    .text1-nav h5 {
      font-size: 18px;
    }
    .text1-nav h4 {
      font-size: 40px;
      margin-top: 30px;
    }
    .main-left {
      margin-top: 104px;
    }
    .main-right {
      max-width: 100%;
      width: 449px;
      margin-top: 80px;
    }
    .section1 p {
      font-size: 16px;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 34px;
    }
    .section1 small {
      margin-top: 22px;
    }
    .container {
      padding: 0;
    }
    .section1 {
      padding-top: 60px;
      padding-bottom: 50px;
    }
    .section2 {
      padding-top: 24px;
    }
    .section2 h4 {
      font-size: 36px;
    }
    .section2 p {
      font-size: 16px;
    }
    .main1-left {
      max-width: 100%;
      width: 478px;
    }
  }

  @media (min-width: 1440px) {
    .title-nav {
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .text-nav {
      padding-top: 140px;
    }
    .text-nav h4 {
      font-size: 48px;
      font-weight: 500;
      margin-top: 15px;
    }
    .text-nav h3 {
      font-size: 96px;
      line-height: 103px;
    }
    .text1-nav {
      padding-top: 20px;
    }
    h1 {
      
      font-size: 24px;
	  color: #2C2A5A;
      line-height: 80px;
      font-weight: 600;
    }
    h2 {
      
      font-style: normal;
      font-weight: 200;
      font-size: 40px;
      line-height: 80px;
    }
  }
  @media (max-width: 1430px) {
    .hide {
      display: none;
      margin-top: 43px;
    }
  }

  .slider-pics{
    margin-top: -8vw;
	iframe,
	.slider-pic {
      // width: 1300px;
      width: 100%;
      height: calc(54vw - 140px);
      object-fit: cover;
      @media (max-width: 1199px) {
        height: calc(54vw - 84px);
      }
      @media (max-width: 991px) {
        height: calc(54vw - 68px);
      }
      @media (max-width: 767px) {
        height: calc(54vw - 20px);
      }
	}
	.slick-dots {
		bottom: 20px !important;
		text-align: right !important;
		padding: 0 30px 0 0 !important;
		li button:before {
			color: #fff !important;
		}
	}
  }

  .main {
	  // padding: 0 200px;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }
  .implemented {
	  color: #F52583;
	  margin-top: 60px;
	  text-align: left;
  }
  .content {
	  display: grid;
	  grid-template-columns: 1fr 3fr;
	  grid-gap: 70px;
    @media (max-width: 767px) {
      display: block;
    }
  }
  .service-titles {
    margin-bottom: 45px;
  }
  .service-title {
	margin-bottom: 20px;
	font-weight: bold;
    display: flex;
	.number {
	  margin-right: 10px;
    display: block;
    margin-top: 1px;
	}
	.title {
		color: #2C2A5A;
		font-size: 24px;
    margin-top: 0;
	}
  }
  .descriptions {
	  p {
		  color: #2C2A5A;
	  }
	  &>*:first-child {
		  margin-bottom: 20px;
	  }
	  .details {
		  display: flex;
		  justify-content: space-between;
		  margin-top: 50px;
      flex-wrap: wrap;
      @media (max-width:767px) {
        flex-direction: column;
      }
		  .detail {
			 color: #2C2A5A;
        font-weight: bold;
        margin-bottom: 27px;
        font-size: 22px;
        // white-space: nowrap;
        @media (max-width:1200px) {
          font-size: 22px;
        }
       small{
         display: block;
         font-size: 16px;
         font-weight: 300;
       }
		  }
	  }
	  .pics {
		  display: grid;
		  grid-template-columns: repeat(3, 1fr);
		  grid-gap: 20px;
      img{
        margin-top: 50px;
      }
      @media (max-width: 991px) {
        grid-gap: 15px;
      }
      @media (max-width: 767px) {
        grid-gap: 10px;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        overflow: auto;
        img{
          width: auto;
          height: 263px;
          &:last-child{
            margin-right: 10px;
          }
        }
      }
	  }
	  .notes {
		  margin-top: 50px;
		  margin-bottom: 100px;
			  color: #2C2A5A;
			  margin-bottom: 40px;
			  h4 {
				  margin-bottom: 15px;
				  font-size: 24px;
				  font-weight: bold;
          margin-top: 57px;
			  }
        p{

        }
			  .dg {
				  font-weight: bold;
			  }
	  }
  }
}
