.seviceSlide {
	background: linear-gradient(
		to bottom,
		#302a2c 0%,
		rgba(44, 42, 90, 0) 100%
	);
	position: relative;
	img {
		width: 100%;
	}
	picture {
		display: block;
		line-height: 0;
	}
	h1 {
		position: absolute;
		top: calc(50% + 10px);
		color: #fff;
		z-index: 1;
		font-weight: 600;
		font-size: 24px;
		line-height: 1.1;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
		@media (min-width: 576px) {
			top: calc(50% + 12px);
			font-size: 28px;
		}
		@media (min-width: 768px) {
			top: calc(50% + 15px);
			font-size: 36px;
		}
		@media (min-width: 992px) {
			top: calc(50% + 20px);
			font-size: 64px;
		}
		@media (min-width: 1200px) {
			top: calc(50% + 25px);
			font-size: 96px;
		}
	}
	min-height: 31.2vw;
	margin-bottom: 39px;
	@media (min-width: 576px) {
		margin-bottom: 45px;
	}
	@media (min-width: 768px) {
		margin-bottom: 61px;
	}
	@media (min-width: 992px) {
		margin-bottom: 70px;
	}
	@media (min-width: 1200px) {
		margin-bottom: 65px;
	}
}

.service-body {
	p{
		color: #2C2A5A;
	}
	li{
		color: #2C2A5A;
	}
	.container-full {
		@media (min-width: 768px) {
		}
		@media (min-width: 992px) {
		}
		@media (min-width: 1200px) {
			padding-right: 180px;
			padding-left: 180px;
		}
	}
}



.is-digital{
	.yellow{
		margin-bottom: 20px;
	}
}

.service-main {
	.us-different {
		margin-top: 70px;
		margin-bottom: 70px;
		@media (min-width: 768px) {
			background: linear-gradient(
				270.08deg,
				rgba(0, 80, 155, 0) 0.07%,
				#383f33 100.24%
			);
		}
		.container-full {
			@media (min-width: 768px) {
				height: 46.6vw;
			}
			@media (min-width: 1200px) {
				height: 42.6vw;
			}
		}
		picture {
			display: block;
		}
		img {
			width: 100%;
			@media (min-width: 768px) {
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1200px) {
			}
		}

		.container-full {
			position: relative;
			@media (min-width: 768px) {
				display: flex;
				padding-top: 42px;
				padding-bottom: 42px;
				color: #fff;
				flex-direction: column;
				justify-content: center;
			}
			// @media (min-width: 992px) {
			// 	padding-top: 54px;
			// 	padding-bottom: 54px;
			// }
			// @media (min-width: 1200px) {
			// 	padding-bottom: 110px;
			// 	padding-top: 110px;
			// }
		}

		h2 {
			font-weight: 600;
			font-size: 24px;
			line-height: 1.2;
			@media (max-width: 768px) {
				margin-bottom: 10px;
			}
			@media (min-width: 768px) {
				font-weight: 600;
				font-size: 24px;
			}
			@media (min-width: 992px) {
				font-size: 36px;
			}
		}
		p {
			font-size: 15px;
			@media (max-width: 768px) {
				margin-top: 20px;
			}
			@media (min-width: 768px) {
				font-size: 15px;
				padding-top: 10px;
				color: #fff;
			}
		}
		p,
		h2 {
			@media (min-width: 768px) {
				z-index: 1;
				width: 50%;
				position: relative;
			}
			@media (min-width: 992px) {
			}
			@media (min-width: 1300px) {
				width: 45%;
			}
		}
	}
}

.strategic-capability {
	margin-bottom: 75px;
	margin-top: 75px;
	@media (min-width: 576px) {
		margin-top: 80px;
		margin-bottom: 70px;
	}
	@media (min-width: 768px) {
		margin-top: 68px;
		margin-bottom: 58px;
	}
	@media (min-width: 992px) {
		margin-top: 64px;
		margin-bottom: 54px;
	}
	@media (min-width: 1200px) {
		margin-top: 114px;
		margin-bottom: 104px;
	}
	@media (min-width: 1300px) {
		.container-full {
			display: flex;
		}
	}
	h2 {
		font-weight: bold;
		font-size: 24px;
		color: #ffd402;
		padding-bottom: 20px;
		margin-right: 20px;
		line-height: 1.1;
		@media (min-width: 768px) {
			font-size: 32px;
			max-width: 300px;
		}
		@media (min-width: 992px) {
			font-size: 36px;
			max-width: 100%;
		}
		@media (min-width: 1300px) {
			font-size: 48px;
			max-width: 430px;
			padding-top: 0;
		}
		@media (min-width: 1600px) {
			margin-right: 50px;
		}
	}
	ul {
		border-left: solid 2px #ffd402;
		padding-left: 21px;
		margin-bottom: 22px;
		@media (min-width: 768px) {
			margin-left: 0;
			margin-right: 30px;
			width: 33%;
		}
	}

	li {
		white-space: nowrap;
	}
	.flex {
		display: block;
		flex-grow: 1;
		@media (min-width: 768px) {
			display: flex;
		}
		@media (min-width: 992px) {
		}
		@media (min-width: 1300px) {
		}
	}
}

@import "service/strategy";
@import "service/development";
@import "service/measurment";
@import "service/design";
@import "service/branding";
@import "service/corporate";
@import "service/video";
