
.slidePage {
	position: relative;
	margin-bottom: 10px;

	picture {
		display: block;
		line-height: 0;
	}

	img {
		width: 100%;
	}

	h1 {
		position: absolute;
		bottom: 10%;
		color: #fff;
		font-size: 35px;
		font-weight: 600;
		@media (min-width: 576px) {
			bottom: 30%;
			font-size: 45px;
		}
		@media (min-width: 768px) {
			bottom: 45%;
			font-size: 61px;
			@media (max-width: 773px) {
			  &.es {
			  	bottom: 35%;
			  }
			}
		}
		@media (min-width: 992px) {
			bottom: 40%;
			font-size: 72px;
		}
		@media (min-width: 1200px) {
			bottom: 40%;
			font-size: 106px;
			&.es {
				bottom: 30%;
			}
		}
	}
}

.what-we-do-body {
	/* the slides */
	.slick-slide div{
	//  margin: 0 5px;
	outline: none !important;
	}
	/* the parent */
	.slick-list {
	//  margin: 0 -5px;
	.slick-track{
		display: flex;
	}
	}
}
.chevron-arrows {
	display: grid;
	grid-template-columns: 15px 15px;
	grid-gap: 50px;
	margin-top: 20px;
	@media (max-width: 767px) {
		justify-content: space-between;
		margin-right: 20px;
		justify-content: space-between;
		grid-template-columns: 20px 20px;
		width: 100%;
	}
}
.chevron-arrows button {
	cursor: pointer;
	background: none;
	border: 0;
	outline: none !important;
}

.service {
	overflow-x: hidden;
	padding-left: 0;
	overflow-y: hidden;
	margin-bottom: 62px;
	padding-bottom: 5px;
	// display: flex;
	@media (min-width: 768px) {
		margin-bottom: 62px;
		padding-bottom: 5px;
		// transform: translateY(-20%);
		margin-top: 0px;
	}
	@media (min-width: 768px) {
		// transform: translateY(-30%);
		margin-top: -150px;
	}
	@media (min-width: 992px) {
		// transform: translateY(-40%);
		margin-top: -200px;
	}
	@media (min-width: 1200px) {
		// transform: translateY(-50%);
		margin-top: -240px;
	}

	// .container-full {
	// 	display: flex;
	// 	flex-wrap: nowrap;
	// 	//width: calc(220px * 7);
	// 	@media (min-width: 768px) {
	// 		width: calc(240px * 7);
	// 	}
	// 	@media (min-width: 992px) {
	// 		width: calc(320px * 7);
	// 	}
	// 	@media (min-width: 1200px) {
	// 		width: calc(330px * 7);
	// 	}
	// }
}

.serviceItem-padding{
	padding-right: 20px;
		&.last-child{
			padding-right: 10px;
		}
		&.first-child{
			padding-left: 10px;
		}
	@media (min-width: 768px) {
		&.last-child{
			padding-right: 34px;
		}
		&.first-child{
			padding-left: 34px;
		}
	}
	@media (min-width: 992px) {
		&.last-child{
			padding-right: 42px;
		}
		&.first-child{
			padding-left: 42px;
		}
	}
	@media (min-width: 1200px) {
		&.last-child{
			padding-right: 72px;
		}
		&.first-child{
			padding-left: 72px;
		}
	}

}
.serviceItem {
	width: 205px;
	height: 310px;
	border-radius: 8px;
	// margin-right: 20px;
	.view-more {
		opacity: 0;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		transition: all .3s ease-in-out;
		@media (max-width: 1199px) {
			opacity: 1;
			font-size: 13px;
		}
	}

	&::after {
		content: '';
		background-color: #AB2E91;
		mix-blend-mode: multiply;
		width: 100%;
		height: 100%;
		display: block;
		opacity: 0;
		border-radius: 8px;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .4s ease-in-out;
		@media (max-width: 1199px) {
			display: none;
		}
	}


@media (min-width: 1200px) {

	&:hover:after {
		opacity: 0.9;
	}

	&:hover > .serviceItem__text {
		transform: translateY(-40px);
	}

	&:hover > .serviceItem__text > .view-more {
		opacity: 1;
		transform: translateY(-40px);
	}

}
	.serviceItem__text {
		padding: 20px;
		transition: all .3s ease-in-out;
		z-index: 2;
	}

	.link {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 10;
	}

	@media (min-width: 768px) {
		width: 220px;
		height: 333px;
		//margin-right: 20px;
	}
	@media (min-width: 992px) {
		width: 300px;
		height: 455px;
	}
	@media (min-width: 1200px) {
		width: 310px;
		height: 470px;
	}

	color: #fff;
	position: relative;
	//margin-right: 15px;
	img {
		max-width: 100%;
		border-radius: 8px;
	}

	&__text {
		position: absolute;
		bottom: 0;
		font-family: "Open Sans";
		font-size: 13px;
		padding: 0 15px 6px;
		line-height: 1.3;
		p.es {
		 margin-bottom: 20px;
		}

		h3 {
			margin-bottom: 35px;
			font-size: 18px;
			@media (min-width: 768px) {
				font-size: 24px;
			}
			@media (min-width: 992px) {
				font-size: 28px;
			}
			@media (min-width: 1200px) {
				font-size: 28px;
			}
		}

		p {
			font-size: 11px;
			height: 120px;
			@media (min-width: 768px) {
				font-size: 12px;
			}
			@media (min-width: 992px) {
				font-size: 15px;
			}
			@media (min-width: 1200px) {
				height: 90px;
			}
		}


	}
}


.view-our-work {
	img {
		width: calc(100% + 20px);
		margin-left: -10px;
		margin-right: -10px;
		@media (min-width: 576px) {
			width: calc(100% + 60px);
			margin-left: -30px;
			margin-right: -30px;
		}
		@media (min-width: 767px) {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}

	.holder {
		position: relative;
	}

	.text-group {

		a{
			color: inherit !important;
			text-decoration: none;
		}

		h6{
		font-size: 14px;
		letter-spacing: 5px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-top: 15px;
		}
		h5,
		p {
			font-size: 15px;
			color: #2A303B;
			font-family: 'Open Sans';
		}

		@media (min-width: 768px) {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50%;
			transform: translateY(-50%);
			padding-right: 30px;
			padding-left: 10px;
			font-size: 18px;
			h6{
				font-size: 18px;
				margin-bottom: 23px;
			}
		}
		@media (min-width: 992px) {
			h5,
			p {
				font-size: 28px;
			}
			padding-left: 15px;
			padding-right: 50px;
		}
		@media (min-width: 1200px) {
			padding-right: 110px;
		}

		h5 {
			display: block;
			padding-top: 20px;
		}
	}
}

.images-container {

}

.list-of-service {
	margin-bottom: 77px;
	@media (min-width: 576px) {
		margin-bottom: 60px;
	}
	@media (min-width: 768px) {
		margin-bottom: 52px;
	}
	@media (min-width: 992px) {
		margin-bottom: 55px;
	}
	@media (min-width: 1200px) {
		margin-bottom: 64px;
	}

	h4 {
		text-align: center;
		font-size: 15px;
		font-weight: 600;
		padding-bottom: 56px;
		padding-top: 77px;
		@media (min-width: 768px) {
			padding-top: 75px;
			font-size: 18px;
			padding-bottom: 74px;
		}
		@media (min-width: 992px) {
			font-size: 28px;
			padding-bottom: 112px;
			padding-top: 114px;
		}
		@media (min-width: 1200px) {
			font-size: 28px;
			padding-bottom: 156px;
			padding-top: 120px;
			padding-left: 180px;
			padding-right: 180px;
		}
	}

	.images-holder {
		overflow-x: auto;
		overflow-y: hidden;
		height: 160px;
		width: 100%;

		img {
			height: 100%;
		}

		@media (min-width: 576px) {
			height: auto;
			width: 100%;
			img {
				height: auto;
				width: 100%;
			}
		}

	}
}

.what-we-do-body {
	.slidePage {
		min-height: 66.6vw;
	}
}

.filters-button-group {
	overflow: auto;
	margin-bottom: 34px;
	margin-top: 21px;
	@media (max-width: 767px) {
		padding-left: 30px;
	}
	@media (min-width: 768px) {
		margin-top: 30px;
	}
	@media (min-width: 992px) {
		margin-top: 53px;
	}
	@media (min-width: 1200px) {
		margin-top: 111px;
	}

	ul {
		display: flex;

		li {
			padding-right: 20px;
			white-space: nowrap;
		}

		button {
			background: transparent;
			border: 0;
			outline: none !important;
			cursor: pointer;
			color: #707A8C;

			&.active {
				color: #fff;

				&::after {
					display: block;
					font-weight: 600;
				}
			}

			&::after {
				content: "";
				width: 7px;
				height: 7px;
				display: block;
				margin: 7px auto;
				border-radius: 50%;
				background: #dc54f2;
				display: none;
			}
		}

	}
}

.works {
	// --- responsive
	@media (min-width: 768px) {
		margin-left: -10px;
	}
}

.ourwork-body {
	.slide h1 {
		padding-left: REM(10) !important;
		padding-right: REM(10) !important;
		max-width: 100%;
		@media (min-width: 576px) {
			padding-left: REM(30) !important;
			padding-right: REM(30) !important;
		}
		@media (min-width: 768px) {
			padding-left: REM(34) !important;
			padding-right: REM(34) !important;
		}
		@media (min-width: 992px) {
			padding-left: REM(42) !important;
			padding-right: REM(42) !important;
		}
		@media (min-width: 1200px) {
			padding-left: REM(70) !important;
			padding-right: REM(70) !important;
		}
	}

	.our-work {
		z-index: 2;
		position: relative;
		margin-top: -20vw;

		&::before {
			top: 20vw;
			content: '';
			position: absolute;
			width: 100%;
			height: 410px;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(168, 165, 181, 0.792264) 20.08%, rgba(134, 134, 149, 0.847278) 34.08%, rgba(96, 99, 112, 0.910175) 47.04%, #2A303B 74.51%, #2A303B 96.28%);
			z-index: -1;
			@media (min-width: 576px) {
				height: 450px;
			}
			@media (min-width: 768px) {
				height: 800px;
			}
			@media (min-width: 992px) {
				height: 900px;
			}
			@media (min-width: 1200px) {
				height: 1000px;
			}
			@media (min-width: 1600px) {
				height: 800px;
			}
			@media (min-width: 1700px) {
				height: 800px;
			}

		}
	}

	.our-work h5 {
		color: #fff;
	}

	.our-work h2 {
		color: #fff;
	}
}

.what-we-do-body {
	@media (max-width: 1199px) {
		.slick-list{
			overflow: auto !important;
			.slick-track{
				width: auto !important;
				transform: translate(0) !important;
			}
		}
		.chevron-arrows{
			display: none;
		}
	}
}


.strategy-intro {
	background-image: url('/assets/img/lg/strategy.jpg');
}

.video-intro {
	background-image: url('/assets/img/lg/video.jpg');
}

.development-intro {
	background-image: url('/assets/img/lg/development-item.jpg');
}

.measurement-intro {
	background-image: url('/assets/img/lg/measurement.jpg');
}

.design-intro {
	background-image: url('/assets/img/lg/design-item.jpg');
}

.branding-intro {
	background-image: url('/assets/img/lg/branding-item.jpg');
}

.corporate-intro {
	background-image: url('/assets/img/lg/corporate-item.jpg');
}


