.whoweare-body {
  .slidePage{
    height: 66.8vw;
    @media (min-width: 992px) {
      margin-bottom: -40px;
    }
    z-index: 1;
  }
  .h5{
    color: #2C2A5A;
  }
  section {
    z-index: 2;
    position: relative;
  }
  .slidePage h1 {
    bottom: 33%;
    // --- responsive
    @media (max-width: 370px) {
      font-size: 35px;
    }
    @media (max-width: 350px) {
      font-size: 33px;
    }    
    @media (max-width: 330px) {
      font-size: 31px;
    }

    @media (min-width: 576px) {
        bottom: 38%;
    }
    @media (min-width: 768px) {
        bottom: 40%;

    }
    @media (min-width: 992px) {
        bottom: 40%;
    }
    @media (min-width: 1200px) {
        bottom: 40%;

    }
  }
  .container {
    padding: 0 10px;
  }
  h5 {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 12px;
  }
  .span1 {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .text {
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 56px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
  }
  .University {
    color: #7209b5;
    font-size: 18px;
  }
  .San-Francisco {
    color: #f52583;
    font-size: 18px;
  }
  .silicon {
    color: #70de00;
    font-size: 18px;
  }
  p {
    width: 400;
    font-size: 15px;
    font-family: "Open Sans";
  }
  // span {
  //   font-size: 18px;
  // }
  .text1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 600;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 91px;
    padding-bottom: 147px;
  }
  .stori span {
    font-size: 15px;
    font-weight: bold;
  }

  h6 {
    padding-left: 10px;
    padding-bottom: 6px;
    font-size: 14px;
    letter-spacing: 5px;
    margin: 0;
    color: #2a303b;
    font-weight: normal;
  }
  .span {
    padding-left: 10px;
    padding-bottom: 6px;
    font-size: 14px;
  }
  h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
  }
  .text2 {
    width: 400;
    font-size: 15px;
    font-family: "Open Sans";
    padding: 0 10px 0 10px;
    line-height: 1.5;
  }
  strong {
    font-size: 18px;
  }

  @media (min-width: 768px) {
    .container {
      padding: 0 34px;
    }
    .text {
      font-size: 24px;
      margin-top: 17px;
      margin-bottom: 38px;
      font-weight: 600;
      @media (min-width: 992px) {
        margin-bottom: 58px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 89px;
      }
    }
    h4 {
      font-size: 24px;
    }
    .University {
      font-size: 24px;
    }
    .San-Francisco {
      font-size: 24px;
    }
    .silicon {
      font-size: 24px;
    }
    .section {
      padding: 40px 0 0 0;
      display: flex;
    }
    .tag {
      margin-left: 20px;
      margin-right: 34px;
    }
    h5 {
      margin-bottom: 17px;
    }
    .tag h4 {
      font-size: 18px;
    }
    .tag2 {
      padding-left: 20px;
      padding-right: 34px;
      color: #2C2A5A;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .tag2 .text1 {
      font-size: 18px;
    }
    .section1 {
      display: flex;
    }
    .tag1 {
      position: absolute;
      padding: 0 320px 120px 34px;
      color: white;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
    .tag1 h6 {
      color: white;
    }
    .text2 {
      margin: 0;
    }
    .section2 {
      display: flex;
    }
    .tag3 h6{
      letter-spacing: 5px;
      color: #2C2A5A;
    }
    .tag3 {
      position: absolute;
      padding: 80px 34px 0 34px;
      color: #2C2A5A;
    }
    .section3 {
      display: flex;
    }
    .tag4 {
      position: absolute;
      padding: 98px 130px 0 160px;
      color: white;
    }
    .tag4 h6 {
      color: white;
    }
  }

  @media (min-width: 1024px) {
    .h5{
      margin-bottom: 80px;
    }
    .container {
      padding: 0 42px 0 42px;
    }
    h5 {
      font-size: 18px;
      margin: 0;
    }
    .span1 {
      font-size: 18px;
    }
    .text {
      font-size: 36px;
    }
    .text1 {
      font-size: 36px;
      margin-top: 120px;
      margin-bottom: 58px;
    }
    .University {
      font-size: 36px;
    }
    .San-Francisco {
      font-size: 36px;
    }
    .silicon {
      font-size: 36px;
    }
    .stori {
      margin: 0px 207px 80px 0;
    }
    .tag2 .text1 {
      font-size: 24px;
      margin-bottom: 34px;
      margin-top: 32px;
    }
    .tag1 {
      padding: 0 0 0 42px;
      max-width: 52%;
      .text2{
        font-size: 16px;
      }
    }
    .tag2 {
      padding: 0 43px 0 47px;
    }
    .tag3 h2 {
      margin-top: 23px;
      margin-bottom: 47px;
      padding: 0;
    }
    .section {
      padding-top: 40px;
      padding-bottom: 0;
      display: flex;
    }
    .tag3 {
      padding: 76px 150px 0 42px;
    }
    .tag4 {
      padding: 327px 290px 0 290px;
    }
    .section {
      padding-top: 0;
    }
    h6 {
      padding-left: 0;
      font-size: 18px;
    }
    .tag1 h6 {
      padding-left: 10px;
    }
    .tag3 .text2 {
      padding-left: 0;
    }
    h6 .span {
      font-size: 18px;
    }
    .tag4 h6 {
      padding-left: 10px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      padding: 0 70px;
    }
    .text {
      font-size: 38px;
      margin-bottom: 89px;
      margin-top: 27px;
    }
    .text1 {
      font-size: 38px;
      margin-top: 100px;
      margin-bottom: 55px;
      padding: 0 110px;
    }
    .University {
      font-size: 38px;
    }
    .San-Francisco {
      font-size: 38px;
    }
    .silicon {
      font-size: 38px;
    }
    .stori {
      padding: 0 110px;
      margin-bottom: 234px;
      margin-top: 55px;
    }
    .h5 {
      margin-top: 55px;
      margin-bottom: 100px;
      padding: 0 490px 0 110px;
    }
    .tag2 .text1 {
      padding: 0;
      font-size: 28px;
    }
    .tag2 {
      padding: 0 70px 0 47px;
    }
    .h5 span {
      font-weight: bold;
    }
    .tag2 h5 {
      font-weight: normal;
    }
    .tag2 .span1 {
      font-weight: normal;
    }
    .tag2 .stori1 {
      padding-right: 45px;
    }
    .tag1 {
      padding: 0 0 0 70px;
      max-width: 50%;
    }
    .tag1 h2 {
      font-size: 38px;
      font-weight: 600;
    }
    .tag3 {
      padding-right: 85px;
      padding-left: 70px;
      padding-top: 134px;
      .text2 {
        padding-right: 23px;
      }
      h2 {
        font-size: 36px;
      }
    }
    .tag4 {
      padding-right: 290px;
      padding-top: 25vw;
      h2 {
        font-weight: 600;
        font-size: 38px;
      }
      .text2 {
        padding-right: 70px;
      }
    }
  }
  @media (max-width: 767px) {
    .tag2 h5,
    .tag2 .span1,
    .tag1 h6,
    .tag3 h6,
    .tag3 .span,
    .tag4 h6 {
      display: none;
    }
  }
  @media (min-width: 767px) {
    .hide {
      display: none;
    }
  }

  picture {
    line-height: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}


.tag1{
  h2{
    @media (min-width: 1200px) {
      font-size: 38px;
    }
  }
}

@media (max-width: 767px) {
  .section2{
    margin-top: 113px;
  }
  .section3{
    margin-top: 92px;
  }
  .section3{
    margin-bottom: 98px;
  }
  .text1{
    margin-top: 36px !important;
  }
  .tag3 h2{
    padding-bottom: 20px;
  }
}