/* ------------------------------------------------
 Author:
 URL:

 Template Name: ...
 version: 1.0.0
------------------------------------------------ */
/* ------------------------------------------------
├──Global
│  ├── color
│  ├── bootstrap
│  ├── typography
│  ├── button
│  ├── icon
│  └── input
│
│──Header
│  └── Navbar
│
├──footer
│  ├── footer
│  └── contact info
│
├──modules
│  ├── slide
│  ├──
│  ├──
│  ├──
│  ├──
│  ├──
│  ├──
│  └──
│
└──pages
   ├── Home
   ├──
   ├──
   └──



------------------------------------------------ */

// SASS FUNCTION TO CONVERT REM() INTO REM

// Defining base font size
// The default font size for html is REM(16)
$base-size: 16;
//Function to convert REM() value into rem
//You can replace rem with any other value you want (rem is most preferred value for web)
@function REM($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}

/* ================================================ */
/* 					Start Global 					*/
/* ================================================ */

*{
  outline: none !important;
}
button,
.btn{
  cursor: pointer;
}
// ---- Start Color
body {
  color: #2C2A5A;
}
.red {
  color: #f52583;
}
.yellow {
  color: #ffd402;
}

// ---- End Color
// ---- Start bootstrap
// html {
//   scroll-behavior: smooth;
// }
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.container {
  padding-left: REM(10);
  padding-right: REM(10);
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  @media (min-width: 576px) {
    padding-left: REM(30);
    padding-right: REM(30);
  }
  @media (min-width: 768px) {
    padding-left: REM(34);
    padding-right: REM(34);
  }
  @media (min-width: 992px) {
    padding-left: REM(42);
    padding-right: REM(42);
  }
  @media (min-width: 1200px) {
    padding-left: REM(70);
    padding-right: REM(70);
  }
}
.container-full {
  padding-left: REM(10);
  padding-right: REM(10);
  @media (min-width: 576px) {
    padding-left: REM(30);
    padding-right: REM(30);
  }
  @media (min-width: 768px) {
    padding-left: REM(34);
    padding-right: REM(34);
  }
  @media (min-width: 992px) {
    padding-left: REM(42);
    padding-right: REM(42);
  }
  @media (min-width: 1200px) {
    padding-left: REM(70);
    padding-right: REM(70);
  }
}

.row {
  margin-left: REM(-10);
  margin-right: REM(-10);
  @media (min-width: 576px) {
    margin-left: REM(-30);
    margin-right: REM(-30);
  }
  @media (min-width: 768px) {
    margin-left: REM(-34);
    margin-right: REM(-34);
  }
  @media (min-width: 992px) {
    margin-left: REM(-42);
    margin-right: REM(-42);
  }
  @media (min-width: 1200px) {
    margin-left: REM(-70);
    margin-right: REM(-70);
  }
}
ol,
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
// ---- End bootstrap
// ---- Start typography
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.text-light {
  font-weight: 300;
}
.text-medium {
  font-weight: 500;
}
.text-semibold {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

a {
}

.flex {
  display: flex;
}
// ---- End typography
// ---- Start button

// ---- End button
// ---- Start icon

// ---- End icon
// ---- Start input

// ---- End input

/* ================================================ */
/* 					End Global 			    		*/
/* ================================================ */

/* ================================================ */
/* 					Start Header 					*/
/* ================================================ */

// ---- Start Navbar

.main-nav {
  a{
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    position: fixed;
    left: 0%;
    top: -100vh;
    // background: #000;
    width: 1px;
    transition: 0.3s;
    width: 100%;
    padding: 70px 50px 20px;
    display: flex !important;
    flex-direction: column;

    ul {
      &:first-child {
        display: flex;
        text-align: center;
        flex-direction: column;
        // flex-grow: 1;
        justify-content: space-between;
        order: 2;
      }
      &.langs-btn {
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        order: 1;
        .active{
          a{
            color: #fff;
            padding: 8px 18px !important;

          }
        }
        a {
          padding: 8px 5px !important;
          font-size: 12px;

        }
      }
    }
    .contact-btn {
      padding-right: 0 !important;
      margin-top: 44px;
      a{
        border: solid 1px #2C2A5A;
        font-size: 12px;
        padding: 10px 20px !important;
        border-radius: 25px;
      }
    }
    a {
      color: #2C2A5A;
      margin-bottom: 2px;
      font-size: 18px;
      display: inline-block;
      font-weight: 500;
    }
  }
}
@media (max-width: 767px) {
  .openMenu {
    .toggle{
      pointer-events: none;
      button{
        opacity: 0;
        visibility: hidden;
      }
      &::before{
        pointer-events: all;
        content: '';
        position: absolute;
        display: block;
        width: 28px;
        height: 15px;
        // top: 420px;
        bottom: 22px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7969 0.640624C11.375 0.218749 10.6719 0.218749 10.25 0.640624L1.10937 9.73437C0.6875 10.2031 0.6875 10.9062 1.10937 11.3281L2.1875 12.4062C2.60937 12.8281 3.3125 12.8281 3.78125 12.4062L11 5.1875L18.2656 12.4062C18.7344 12.8281 19.4375 12.8281 19.8594 12.4062L20.9375 11.3281C21.3594 10.9062 21.3594 10.2031 20.9375 9.73437L11.7969 0.640624Z' fill='%232C2A5A'/%3E%3C/svg%3E%0A");
        left: 50%;
        transform: translateX(-50%);
        background-position: center;
        background-repeat: no-repeat;
        }
      }
    overflow: hidden;
    .main-nav {
      // transform: translateX(0%);
      top: 0;
    }
    header {
      height: 442px;
      background: #FED301 !important;
    }
    .logo{
      img{
        filter: contrast(0) brightness(200);
      }
    }
  }
}

header {
  @media (max-width: 767px) {
    height: 70px;
  }
  transition: 0.3s;
}
header {
  width: 100%;
  position: absolute;
  z-index: 10;

  .container-full {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 6px;
    @media (min-width: 768px) {
      padding-top: 12px;
    }
    @media (min-width: 992px) {
      padding-top: 15px;
    }
    @media (min-width: 1200px) {
      padding-top: 26px;
    }
  }
  // transition: transform .1s;
  background: rgba($color: #000000, $alpha: 0);
  // transition:  .5s;
  &.sticky {
    // transition: transform 0.3s height 0.3s;
    background: rgba($color: #000, $alpha: 0.73);
    position: fixed;
    // transform: translateY(100px);
    // margin-top: -100px;
    .container-full {
      padding-top: 10px;
    }
    @media (min-width: 768px) {
      .logo {
        width: 40px;
      }
    }
    @media (min-width: 992px) {
      .logo {
        width: 49px;
      }
    }
  }
}

.toggle {
  z-index: 5;
  @media (min-width: 768px) {
    display: none;
  }
  button {
    border: solid REM(1) #fff;
    background: transparent;
    color: #fff;
    padding: REM(4) REM(10);
    border-radius: REM(6);
    font-size: REM(12);
    outline: none !important;
  }
}
.main-nav {
  @media (min-width: 768px) {
    display: flex;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
    }
    li {
      display: block;
      color: #fff;
      padding: 0 REM(15);
      // line-height: 0;
      @media (min-width: 768px) {
        padding: 0 REM(8);
      }
      @media (min-width: 992px) {
        padding: 0 REM(18);
      }
      @media (min-width: 1200px) {
        padding: 0 REM(20);
        font-size: REM(30);
      }
    }
    .btn {
      border: solid REM(1) #fff;
      border-radius: 50px;
      padding: REM(8) REM(20);
    }
    a {
      color: #fff;
      font-size: REM(12);
      font-weight: 500;
      display: block;
      @media (min-width: 768px) {
        // font-size: REM(11);
      }
      @media (min-width: 992px) {
        font-size: REM(13);
      }
      @media (min-width: 1200px) {
        font-size: REM(13);
      }
    }
  }
  .contact-btn {
    padding-right: 5px;
    @media (min-width: 992px) {
      padding-right: 26px;
    }
  }
  .langs-btn {
    li {
      padding-left: 12px;
      padding-right: 12px;
      &.active {
        padding: 0;
        a {
          background: #452f92;
          border-radius: 50px;
          padding: 9px 20px;
        }
      }
    }
    .es-btn {
      padding-right: 8px;
    }
  }
}

.logo {
  z-index: 5;
  width: REM(33);
  @media (min-width: 576px) {
    width: REM(37);
  }
  @media (min-width: 767px) {
    width: REM(37);
  }
  @media (min-width: 992px) {
    width: REM(37);
  }
  @media (min-width: 1200px) {
    width: REM(65);
  }
  img {
    width: 100%;
  }
}

// ---- End Navbar

/* ================================================ */
/* 					End Header 			    		*/
/* ================================================ */

/* ================================================ */
/* 					Start Footer 					*/
/* ================================================ */
footer {
  background: #000;
  padding-top: 33px;
  color: #fff;
  position: relative;
  @media (min-width: 768px) {
    padding-top: 79px;
    .container-full {
      padding-left: 44px;
      padding-right: 44px;
    }
  }
  @media (min-width: 1200px) {
    padding-top: 110px;
    .container-full {
      padding-left: 170px;
      padding-right: 170px;
    }
  }
  .custom-width-mobile {
    max-width: 60%;
    margin: auto;
    @media (min-width: 768px) {
      max-width: 100%;
    }
  }

  .footer-title {
    font-size: 22px;
    padding-bottom: 5px;
  }
  ul {
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  li {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    a {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      margin-top: 6px;
      display: inline-block;
      font-family: "Open Sans";
      @media (min-width: 768px) {

      }
    }
    padding-bottom: 39px;
  }
  .icon {
    margin-right: 10px;
    padding-top: 5px;
    width: 34px;
    text-align: center;
  }
  .flex {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  .address {
    @media (min-width: 768px) {
      width: 33%;
    }
  }

  .say-hello {
    @media (min-width: 768px) {
      width: 33%;
    }
    ul {
      padding-bottom: 0;
    }
    a {
      margin: 0;
      font-size: 14px;
    }
  }

  .about {
    @media (min-width: 768px) {
      width: 33%;
    }
    .footer-logo {
      width: 85px;
      margin-bottom: 4px;
    }
    p {
      font-size: 14px;
      font-family: "Open Sans";
      line-height: 25px;
      font-weight: 400;
      max-width: 287px;
    }
  }
}

footer ul.social {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 75px;
  li {
    margin-right: 16px;
    padding-bottom: 0;
  }
  a{
    font-size: 14px;
  }
}
.gototop {
  position: absolute;
  top: 28px;
  left: 7px;
  // --- responsive
  @media (min-width: 576px) {
    left: 7px;
  }
  @media (min-width: 768px) {
    left: 14px;
  }
  @media (min-width: 992px) {
    left: 14px;
  }
  @media (min-width: 1200px) {
    left: 23px;
  }

  a {
    width: 20px;
    display: flex;
    flex-direction: column;
    color: rgba(194, 202, 208, 0.53);
    justify-content: center;
    align-items: center;
  }
  span {
    // writing-mode: vertical-rl;
    // text-orientation: mixed;
    transform: rotate( -90deg );
    display: inline-block;
    line-height: 17px;
    margin-top: 18px;
    font-size: 12px;
  }
  &::after {
    content: "";
    width: 1px;
    height: 50px;
    background: #fff;
    display: block;
    margin: 13px auto;
    opacity: 0.31;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      content: "";
      height: 75px;
    }
  }
}

.footer-nav {
  display: flex;
  padding-top: 57px;
  padding-bottom: 40px;
  color: rgba(124, 149, 165, 0.53);
  .flex {
    align-items: center;
  }
  @media (max-width: 575px) {
    .flex {
      flex-direction: column;
      align-items: center;
    }
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) {
    justify-content: space-between;
  }

  h6 {
    letter-spacing: 3.75px;
    font-family: "Poppins";
  }
  nav {
    @media (max-width: 575px) {
      padding-bottom: 28px;
    }
    @media (min-width: 768px) {
      padding-left: 15px;
    }

    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        padding: 9px;
        a {
          font-family: "Open Sans";
          font-size: 11px;
          color: rgba($color: #fff, $alpha: 0.5);
          margin-top: 0;
          white-space: nowrap;
        }
      }
    }
  }
  .copyright {
    font-size: 11px;
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    @media (max-width: 575px) {
      padding-bottom: 25px;
    }
  }
}
/* ================================================ */
/* 					End Footer 			    		*/
/* ================================================ */

/* ================================================ */
/* 					Start Modules 					*/
/* ================================================ */

// ---- Start slide
.intro {
  background: #2a303b;
  color: #fff;
  p {
    text-align: center;
    padding: REM(12);
    padding-top: REM(43);
    margin: 0;
    font-size: REM(18);
    font-weight: 300;
    line-height: REM(20);
    z-index: 1;
    position: relative;

    @media (min-width: 576px) {
      font-size: REM(20);
      max-width: 70vw;
      margin: auto;
      line-height: 28px;
    }

    @media (min-width: 768px) {
      padding-top: 80px;
      font-size: 24px;
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 992px) {
      max-width: 640px;
    }
    @media (min-width: 1200px) {
      max-width: 810px;
      font-size: 44px;
      line-height: 1.06;
      padding-top: 195px;
    }
  }
}

.slide {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 70vw;
  @media (min-width: 768px) {
    height: 55vw;
  }
  @media (min-width: 992px) {
    height: 48vw;
  }
  @media (min-width: 1200px) {
    height: 55vw ;
  }
  // @media (min-width: 1200px) {
  //   height: calc(100vh - 40px);
  //   @media (max-height: 700px) {
  //     height: 50vw !important;
  //   }
  // }
  // @media (min-width: 1500px) {
  //   @media (max-height: 1000px) {
  //     height: 50vw !important;
  //   }
  // }
  // @media (min-width: 1900px) {
  //   @media (max-height: 1300px) {
  //     height: 50vw !important;
  //   }
  // }
  // @media (min-width: 2800px) {
  //   @media (max-height: 1500px) {
  //     height: 50vw !important;
  //   }
  // }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(42, 48, 59, 0.0001) 45.8%,
      #2a303b 74.55%
    );

    @media (min-width: 1200px) {
      background: linear-gradient(
        180deg,
        rgba(42, 48, 59, 0.0001) 55.8%,
        #2a303b 90.55%
      );
    }
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  * {
    z-index: 2;
    position: relative;
  }
  p {
    padding-bottom: REM(50);
    padding-top: REM(40);
    font-size: REM(18);
    font-weight: 300;
    padding: REM(40) REM(12) REM(50);
  }
  h1 {
    margin: 0;
    font-size: REM(35);
    padding: REM(82) REM(10) REM(25) REM(10);
    line-height: 1.2;
    @media (min-width: 576px) {
      font-size: 6vw;
      max-width: 65vw;
      margin: auto;
      padding-top: 25vw;
    }

    @media (min-width: 992px) {
      font-size: 6vw;
      max-width: 63vw;
      padding-top: 15vw;
    }
    @media (min-width: 1200px) {
      font-size: 7vw;
      max-width: 77vw;
      line-height: 1.05;
      padding-top: 20vw;
    }
  }

  .go-to-approach {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    a {
      display: block;
      width: REM(35);
      height: REM(35);
      margin-left: auto;
      margin-right: auto;
      // --- responsive
      @media (min-width: 576px) {
      }
      @media (min-width: 768px) {
      }
      @media (min-width: 992px) {
      }
      @media (min-width: 1200px) {
        width: 50px;
      }
    }
  }
}

.approach {
  @media (max-width: 575px) {
    background-color: #2a303b;
  }

  margin-top: -5px;
}

// ---- End slide

/* ================================================ */
/* 					End Modules 			    	*/
/* ================================================ */

/* ================================================ */
/* 					Start Page 			    		*/
/* ================================================ */

// --- home
@import "home";
@import "whatwedo";
@import "whoweare";
@import "contact";
@import "service";
@import "careers";
@import "project";

/* ================================================ */
/* 					End Page 			    		*/
/* ================================================ */

.slidePage{
  background: linear-gradient(to bottom, #302a2c 0%, rgba(44, 42, 90, 0) 100%)
}

.overflow-hidden{
  overflow: hidden;
}

.modal__backdrop{
  display: none;
}
.apply-modal::before{
  content: '';
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  background:rgba(0, 0, 0, 0.3);
}

.modal__dialog{
  @media(max-width: 991px) {
    padding: 0 15px !important;
  }
}
// @media(max-width: 991px) {
//   .modal{
//     top: 0 !important;
//   }
// }
.for-close{
  display: none;
}
@media(max-width: 767px) {
  .for-close{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    // background: rgba(0,0,0,.1);
    left: 0;
    top: 0;
    display: none;
    .openMenu &{
      display: block;
    }
  }
}
