// // start branding main page css
// .branding-body{

// 	picture{
// 		width: 100%;
// 	}
// 	img{
// 		width: 100%;
// 	}

// 	.seviceSlide{
// 		padding-bottom:30px;
// 	}
// 	h1{
// 		font-size: 24px;
// 		padding-bottom: 26px;
// 	}
// 	h2{
// 		font-size: 24px;
// 		margin-top: 15px;
// 	}
// 	.is-digital p{
// 		font-size: 15px;
// 		font-family: "Open Sans";
// 		margin-bottom: 77px;
// 		margin-top: 20px;
// 	}
// 	.us-different p{
// 		font-size: 14px;
// 		margin-top: 30px;
// 		margin-bottom: 5px;
// 	}
// 	strong{
// 		font-size: 15px;
// 	}
// 	.us-different{
// 		padding-top: 0;
// 	}
// 	.us-different h2{
// 		margin-bottom: 5px;
// 		margin-top: 0;
// 	}
// 	ul{
// 		margin-left: 0;
// 		margin-bottom: 26px;
// 		padding-left: 21px;
// 	}
// 	.branding-main .flex{
// 		padding-left: 80px;
// 		padding-right: 70px;
// 	}
// 	li{
// 		font-family: "Open Sans";
// 		font-style: normal;
// 		font-weight: normal;
// 		font-size: 14px;
// 		line-height: 20px;

// 	}
// 	.branding-main .container-full h2{
// 		font-size: 24px;
// 		padding-bottom: 0;
// 		margin-bottom: 13px;
// 	}

// 	// --- responsive

// 	@media (min-width: 768px) {
// 		h1{
// 			font-size: 36px;
// 			padding-bottom: 22;
// 		}
// 		.branding-main h2{
// 			font-size: 36px;
// 			line-height: 40px;
// 			padding-right: 20px;
// 			margin-right: 20px;
// 			max-width: 1009px;
// 			margin-top: 0;
// 		}
// 		.branding-main .container{
// 			display: flex;
// 			margin-top: 52px;
// 			margin-bottom: 85px;
// 		}
// 		.branding-main .container p{
// 			margin-bottom: 0;
// 		}
// 		.is-digital p{
// 			margin-top: 0;
// 		}
// 		.us-different .container-full h2{
// 			padding-top: 79px;
// 		}
// 		.strategic-capability{
// 			padding-top: 75px;
// 		}
// 		.container-full h2{
// 			font-size: 24px;
// 			padding-bottom: 0;
// 			margin-bottom: 21px;
// 		}

// 		.us-different p {
// 			font-size: 14px;
// 			margin-bottom: 5px;
// 			margin-top: 0;
// 			padding-top: 0;
// 			width: 100%;
// 			font-weight: 300;
// 			padding-right: 5px;
// 		}
// 		strong{
// 			font-weight: 500;
// 		}
// 		.branding-main ul{
// 			width: auto;
// 			padding-right: 42px;
// 			margin-right: 20px;
// 		}
// 		.branding-main .flex{
// 			padding: 0;
// 		}

// 	}

// 	@media (min-width: 992px) {
// 		.branding-main .container{
// 			margin-bottom: 102px;
// 			margin-top: 67px;
// 		}
// 		h1{
// 			font-size: 64px;
// 			padding-bottom: 50px;
// 		}
// 		.branding-main h2{
// 			font-size: 48px;
// 			max-width: 1086px;
// 			margin-right: 36px;
// 			padding-right: 0;
// 			line-height: 50px
// 		}
// 		.is-digital p{
// 			font-size: 16px;
// 			margin-bottom: 0;
// 		}
// 		.us-different .container-full h2{
// 			font-size: 36px;
// 			line-height: 40px;
// 			max-width: 500px;
// 			padding-top: 130px;
// 		}
// 		.us-different p{
// 			width: 573px;
// 		}
// 		.strategic-capability .container-full h2{
// 			font-size: 36px;
// 		}
// 		.branding-main ul{
// 			padding-right: 0;
// 			margin-right: 20px;
// 			li{
// 				font-size: 16px;
// 				line-height: 22px;
// 				padding-right: 0;
// 			}
// 		}
// 		.branding-main .flex{
// 			// padding-left: 155px;
// 		}
// 	}
// 	@media (min-width: 1200px) {
// 		h1{
// 			font-size: 96px;
// 		}
// 		.is-digital{
// 			margin-top: 68px;
// 			margin-bottom: 83px;
// 		}

// 		.is-digital p{
// 			margin-bottom: 0;
// 			width: 740px;
// 		}
// 		.is-digital .container{
// 			padding: 0 180px;
// 			max-width: 100%;
// 		}
// 		.branding-main .container-full{
// 			padding-left: 180px;
// 			padding-right: 180px;
// 			margin-top: 112px;
// 		}
// 		.us-different{
// 			padding-bottom: 0;
// 		}
// 		.container-full h2{
// 			font-size: 36px;
// 			line-height: 50px;
// 			padding-right: 0;
// 			margin-right: 0;
// 			margin-top: 0;
// 			margin-bottom: 16px;
// 		}
// 		h4{
// 			line-height: 50px;
// 		}
// 		.flex{
// 			margin-top: 0;
// 			padding: 0;
// 		}
// 		.strategic-capability{
// 			padding-top: 0;
// 		}
// 		.strategic-capability .container-full{
// 			margin-top: 77px;
// 			margin-bottom: 114px;
// 			display: block;
// 			padding-left: 312px;
// 			padding-right: 290px;
// 		}
// 		.strategic-capability .container-full h2{
// 			max-width: 200px;
// 		}
// 		.yellow{
// 			margin-bottom: 0;
// 			margin-right: 21px;
// 			padding-right: 30px;
// 			width: 282px;
// 		}
// 	}
// }
.branding-body {
	.is-digital {
		@media (min-width: 768px) {
			.container,
			.container-full {
				display: flex;
			}
		}
	}
	.strategic-capability .container-full {
		display: block !important;
	}
	@media (min-width: 768px) {
		.service-main .us-different .container-full {
			height: 55vw;
		}
	}
	@media (min-width: 1200px) {
		.service-main .us-different .container-full {
			height: 47vw;
		}
	}
	@media (max-width: 991px) {
		li {
			white-space: normal !important;
		}
	}
}

.is-digital .yellow {
	font-size: 24px;
	min-width: 220px;
	line-height: 1.2;
	br {
		display: none;
	}
	margin-right: 20px;
	@media (min-width: 768px) {
		margin-right: 50px;
		font-size: 36px;
		br {
			display: block;
		}
	}
	@media (min-width: 992px) {
		font-size: 48px;
	}
	@media (min-width: 1200px) {
	}
}

.white-space-normal {
	white-space: normal !important;
}

@media (min-width: 767px) {
	.strategic-capability.isEs ul{
		width: 50%;
	}
}