
// start corporate main page css
.corporate-body{
	picture{
		width: 100%;
	}
	img{
		width: 100%;
	}
	h1{
		font-size: 24px;
		padding-bottom: 56px;
	}
	.yellow{
		margin-bottom: 20px;
		margin-top: 6px;
	}
	.is-digital p{
		padding-right: 0;
		font-size: 15px;
		margin-bottom: 66px;
        flex-grow: 1;
	}
	.us-different p{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 300;
	}
	.text{
		color: #fff;
		padding-bottom: 45px;
		padding-top: 64px;
	}
	.text h5{
		font-weight: 500;
	}
	.text p{
		font-size: 14px;
		font-weight: 300;
		margin: 20px 0;
		padding-right: 0;
	}

	.branding-main ul{
		margin-left: 0;
		margin-bottom: 30px;

		li{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #ffffff;
			max-width: 289px;

		}
	}
	.branding-main .flex{
		padding-bottom: 60px;
	}



	// --- responsive


	@media (min-width: 768px) {
		h1{
			font-size: 36px;
			padding-bottom: 55px;
		}
		.branding-main .container{
			display: flex;
		}
		.branding-main h2{
			font-size: 36px;
			width: 1129px;
			padding-right: 20px;
			line-height: 40px;
		}
		.is-digital p{
			margin-top: 10px;
			margin-bottom: 74px;
		}
		.text h4{
			font-size: 24px;
		}
		.text p{
			font-size: 13px;
			padding-right: 36px;
		}
		.text{
			width: 50%;
			padding-top: 0;
			padding-bottom: 0;
		}
		.strategic-capability{
			width: 50%;
		}
		.branding-main .container-full{
			display: flex;
			padding-top: 82px;
			padding-bottom: 81px;
		}
		.branding-main .container-full h2{
			font-size: 24px;
			max-width: 100%;
			padding-bottom: 0;
			padding-right: 0;
		}
		.branding-main ul{
			width: auto;
		}

	}




	@media (min-width: 992px) {
		.branding-main .container{
			margin: 0;
		}
		h1{
			font-size: 64px;
			padding-bottom: 90px;
		}
		.yellow{
			width: 50%;
			font-size: 48px;
			line-height: 50px;
		}
		.is-digital p{
			font-size: 16px;
			width: 50%;
			margin-bottom: 74px;
		}
		.text{
			width: 50%;
		}
		.strategic-capability{
			width:50% ;
		}
		.text h4{
			font-size: 36px;
			padding-right: 20px;
		}
		.flex{
			padding-bottom: 0;
		}
		.branding-main .container-full h2{
			font-size: 36px;
			line-height: 50px;;
			padding-bottom: 22px;
		}
		.text p{
			padding-right: 62px;
		}
		.branding-main li{
			font-size: 16px;
		}
		.branding-main ul{
			margin-bottom: 0;
		}
	}
	@media (min-width: 1200px) {
		h1{
			font-size: 96px;
			padding: 0 180px;
		}
		.yellow{
			margin-bottom: 37px;
			width: 465px;
			padding-right: 0;
			margin-right: 20px;
		}
		.is-digital{
			margin-top: 35px;
		}
		.is-digital p{
			margin-bottom: 100px;

		}
		.is-digital .container{
			padding: 0 180px;
			max-width: 100%;
		}
		.branding-main .container-full{
			padding-left: 180px;
			padding-right: 180px;
		}

		.branding-main .text{
			width: 50%;
			padding-right: 112px;
		}
		.text p{
			font-size: 15px;
		}
		.strategic-capability{
			padding-top: 123px;
		}
		.branding-main ul{
			margin-right: 0;
		}
		.branding-main .container-full{
			padding-top: 107px;
			padding-bottom: 134px;
		}

	}

	.dev-us-different{
		background-image: url('../img/corporate.jpg');
		background-size: cover;
		background-position:center ;
		@media (min-width: 375px){
			background-image: url('../img/sm/corporate.jpg');
		}
		@media (min-width: 768px){
			background-image: url('../img/md/corporate.jpg');
		}
		@media (min-width: 992px){
			background-image: url('../img/lg/corporate.jpg');
		}
	}
}
