
// start design main page css
.design-main{
    .strategic-capability{
        margin: 0;
        flex-grow: 1;
    }
	.dev-us-different{
		background-image: url('../img/design.jpg');
		background-size: cover;
		background-position: center;
		@media (min-width: 375px){
			background-image: url('../img/sm/design.jpg');
		}
		@media (min-width: 768px){
			background-image: url('../img/md/design.jpg');
		}
		@media (min-width: 992px){
			background-image: url('../img/lg/design.jpg');
		}
        li{
            color: #fff;
        }
        p{
            color: #fff;
        }
	}
	picture{
		width: 100%;
	}
	img{
		width: 100%;
	}

	.seviceSlide{
		padding-bottom:30px;
	}
	h1{
		font-size: 24px;
		padding-bottom: 26px;
	}
	h2{
		font-size: 24px;
		margin-bottom: 5px;
        min-width: 300px;
	}
	.is-digital p{
		font-size: 15px;
		font-family: "Open Sans";
		margin-bottom: 54px;
		margin-top: 20px;
	}
	.us-different p{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 300;
	}
	.text{
		color: #fff;
		padding-bottom: 57px;
		padding-top: 64px;
	}
	.text h4{
		font-size: 18px;
	}
	.text p{
		font-size: 14px;
		font-weight: 300;
		margin: 20px 0;
		padding-right: 3px;
	}

	ul{
		margin-left: 0;
		margin-bottom: 30px;
		padding-left: 9px;
		margin-right: 25px;
	}
	.flex{
		display: flex;
		padding-bottom: 60px;
		color: #fff;

	}
	li{
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
	.container-full h2{
		font-size: 18px;
		padding-bottom: 0;
		margin-bottom: 13px;
	}


	// --- responsive


	@media (min-width: 768px) {
		h1{
			font-size: 36px;
			padding-bottom: 0;
		}
		h2{
			font-size: 36px;
			line-height: 40px;
			padding-right: 20px;
			margin-right: 20px;
			max-width: 990px;
		}
		.container{
			display: flex;
			margin-top: 60px;
			margin-bottom: 60px;
		}
		.is-digital p{
			margin-top: 0;
		}

		.text h4{
			font-size: 22px;
		}
		.text p{
			font-size: 13px;
			padding-right: 0;
		}
		.text{
			padding-top: 75px;
			padding-right: 24px;
			padding-bottom: 74px;
		}
		.strategic-capability{
			padding-top: 75px;
		}
		.container-full{
			display: flex;
			margin-top: 47px;

		}
		.container-full h2{
			font-size: 24px;
			padding-bottom: 0;
			margin-bottom: 21px;
			max-width: 245px;

		}
		ul{
			width: auto;
		}

	}

	@media (min-width: 992px) {
		.container{
			margin-bottom: 67px;
			margin-top: 67px;
		}
		h1{
			font-size: 64px;
			padding-bottom: 50px;
		}
		h2{
			font-size: 48px;
			max-width: 1018px;
			margin-right: 36px;
			padding-right: 0;
			line-height: 50px
		}
		.is-digital p{
			font-size: 16px;
			margin-bottom: 0;
		}
		.text{
			width: 452px;
			padding-top: 67px;
			padding-bottom: 68px;
			padding-right: 0;
			margin-right: 180px;
			&.es {
				margin-right: 20px;
			}

		}
		.text h4{
			font-size: 35px;
		}
		.text p{
			font-size: 15px;
		}
		.container-full h2{
			font-size: 36px;
			line-height: 40px;
			max-width: 430px;
		}
		li{
			font-size: 16px;
			line-height: 22px;
			padding-right: 20px;
		}
	}
	@media (min-width: 1200px) {
		h1{
			font-size: 96px;
		}
		h2{
			margin-bottom: 0;
			margin-right: 21px;
			padding-right: 0;
			max-width: 997px;
		}
		.is-digital p{
			margin-bottom: 0;
		}
		.is-digital .container{
			padding: 0 180px;
			max-width: 100%;
		}
		.container-full{
			padding-left: 180px;
			padding-right: 180px;
		}
		.text {
			padding-top: 106px;
			padding-bottom: 113px;
			margin-right: 130px;
			width: 442px;
		}
		.text p{
			font-size: 15px;
		}
		.container-full h2{
			font-size: 36px;
			line-height: 50px;
			padding-right: 0;
			margin-right: 0;
			margin-top: 0;
			margin-bottom: 16px;
		}
		h4{
			line-height: 50px;
		}
		.flex{
			margin-top: 0;
		}
		.strategic-capability{
			padding-top: 146px;
		}

		ul{
			width: 33%;
		}
	}

		@media (min-width: 1200px ){
			.is-digital .yellow {
				min-width: 250px ;
				margin-bottom: 0;
			}
		}
	@media (max-width: 1199px ){
		@media (min-width: 992px ){
			.is-digital .yellow {
				min-width: 250px ;
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: 991px ){
		@media (min-width: 768px ){
			.is-digital .yellow {
				min-width: 200px ;
				margin-bottom: 0;
				padding-right: 0;
			}
			.is-digital p{
				margin-bottom: 0;
			}
		}
	}
}
