

// start development main page css
.development-body{
    .strategic-capability h2{
        max-width: 100%;
    }
	h1{
		font-size: 24px;
		padding-bottom: 26px;
	}
	.is-digital h2{
		margin-bottom: 5px;
        padding-bottom: 0;
        line-height: 1.1;
	}
	.is-digital p{
		font-size: 15px;
		font-family: "Open Sans";
		margin-bottom: 65px;
	}
	.us-different p{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 300;
	}
	.text{
		color: #fff;
		padding-bottom: 45px;
		padding-top: 30px;
	}
	.text h5{
		font-weight: 500;
	}
	.text p{
		font-size: 14px;
		font-weight: 300;
		margin: 20px 0;
		padding-right: 10px;
		color: #fff;

	}

	.development-main ul{
		margin-left: 0;
		margin-bottom: 30px;
	}
	li{
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
	}

	.strategic-capability{
		margin-top: 47px;
		@media (min-width: 768px) {
			margin-top: 77px;
		}
		@media (min-width: 992px) {
			margin-top: 97px;
		}
		@media (max-width: 1299px) {
			.flex{
				margin-top: 0 !important;
			}
		}
	}



	// --- responsive


	@media (min-width: 768px) {
		h1{
			font-size: 36px;
			padding-bottom: 0;
		}
		.is-digital h2{
			font-size: 48px;
		}
		.is-digital p{
			margin-top: 40px;
			margin-bottom: 74px;
		}
		.text h4{
			font-size: 24px;
		}
		.text p{
			font-size: 13px;
			padding-right: 15px;
		}
		.text{
			padding-top: 126px;
			padding-right: 34px;
			padding-bottom: 129px;
		}

	}




	@media (min-width: 992px) {
		h1{
			font-size: 64px;
		}
		.is-digital h2{
			max-width: 300px;
		}
		.is-digital p{
			font-size: 16px;
		}
		.text{
			width: 586px;
			padding-top: 98px;
			padding-bottom: 98px;
		}
		.text h4{
			font-size: 36px;
		}
	}
	@media (min-width: 1200px) {

		h1{
			font-size: 96px;
		}
		.is-digital h2{
			margin-bottom: 30px;
		}
		.is-digital{
			margin-bottom: 100px;
            margin-top: 80px;
		}
		.development-body .text {
			width: 686px;
		}
		.is-digital h2{
			max-width: 360px;
		}
		.strategic-capability h2{
			max-width: 460px;
		}
	}

	.dev-us-different{
		background-image: url('../img/ball.jpg');
		background-size: cover;
		background-position: center;
		@media (min-width: 375px){
			background-image: url('../img/sm/ball.jpg');
		}
		@media (min-width: 768px){
			background-image: url('../img/md/ball.jpg');
		}
		@media (min-width: 992px){
			background-image: url('../img/lg/ball.jpg');
		}
	}
}

