
// start measurment main page css
.measurment-main{
	.dev-us-different{
		background-image: url('../img/tower.jpg');
		background-size: cover;
		background-position: center;
		@media (min-width: 375px){
			background-image: url('../img/sm/tower.jpg');
		}
		@media (min-width: 768px){
			background-image: url('../img/md/tower.jpg');
		}
		@media (min-width: 992px){
			background-image: url('../img/lg/tower.jpg');
		}
	}
	h2{
		margin-bottom: 5px;
	}
	.is-digital p{
		font-size: 15px;
		margin-bottom: 65px;
	}
	.us-different p{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 300;
	}
	.text{
		color: #fff;
		padding-bottom: 76px;
		padding-top: 75px;
	}
	.text h5{
		font-weight: 500;
        color: #fff;
	}
	.text p{
		color: #fff;
		font-size: 15px;
		margin: 20px 0;
		padding-right: 3px;
	}

	.measurment-main ul{
		margin-left: 0;
		margin-bottom: 30px;
	}
	.container-full h2{
		margin-top: 45px;
	}


	// --- responsive


	@media (min-width: 768px) {
		h2{
			font-size: 36px;
			line-height: 48px;
			padding-right: 40px;
			margin-right: 20px;
		}
		.container{
			display: flex;
		}
		.is-digital p{
			margin-top: 5px;
		}

		.text h4{
			font-size: 24px;
		}
		.text p{
			font-size: 15px;
			padding-right: 19px;
		}
		.text{
			padding-top: 94px;
			padding-right: 34px;
			padding-bottom: 95px;
		}
		.container-full{
			display: flex;
			margin-top: 47px;

		}
		.container-full h2{
			font-size: 24px;
			padding-bottom: 18px;
			max-width: 245px;
			line-height: 30px;
		}
		.measurment-main ul{
			width: auto;
		}
		.flex{
			margin-top: 47px;
		}
	}




	@media (min-width: 992px) {
		.container{
			margin: 0;
		}
		h2{
			font-size: 48px;
			max-width: 300px;
			margin-right: 36px;
			padding-right: 27px;
			line-height: 50px;
			margin-top: 5px;
		}
		.is-digital p{
			font-size: 16px;
		}
		.text{
			width: 452px;
			padding-top: 67px;
			padding-bottom: 68px;

		}
		.text p{
			font-size: 16px;
		}
		.text h4{
			font-size: 36px;
		}
		.container-full h2{
			font-size: 36px;
			line-height: 40px;
			max-width: 430px;
		}
		li{
			font-size: 16px;
		}
	}

	@media (max-width: 1199px) {
		li{
			white-space: normal !important;
		}
	}
	@media (min-width: 1200px) {

		.is-digital{
			margin-top: 50px;
			margin-bottom: 83px;
		}
		h2{
			margin-bottom: 0;
			margin-right: 21px;
			padding-right: 70px;
		}
		.is-digital p{
			margin-bottom: 0;
		}
		.is-digital .container{
			padding: 0 180px;
			max-width: 100%;
		}
		.container-full{
			padding-left: 180px;
			margin-top: 112px;
		}
		.text {
			width: 554px;
			padding-top: 118px;
			padding-bottom: 118px;
		}
		.container-full h2{
			font-size: 48px;
			line-height: 50px;
			padding-right: 0;
			margin-right: 0;
			margin-top: 0;
			max-width: 530px;
			&.es {
			 margin-right: 30px;
			}
		}
		.flex{
			margin-top: 0;
		}

	}
}

@media (min-width: 768px) {
	.measurment-body.isEs{
		ul{
			width: 50%;
		}
		.is-digital .yellow{
			min-width: 280px;
		}
	}
}
