.service-main {
	&.strategy {
		p {
			padding-top: 40px;
			@media (min-width: 576px) {
				padding-top: 30px;
			}
			@media (min-width: 768px) {
				padding-top: 27px;
			}
		}
	}
}


.strategy-main{
    ul li{
        white-space: nowrap;
    }
}

