
.video-body{
	.dev-us-different{
		background-image: url('../img/video-in-page.jpg');
		background-size: cover;
		background-position: center;
		@media (min-width: 375px){
			background-image: url('../img/sm/video-in-page.jpg');
		}
		@media (min-width: 768px){
			background-image: url('../img/md/video-in-page.jpg');
		}
		@media (min-width: 992px){
			background-image: url('../img/lg/video-in-page.jpg');
		}
	}
	picture{
		width: 100%;
	}
	img{
		width: 100%;
	}

	.seviceSlide{
		padding-bottom:30px;
	}
	h1{
		font-size: 24px;
		padding-bottom: 26px;
	}
	.is-digital h2{
		font-size: 24px;
		padding-right: 70px;
		margin-top: 7px;
		margin-bottom: 27px;
	}
	.is-digital p{
		font-size: 15px;
		font-family: "Open Sans";
		margin-bottom: 72px;
	}
	h4{
		font-size: 36px;
	}
	.us-different p{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: 300;
	}
	.text{
		color: #fff;
		padding-bottom: 76px;
		padding-top: 75px;
	}
	.text h5{
		font-weight: 500;
	}
	.text p{
		font-size: 14px;
		font-weight: 300;
		margin: 20px 0;
		padding-right: 15px;
	}

	ul{
		margin-left: 0;
		margin-bottom: 36px;
	}
	.flex{
		padding-bottom: 50px;

	}
	li{
		font-family: "Open Sans";
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
	}
	.container-full h2{
		margin-top: 26px;
		font-size: 24px;
		padding: 0;
		margin-bottom: 19px;
	}
	.strategic-capability{
		position: absolute;
	}

	// --- responsive


	@media (min-width: 768px) {
		h1{
			font-size: 48px;
			padding-bottom: 25px;
		}
        .is-digital h2 {
			font-size: 48px;
			line-height: 50px;
			width: 70%;
			padding-right: 0;
			margin-top: 23px;
			margin-bottom: 37px;
		}

		.is-digital p{
			margin-bottom: 87px;
			padding-right: 5px;
		}


		.text h4{
			font-size: 36px;
		}
		.text p{
			font-size: 13px;
			margin-right: 76px;
		}
		.branding-main .text{
			padding-top: 67px;
			padding-bottom: 95px;
		}

		.container-full h2{
			font-size: 45px;
			padding-bottom: 47px;
			line-height: 50px;
			max-width: 100%;
			margin-top: 50px;
		}
		.branding-main .flex{
			margin-top: 0;
		}
	}




	@media (min-width: 992px) {
		.branding-main .container{
			margin: 0;
			padding: 0 202px;
		}
		h1{
			font-size: 72px;
		}
		.yellow{
			font-size: 48px;
			width: 75%;
			margin-bottom: 37px;
			line-height: 50px;
			margin-top: 42px;
		}
		.is-digital p{
			font-size: 16px;
			margin-bottom: 58px;
		}
		.text{
			width: 452px;
			padding-top: 67px;
			padding-bottom: 68px;
		}
		.text p{
			margin-right: 0;
			padding-right: 57px;
		}
		.text h4{
			font-size: 36px;
		}
		.container-full h2{
			font-size: 45px;
			line-height: 50px;

		}
		li{
			font-size: 15px;
		}
	}
	@media (min-width: 1200px) {
		h1{
			font-size: 96px;
		}

		.yellow{
			font-size: 48px;
			margin-bottom: 0;
			width: 50%;
			margin-bottom: 47px;
		}
		.is-digital p{
			font-family: "Open Sans";
			margin-bottom: 0;
			line-height: 22px;
		}
		.is-digital .container{
			padding: 0 290px;
			max-width: 100%;
		}
		.branding-main .container-full{
			padding-left: 180px;
			margin-top: 112px;
		}
		.branding-main .text {
			width: 554px;
			padding-top: 118px;
			padding-bottom: 118px;
		}
		.branding-main .text p{
			font-size: 15px;
		}
		.container-full h2{
			font-size: 68px;
			line-height: 65px;
			padding-right: 15px;
			margin-right: 0;
			margin-top: 0;
		}
		.branding-main .flex{
			margin-top: 0;
		}
		.strategic-capability{
			margin-top: 147px;
			display: flex;
		}

	}
}
