<template>
  <div id="body" class="service-body branding-body">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="@/assets/img/lg/branding.jpg"
        >
        <source
          media="(min-width:768px)"
          srcset="@/assets/img/md/branding.jpg"
        >

        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/branding.jpg"
        >

        <img
          src="@/assets/img/branding.jpg"
          alt="office-creative-group-happy-work-team-agency-work-space-start-up"
        >
      </picture>

      <h1 v-if="isEn">
        Branding
      </h1>
      <h1 v-if="isEs">
        Posicionamiento de Marca
      </h1>
    </div>

    <mian class="service-main branding-main">
      <section class="is-digital">
        <div class="container-full">
          <h2 v-if="isEn" class="yellow">
            EVERY <br> BRAND <br> NEEDS A <br> STORY
          </h2>
          <h2 v-if="isEs" class="yellow">
            TODA <br>  MARCA <br>  NECESITA UNA <br> HISTORIA
          </h2>
          <p v-if="isEn">
            Let’s start with imagining that your company/organization is a person. Your brand is how that person communicates to the
            world. So if your brand was at a party, how would it come off to other people who are there? Would it be the boring guy
            in the corner? The sleaze ball at the bar? The charming, funny woman in the red dress? Someone else? <br><br>
            Whether it's brand voice, development, guidelines, personas or anything else you're looking for, we start by researching
            the category, business, products, company culture, and competition independently. Then we collaborate with you to turn
            rough landscape sketches into detailed directions for the future.
          </p>
          <p v-if="isEs">
            Empecemos por imaginarnos que su empresa/organización es una persona. Su marca es como esa persona se comunica con el mundo. Si por ejemplo su marca asiste a una fiesta, ¿Cómo se  acercaría a las personas que se encuentran en ella? ¿Sería la persona aburrida de la esquina? ¿La encantadora y divertida mujer del vestido rojo? ¿Alguien más?
            <br><br>
            Bien sea la voz de la marca, el brand persona, la creación de la marca, comenzamos investigando la categoría, el negocio, los productos, la cultura de la empresa y la competencia de manera independiente. Luego trabajamos con usted con el fin de convertir los bocetos iniciales en direccionamientos concretos hacia el futuro.
          </p>
        </div>
      </section>
      <section class="us-different">
        <div class="container-full">
          <h2 v-if="isEn">
            WHAT MAKES US DIFFERENT
          </h2>
          <h2 v-if="isEs">
            LO QUE NOS HACE DIFERENTES
          </h2>

          <div class="row">
            <picture>
              <source
                media="(min-width:1200px)"
                srcset="@/assets/img/lg/baby.jpg"
              >
              <source
                media="(min-width:768px)"
                srcset="@/assets/img/md/baby.jpg"
              >

              <source
                media="(min-width:376px)"
                srcset="@/assets/img/sm/baby.jpg"
              >

              <img
                src="@/assets/img/baby.jpg"
                alt="office-creative-group-happy-work-team-agency-work-space-start-up"
              >
            </picture>
          </div>

          <p v-if="isEn">
            We have a vast amount of experience in all things digital. We cross-pollinate for discovery and solution internally, so
            that each project from focus groups to UX to asset audits, is fully vetted from all angles. We work collaboratively with
            our clients. Showing them data to get buy in. We do not rely on “gut.” The results are empirical and have a profound
            effect on charting new paths forward. <br><br>
            <strong>Call us and let’s talk about how we can get started helping you.</strong>
            <NuxtLink class="contact-us-link" to="/contact">
              Contact us
            </NuxtLink>
          </p>
          <p v-if="isEs">
            Tenemos una vasta experiencia en todo lo digital. Hacemos polinización cruzada para descubrir y solucionar el interior, de manera tal que cada proyecto, desde los grupos de enfoque hasta la experiencia de usuario para las auditorías de activos, sea completamente examinado, desde todos los ángulos. Trabajamos de manera colaborativa con nuestros clientes. Les mostramos los datos para conseguir comprar. No dependemos de la “corazonada.” Los resultados son empíricos y tienen un profundo efecto en el trazo de los nuevos caminos hacia adelante.
            <br><br>
            <strong>Contáctenos  y hablemos sobre cómo podemos comenzar a ayudarle.</strong>
            <NuxtLink class="contact-us-link" to="/es/contact">
              Contáctenos
            </NuxtLink>
          </p>
        </div>
      </section>

      <section class="strategic-capability" :class="isEs ? 'isEs' : 'isEn'">
        <div class="container-full">
          <h2 v-if="isEn">
            BRANDING
          </h2>
          <h2 v-if="isEs">
            CAPACIDADES POSICIONAMIENTO DE MARCA
          </h2>
          <div class="flex">
            <ul>
              <li v-if="isEn">
                Brand Visual Guidelines
              </li>
              <li v-if="isEs">
                Lineamientos de marca
              </li>
              <li v-if="isEn">
                Brand Identity
              </li>
              <li v-if="isEs">
                Identidad de marca
              </li>
              <li v-if="isEn">
                Brand Playbook
              </li>
              <li v-if="isEs">
                Playbook de la marca
              </li>
              <li v-if="isEn">
                Brand Strategy
              </li>
              <li v-if="isEs">
                Estrategia de marca
              </li>
              <li v-if="isEn">
                Brand Story
              </li>
              <li v-if="isEs">
                Historia de la marca
              </li>
              <li v-if="isEs">
                Propuesta de Valor y posicionamiento
              </li>
              <li v-if="isEs">
                Escalera de la Marca
              </li>
              <li v-if="isEs">
                Mensajes claves de la marca
              </li>
            </ul>
            <ul>
              <li v-if="isEn">
                Brand Voice and tone
              </li>
              <li v-if="isEs">
                Voz y tono de la marca
              </li>
              <li v-if="isEn">
                Brand Personality
              </li>
              <li v-if="isEs">
                Personalidad de marca
              </li>
              <li v-if="isEn">
                MVP
              </li>
              <li v-if="isEs">
                Investigación del Cliente y de la Competencia
              </li>
              <li v-if="isEn">
                Customer and Competitive Research
              </li>
              <li v-if="isEs">
                Perfiles psicográficos y marca personas
              </li>
              <li v-if="isEn">
                Psychographic and Personas
              </li>
              <li v-if="isEs">
                Mapa de experiencia del Cliente
              </li>
              <li v-if="isEn">
                UX, CX & Identity
              </li>
              <li v-if="isEs">
                Construcción de Insights
              </li>
              <li v-if="isEs">
                Dirección Artística
              </li>
            </ul>
            <ul v-if="isEn">
              <li class="white-space-normal">
                Reasons to Believe, Competitive & Market Insights
              </li>
              <li>
                Brand Ladder
              </li>
              <li>
                Artistic directionArtistic direction
              </li>
              <li>
                Messaging and communication
              </li>
              <li>
                Value proposition
              </li>
            </ul>
          </div>
        </div>
      </section>
    </mian>
  </div>
</template>
<script>
export default {
  components: {
  },
  props: ['isEn', 'isEs']
}
</script>
<style lang="scss" scoped>
.contact-us-link {
  color: #fff;
  @media (max-width: 767px) {
    color: #2C2A5A ;
  }
}
</style>
