<template>
  <div id="body" class="careers-body">
    <modal ref="applyModal" class="apply-modal">
      <template #body>
        <div class="content">
          <div class="current-career">
            <div class="flex justify-content-between current-career--location">
              <p class="blue">
                <span v-if="isEn">Location: {{ applyingCareer.location }}</span>
                <span v-if="isEs">Ubicación: {{ applyingCareer.location }}</span>
              </p>
            </div>
            <div>
              <p class="current-career--category">
                {{ applyingCareer.category }}
              </p>
              <h3 class="current-career--title">
                {{ applyingCareer.title }}
              </h3>
            </div>
          </div>
          <form
            id="apply"
            ref="form"
            novalidate="true"
            class="form"
            @submit.prevent="SubmitForm"
          >
            <div class="input">
              <div class="line">
                <input
                  id="Full Name"
                  v-model="fullName"
                  class="form-control"
                  name="fullName"
                  placeholder=""
                  type="text"
                >
                <hr>
                <label v-if="isEn" for="Full Name"><span>Full Name</span><span>*</span></label>
                <label v-if="isEs" for="Full Name"><span>Full Name</span><span>*</span></label>
                <p v-if="fullNameError" class="error-msg">
                  {{ fullNameError }}
                </p>
              </div>
            </div>
            <div class="input">
              <div class="line">
                <input
                  id="email"
                  v-model="email"
                  class="form-control"
                  placeholder=""
                  name="email"
                >
                <hr>
                <label v-if="isEn" for="email">Email Address</label>
                <label v-if="isEs" for="email">Email Address</label>
                <p v-if="emailError" class="error-msg">
                  {{ emailError }}
                </p>
              </div>
            </div>
            <div class="input">
              <div class="line">
                <input
                  id="phoneNumber"
                  v-model="phoneNumber"
                  class="form-control"
                  name="phoneNumber"
                  placeholder=""
                >
                <hr>
                <label v-if="isEn" for="phoneNumber">Phone Number</label>
                <label v-if="isEs" for="phoneNumber">Phone Number</label>
              </div>
            </div>
            <div class="input">
              <div class="line">
                <input
                  id="address"
                  v-model="address"
                  class="form-control"
                  name="address"
                  placeholder=""
                >
                <hr>
                <label v-if="isEn" for="address">Address</label>
                <label v-if="isEs" for="address">Address</label>
              </div>
            </div>
            <div class="upload-wrapper">
              <label for="CV">CV - Curriculum * (Pdf, Word)</label>
              <input
                id="CV"
                ref="cvFile"
                class="upload"
                type="file"
                accept=".doc,.docx,.txt,.pdf"
                @change="handleCVFileUpload()"
              >
              <span>{{ cvFileName }}</span>
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.875 5.03125V0.25H0.84375C0.351562 0.25 0 0.636719 0 1.09375V17.4062C0 17.8984 0.351562 18.25 0.84375 18.25H12.6562C13.1133 18.25 13.5 17.8984 13.5 17.4062V5.875H8.71875C8.22656 5.875 7.875 5.52344 7.875 5.03125ZM10.1602 12.6602H7.875V15.4727C7.875 15.7539 7.59375 16.0352 7.3125 16.0352H6.1875C5.87109 16.0352 5.625 15.7539 5.625 15.4727V12.6602H3.30469C2.8125 12.6602 2.56641 12.0273 2.91797 11.6758L6.29297 8.30078C6.53906 8.08984 6.92578 8.08984 7.17188 8.30078L10.5469 11.6758C10.8984 12.0273 10.6523 12.6602 10.1602 12.6602ZM13.2539 3.94141L9.80859 0.496094C9.63281 0.355469 9.42188 0.25 9.21094 0.25H9V4.75H13.5V4.53906C13.5 4.32812 13.3945 4.11719 13.2539 3.94141Z" fill="#2C2A5A" fill-opacity="0.6" />
              </svg>
              <p v-if="cvFileError" class="error-msg">
                {{ cvFileError }}
              </p>
            </div>
            <div class="upload-wrapper">
              <label for="portfolio">Cover letter or Portfolio</label>
              <input
                id="portfolio"
                ref="portfolioFile"
                class="upload"
                type="file"
                accept=".doc,.docx,.txt,.pdf,.xls,.xlsx,.ppt,.pptx,image/*"
                @change="handlePortfolioFileUpload()"
              >
              <span>{{ portfolioFileName }}</span>
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.875 5.03125V0.25H0.84375C0.351562 0.25 0 0.636719 0 1.09375V17.4062C0 17.8984 0.351562 18.25 0.84375 18.25H12.6562C13.1133 18.25 13.5 17.8984 13.5 17.4062V5.875H8.71875C8.22656 5.875 7.875 5.52344 7.875 5.03125ZM10.1602 12.6602H7.875V15.4727C7.875 15.7539 7.59375 16.0352 7.3125 16.0352H6.1875C5.87109 16.0352 5.625 15.7539 5.625 15.4727V12.6602H3.30469C2.8125 12.6602 2.56641 12.0273 2.91797 11.6758L6.29297 8.30078C6.53906 8.08984 6.92578 8.08984 7.17188 8.30078L10.5469 11.6758C10.8984 12.0273 10.6523 12.6602 10.1602 12.6602ZM13.2539 3.94141L9.80859 0.496094C9.63281 0.355469 9.42188 0.25 9.21094 0.25H9V4.75H13.5V4.53906C13.5 4.32812 13.3945 4.11719 13.2539 3.94141Z" fill="#2C2A5A" fill-opacity="0.6" />
              </svg>
              <p v-if="portfolioFileError" class="error-msg">
                {{ portfolioFileError }}
              </p>
            </div>
            <div class="social-net">
              <div class="input">
                <div class="line">
                  <input
                    id="linkedin"
                    v-model="linkedin"
                    class="form-control"
                    placeholder=""
                    name="linkedin"
                  >
                  <hr>
                  <label v-if="isEn" for="linkedin">Linkedin Profile</label>
                  <label v-if="isEs" for="linkedin">Linkedin Profile</label>
                </div>
              </div>
              <div class="input">
                <div class="line">
                  <input
                    id="behance"
                    v-model="behance"
                    class="form-control"
                    placeholder=""
                    name="behance"
                  >
                  <hr>
                  <label v-if="isEn" for="behance">Behance Portfolio</label>
                  <label v-if="isEs" for="behance">Behance Portfolio</label>
                </div>
              </div>
              <div class="input">
                <div class="line">
                  <input
                    id="instagram"
                    v-model="instagram"
                    class="form-control"
                    placeholder=""
                    name="instagram"
                  >
                  <hr>
                  <label v-if="isEn" for="instagram">Instagram Profile</label>
                  <label v-if="isEs" for="instagram">Instagram Profile</label>
                </div>
              </div>
            </div>
            <recaptcha @error="onError" @success="onSuccess" @expired="onExpired" />
            <div class="footer-buttons">
              <button class="btn-submit" type="submit">
                <span v-if="!isSubmitting"><span v-if="isEn">Apply</span><span v-if="isEs">Aplicar</span></span>
                <div v-if="isSubmitting" class="loader-container">
                  <ButtonLoader />
                  <span><span v-if="isEn">SENDING</span><span v-if="isEs">ENVIANDO</span></span>
                </div>
              </button>
              <div class="btn-cancel" @click="handleCancelModal">
                <span v-if="isEn">Cancel</span>
                <span v-if="isEs">Cancelar</span>
              </div>
            </div>
          </form>
        </div>
      </template>
    </modal>
    <main>
      <section class="slidePage">
        <div class="container-full">
          <h1 v-if="isEn">
            We are looking
            <br>
            <span class="yellow">for you.</span>
          </h1>
          <h1 v-if="isEs">
            <span class="yellow">TE </span>ESTAMOS BUSCANDO
          </h1>
          <div class="row">
            <picture>
              <source
                media="(min-width:1200px)"
                srcset="@/assets/img/lg/careers.jpg"
              >
              <source
                media="(min-width:768px)"
                srcset="@/assets/img/md/careers.jpg"
              >
              <source
                media="(min-width:376px)"
                srcset="@/assets/img/sm/careers.jpg"
              >
              <img src="@/assets/img/careers.jpg" alt="careers">
            </picture>
          </div>
        </div>
      </section>
      <section class="current-openings">
        <div class="">
          <div class="container-full title">
            <h2 v-if="isEn">
              Current Openings
            </h2>
            <h2 v-if="isEs">
              Posiciones disponibles
            </h2>
          </div>

          <div class="tabs">
            <ul class="container-full">
              <li
                v-for="tab in tabs"
                :key="tab.key"
                :class="tab.key === activeTab ? 'active' : ''"
                @click="changeTab(tab.key)"
              >
                <span>{{ tab.title }}</span>
              </li>
            </ul>
          </div>
          <div class="container-full">
            <hr>
          </div>
        </div>
        <div class="container">
          <div class="content">
            <div
              v-for="career in showingCareers"
              :key="career.slug"
              class="current-item"
            >
              <div class="current-item__header">
                <div class="flex justify-content-between">
                  <p v-if="isEn" class="blue">
                    Location: {{ career.location }}
                  </p>
                  <p v-if="isEs" class="blue">
                    Ubicación: {{ career.location }}
                  </p>
                  <span class="date">{{ career.date }}</span>
                </div>

                <div class="flex justify-content-between title-group">
                  <div>
                    <p>{{ career.category }}</p>
                    <h3 class="current-item__title">
                      {{ career.title }}
                    </h3>
                  </div>

                  <div v-if="!appliedCareers.includes(career.slug)">
                    <button class="btn" @click="applyCareer(career)">
                      <span v-if="isEn">APPLY NOW</span>
                      <span v-if="isEs">APLIQUE AHORA</span>
                    </button>
                  </div>
                  <div v-if="appliedCareers.includes(career.slug)">
                    <button class="btn btn--disabled" @click="handleAppliedCareerClick">
                      <span v-if="isEn">APPLIED</span>
                      <span v-if="isEs">APLICADO</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="current-item__body career-info">
                <div v-html="career.summary" />
                <div :class="showMoreCareers.includes(career.slug) ? 'extra active' : 'extra'">
                  <div v-html="career.content" />
                </div>
              </div>
              <div class="current-item__footer">
                <div class="flex align-items-center">
                  <h5 v-if="isEn">
                    SHARE THIS LISTING:
                  </h5>
                  <h5 v-if="isEs">
                    Compartir este listado:
                  </h5>
                  <ul>
                    <li>
                      <a :href="`https://www.facebook.com/sharer.php?u=${currentUrl}/test#test`">
                        <img
                          src="@/assets/img/icon/fb.svg"
                          alt="facebook icon svg"
                        >
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/intent/tweet">
                        <img
                          src="@/assets/img/icon/tw.svg"
                          alt="twitter icon svg"
                        >
                      </a>
                    </li>
                    <li>
                      <a :href="`https://www.linkedin.com/sharing/share-offsite/?url=${currentUrl}`">
                        <img
                          src="@/assets/img/icon/in.svg"
                          alt="LinkedIn  icon svg"
                        >
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <div v-show="isEn" class="showmore" @click="onShow(career.slug)">
                    <span v-if="showMoreCareers.includes(career.slug)">Show less</span>
                    <span v-if="!showMoreCareers.includes(career.slug)">Show more</span>
                    <svg
                      :class="showMoreCareers.includes(career.slug) ? 'isLess' : 'isMore' "
                      width="7"
                      height="6"
                      viewBox="0 0 7 6"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.272 3.30993L3.136 0.257926L0 3.30993L0 5.77393L3.136 2.72193L6.272 5.77393V3.30993Z" fill="#F52583" />
                    </svg>
                  </div>
                  <div v-show="isEs" class="showmore" @click="onShow(career.slug)">
                    <span v-if="showMoreCareers.includes(career.slug)">Ocultar</span>
                    <span v-if="!showMoreCareers.includes(career.slug)">Ver más</span>
                    <svg
                      :class="showMoreCareers.includes(career.slug) ? 'isLess' : 'isMore' "
                      width="7"
                      height="6"
                      viewBox="0 0 7 6"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.272 3.30993L3.136 0.257926L0 3.30993L0 5.77393L3.136 2.72193L6.272 5.77393V3.30993Z" fill="#F52583" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div :class="showingCareers.length === careers.length ? 'hidden' : ''">
          <scroll-loader :loader-method="infiniteHandler" :loader-enable="loadMore">
            <Loader />
          </scroll-loader>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import Modal from '@/components/Modal'
import Loader from '@/components/Loader'
import ButtonLoader from '@/components/ButtonLoader'
export default {
  name: 'Careers',
  components: { Modal, Loader, ButtonLoader },
  props: [
    'isEn',
    'isEs',
    'totalCareers'
  ],
  data: () => ({
    tabs: [],
    activeTab: 'allCareers',
    showMoreCareers: [],
    applyingCareer: {},
    loadMore: true,
    page: 0,
    pageSize: 3,
    careers: [],
    showingCareers: [],
    currentUrl: '',
    fullName: null,
    fullNameError: null,
    emailError: null,
    cvFileError: null,
    email: null,
    phoneNumber: null,
    address: null,
    CV: null,
    cvBase64: null,
    portfolio: null,
    portfolioBase64: null,
    cvFile: '',
    cvFileName: '',
    portfolioFile: '',
    portfolioFileName: '',
    portfolioFileError: '',
    linkedin: '',
    behance: '',
    instagram: '',
    loading: false,
    isSubmitting: false,
    appliedCareers: []
  }),
  created () {
    this.careers = this.totalCareers
    const allTabs = [{ key: 'allCareers', title: this.isEn ? 'All Positions' : 'Todas las posiciones' }]
    this.totalCareers.forEach((career) => {
      const currentCareer = allTabs.find(tab => tab.key === career?.category?.toLowerCase())
      if (!currentCareer) {
        allTabs.push({ key: career?.category?.toLowerCase(), title: this.capitalizeFirstLetter(career?.category) })
      }
    })
    this.tabs = allTabs
    this.showingCareers = this?.careers?.slice(0, 3)
  },
  mounted () {
    if (typeof window !== 'undefined') {
      this.currentUrl = window.location.href
      const appliedCareers = window.localStorage.getItem('appliedCareers')
      if (appliedCareers) {
        this.appliedCareers = JSON.parse(appliedCareers)
      }
    }
  },
  methods: {
    capitalizeFirstLetter (string) {
      return string?.charAt(0).toUpperCase() + string?.slice(1)
    },
    handleAppliedCareerClick () {
      this.$fire({
        title: this.isEn ? '<span class="alert-title">You have already applied for this career</span>' : '<span class="alert-title">Ya has postulado para esta carrera</span>',
        text: '',
        type: 'success',
        timer: 3000
      })
    },
    changeTab (tabKey) {
      this.activeTab = tabKey
      this.page = 0
      if (tabKey === 'allCareers') {
        this.careers = this.totalCareers
        this.showingCareers = this.careers?.slice(0, 3)
      } else {
        this.careers = this.totalCareers.filter(c => c?.category?.toLowerCase() === tabKey)
        this.showingCareers = this.careers?.slice(0, 3)
      }
    },
    onShow (slug) {
      if (this.showMoreCareers.includes(slug)) {
        this.showMoreCareers = this.showMoreCareers.filter(c => c !== slug)
      } else {
        this.showMoreCareers.push(slug)
      }
    },
    applyCareer (career) {
      this.applyingCareer = career
      this.$refs.applyModal.openModal()
    },
    resetForm () {
      this.fullName = null
      this.fullNameError = null
      this.emailError = null
      this.cvFileError = null
      this.email = null
      this.phoneNumber = null
      this.address = null
      this.CV = null
      this.cvBase64 = null
      this.portfolio = null
      this.portfolioBase64 = null
      this.cvFile = ''
      this.cvFileName = ''
      this.portfolioFile = ''
      this.portfolioFileName = ''
      this.portfolioFileError = ''
      this.linkedin = ''
      this.behance = ''
      this.instagram = ''
      this.isSubmitting = false
      this.$refs.applyModal.closeModal()
    },
    handleCancelModal () {
      this.resetForm()
    },
    SubmitForm (e) {
      e.preventDefault()
      if (!this.fullName) {
        this.fullNameError = this.isEn ? 'Please enter Your Full Name.' : 'Por favor escriba su nombre'
      } else {
        this.fullNameError = ''
      }
      if (!this.cvFile) {
        this.cvFileError = this.isEn ? 'Please upload Your CV' : 'Sube tu CV'
      } else {
        this.cvFileError = ''
      }
      this.portfolioFileError = ''
      if (this.email && !this.validEmail(this.email)) {
        this.emailError = this.isEn ? 'Please enter valid Email.' : 'Por favor ingrese un correo valido'
      } else {
        this.emailError = ''
      }
      if (!this.fullNameError && !this.emailError && !this.cvFileError) {
        this.sendMail()
      }
    },
    async onSubmit () {
      try {
        const token = await this.$recaptcha.getResponse()
        console.log(token)
        await this.$recaptcha.reset()
      } catch (error) {
        // eslint-disable-next-line no-console
      }
    },
    onError (error) {
      console.log(error)
    },
    onSuccess (token) {
      this.$refs.form.submit()
    },
    onExpired () {
    },
    validEmail (email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    infiniteHandler () {
      if (this?.showingCareers?.length <= this?.careers?.length) {
        this.page += 1
        setTimeout(() => {
          this.showingCareers?.push(...this?.careers?.slice(this.page * this.pageSize, this.page * this.pageSize + this.pageSize))
        }, 1000)
      } else {
        this.loadMore = false
      }
    },
    handleCVFileUpload () {
      const isLt2M = this.$refs.cvFile?.files[0]?.size / 1024 / 1024 < 2
      const uploadedCvType = this.$refs.cvFile.files[0]?.type
      if (uploadedCvType.includes('pdf') || uploadedCvType.includes('doc') || uploadedCvType.includes('docx') || uploadedCvType.includes('text')) {
        if (isLt2M) {
          this.cvFileName = this.$refs.cvFile.files[0]?.name
          this.cvFile = this.$refs.cvFile.files[0]
          this.createBase64CV(this.cvFile)
          this.cvFileError = ''
        } else {
          this.cvFileError = this.isEn ? 'must be less than 2 MB' : 'debe ser inferior a 2 MB'
          this.cvFileName = ''
        }
      } else {
        this.cvFileError = this.isEn ? 'Please upload valid format' : 'Cargue un formato válido'
        this.cvFileName = ''
      }
    },
    createBase64CV (fileObject) {
      const reader = new FileReader()
      reader.onload = (e) => {
        this.cvBase64 = e.target.result
      }
      reader.readAsDataURL(fileObject)
    },
    handlePortfolioFileUpload () {
      const isLt2M = this.$refs.portfolioFile?.files[0]?.size / 1024 / 1024 < 2
      if (isLt2M) {
        const uploadedCvType = this.$refs.portfolioFile.files[0]?.type
        if (uploadedCvType.includes('pdf') ||
            uploadedCvType.includes('doc') ||
            uploadedCvType.includes('docx') ||
            uploadedCvType.includes('text') ||
            uploadedCvType.includes('image') ||
            uploadedCvType.includes('ppt') ||
            uploadedCvType.includes('pptx') ||
            uploadedCvType.includes('xls') ||
            uploadedCvType.includes('xlsx')) {
          this.portfolioFileName = this.$refs.portfolioFile.files[0].name
          this.portfolioFile = this.$refs.portfolioFile.files[0]
          this.createBase64Portfolio(this.portfolioFile)
          this.portfolioFileError = ''
        } else {
          this.portfolioFileError = this.isEn ? 'Please upload valid format' : 'Cargue un formato válido'
          this.portfolioFileName = ''
        }
      } else {
        this.portfolioFileError = this.isEn ? 'must be less than 2 MB' : 'debe ser inferior a 2 MB'
        this.portfolioFileName = ''
      }
    },
    createBase64Portfolio (fileObject) {
      const reader = new FileReader()
      reader.onload = (e) => {
        this.portfolioBase64 = e.target.result
      }
      reader.readAsDataURL(fileObject)
    },
    sendMail () {
      const url = 'https://us-central1-dg-website-v1.cloudfunctions.net/careerFormEmailSender'
      const payload = {
        fullName: this.fullName,
        email: this.email,
        phoneNumber: this.phoneNumber,
        address: this.address,
        cvBase64: this.cvBase64,
        portfolioBase64: this.portfolioBase64,
        linkedin: this.linkedin,
        behance: this.behance,
        instagram: this.instagram,
        career: this.applyingCareer.title,
        cvFileName: this.cvFileName,
        portfolioFileName: this.portfolioFileName
      }
      this.isSubmitting = true
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
        .then(() => {
          this.success = true
          this.isSubmitting = false
          this.$fire({
            title: this.isEn ? '<span class="alert-title">Your message was added successfully</span>' : '<span class="alert-title">Tu mensaje fue agregado exitosamente</span>',
            text: '',
            type: 'success',
            timer: 3000
          }).then((r) => {
          })
          const careerSlug = this.applyingCareer.slug
          const newAppliedCareers = [...this.appliedCareers, careerSlug]
          this.appliedCareers = newAppliedCareers
          localStorage.setItem('appliedCareers', JSON.stringify(newAppliedCareers))
          this.$refs.applyModal.closeModal()
          this.resetForm()
        })
        .catch(() => {
          this.error = true
          this.isSubmitting = false
        })
    }
  }
}
</script>
<style lang="scss">
.current-item__header {
.btn--disabled, .btn--disabled:hover {
background-color: #2C2A5A;
color: #fff;
opacity: .5;
border: 0;
}
}
.current-item__body{
  ul{
    list-style: circle;
    padding-left: 20px;
    margin-bottom: 20px;
  }
}
.career-info {
 .extra {
 transition: all 2s ease-in-out;
max-height: 0;
overflow: hidden;
 &.active {
max-height: 10000px;
 }
 }
}
.current-openings {
   .tabs-header {
     position: sticky;
     top: 7vw;
     background-color: #fff;
     padding: 20px 20px 10px 20px;
     @media (max-width: 1100px) {
      top: 9vw;
     }
    .line {
      margin: 0 auto;
      width: 95%;
      @media (max-width: 1100px) {
      width: 100%;
      }
    }
   }
  .hidden{
  display: none;
  }
  .content > *:not(:last-child) {
    border-bottom: 1px solid #E5E9F0;
    margin-bottom: 50px;
  }
}

.apply-modal {
.content {
 display: flex;
 flex-direction: column;
 &>* {
  margin-bottom: 20px;
 }
}
.current-career {
  &--category {
   margin-top: 20px;
  }
  &--title {
   font-size: 20px;
   margin-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid #2C2A5A;
  }
}
.form {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  row-gap: 50px;
    @media(max-width: 767px) {
      grid-template-columns: auto;
    }

  .social-net {
   grid-column: 1/-1;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
   margin-top: 10px;
    @media(max-width: 767px) {
      grid-template-columns: auto;
    }
  }
  .form-control {
   width: 100%;
   outline: none;
   border: none;
  }
  .error-msg {
   color: red;
   font-size: 12px;
   }
  .upload-wrapper {
   position: relative;
   span {
    position: absolute;
    left: 15px;
    top: 45px;
   }
   svg {
    position: absolute;
    right: 10px;
    top: 48px;
    pointer-events: none;
  }
  .upload {
   padding: 10px 20px;
   border-radius: 8px;
   border: 1px solid #979797;
   width: 100%;
   margin-top: 10px;
   color: transparent;
  }
  input[type=file]::-webkit-file-upload-button {
   visibility: hidden;
  }
  }

  .line .form-control + hr {
    height: 3px;
    border: 0;
    margin: 0;
    background: linear-gradient(
     42.48deg,
     #fecb40 17.19%,
     #f7507c 36.3%,
     #4852e8 56.71%,
     #47cdae 79.03%
    );
    filter: hue-rotate(0);
    }

.line .form-control:focus + hr {
transition: 100s linear;
filter: hue-rotate(36000deg);
}

.line input ~ label {
 transform: translateY(-30px);
 display: block;
 transition: .3s;
 }

 .line input:valid ~ label,
 .line input:focus ~ label {
  transform: translateY(0);
  }
}
.footer-buttons {
  grid-column: 2/3;
  justify-self: end;
  align-self: end;
  display: flex;
  flex-direction: row-reverse;
}
.btn-submit {
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 50px;
  border-radius: 40px;
  background-color: #F52583;
  margin-bottom: 20px;
  cursor: pointer;
  .loader-container {
  position: relative;
  display: flex;
  .btn-loader-wrapper {
  position: absolute;
  bottom: 2px;
  left: -40px;
  }
}
    @media(max-width: 767px) {
      grid-column: auto;
    }
}
.btn-cancel {
color: #fff;
border: none;
outline: none;
padding: 6px 40px;
border-radius: 40px;
background-color: lightgray;
margin-bottom: 20px;
cursor: pointer;
margin-right: 20px;
}
}
</style>
