<template>
  <div id="body" class="service-body contact-body">
    <main class="contact-main">
      <div class="slidePage">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
              @/assets/img/lg/contact.jpg
            "
          >
          <source
            media="(min-width:768px)"
            srcset="
              @/assets/img/md/contact.jpg
            "
          >

          <source
            media="(min-width:376px)"
            srcset="
              @/assets/img/sm/contact.jpg
            "
          >

          <img
            src="@/assets/img/contact.jpg"
            alt="office-creative-group-happy-work-team-agency-work-space-start-up"
          >
        </picture>
        <div class="container-full">
          <h1 v-if="isEn">
            Contact Us
          </h1>
          <h1 v-if="isEs">
            Contáctenos
          </h1>
        </div>
      </div>
      <section>
        <div class="container-full">
          <div class="Introduction">
            <h2 v-if="isEn">
              Get in <span class="text-span">touch.</span>
            </h2>

            <p v-if="isEn" class="text">
              We'd love to work with you, explore partnerships, or change the
              world. Let's do it.
            </p>
            <p v-if="isEs" class="text">
              Nos encantaría trabajar con usted, explorar asociaciones o cambiar el mundo. ¡Hagámoslo!
            </p>
          </div>
          <div class="section">
            <form class="form contact-form" @submit.prevent="sendMail">
              <div class="input">
                <div class="line">
                  <input
                    id="Full Name"
                    v-model="contactFormData.name"
                    class="form-control"
                    type=""
                    placeholder=""
                  >
                  <hr>
                  <label v-if="isEn" for="Full Name"><span>Full Name</span><span>*</span></label>
                  <label v-if="isEs" for="Full Name"><span>Nombre completo</span><span>*</span></label>
                  <p v-if="nameError" class="error-msg">
                    {{ nameError }}
                  </p>
                </div>
              </div>
              <div class="input">
                <div class="line">
                  <input
                    id="Phone Number"
                    v-model="contactFormData.phone"
                    class="form-control"
                    type=""
                    placeholder=""
                  >
                  <hr>
                  <label v-if="isEn" for="Phone Number">Phone Number</label>
                  <label v-if="isEs" for="Phone Number">Número de teléfono</label>
                </div>
              </div>
              <div class="input">
                <div class="line">
                  <input
                    id="Email Address"
                    v-model="contactFormData.email"
                    class="form-control"
                    type=""
                    placeholder=""
                  >
                  <hr>
                  <label v-if="isEn" for="Email Address">Email Address</label>
                  <label v-if="isEs" for="Email Address">Dirección de correo electrónico</label>
                  <p v-if="emailError" class="error-msg">
                    {{ emailError }}
                  </p>
                </div>
              </div>
              <div class="line">
                <textarea
                  v-if="isEn"
                  id="enQuestion"
                  v-model="contactFormData.message"
                  class="form-control"
                  name="message"
                  placeholder="Your question here"
                />
                <textarea
                  v-if="isEs"
                  id="esQuestion"
                  v-model="contactFormData.message"
                  class="form-control"
                  name="message"
                  placeholder="Acá su pregunta"
                />
                <hr>
                <label v-if="isEn" for="enQuestion"><span>What’s your question?</span><span>*</span></label>
                <label v-if="isEs" for="esQuestion"><span>¿Cuál es su pregunta?</span><span>*</span></label>
                <p v-if="messageError" class="error-msg">
                  {{ messageError }}
                </p>
              </div>
              <div class="btn">
                <recaptcha @error="onError" @success="onSuccess" @expired="onExpired" />
                <button class="btn-input" type="submit">
                  <span v-if="!isSubmitting"><span v-if="isEn">SEND</span><span v-if="isEs">ENVIAR</span></span>
                  <div v-if="isSubmitting" class="loader-container">
                    <ButtonLoader />
                    <span><span v-if="isEn">SENDING</span><span v-if="isEs">ENVIANDO</span></span>
                  </div>
                </button>
              </div>
            </form>
            <div class="item">
              <h4 v-if="isEn">
                USA
              </h4>
              <h4 v-if="isEs">
                USA
              </h4>
              <div class="icon">
                <div class="icon-svg">
                  <img
                    src="@/assets/img/icon/San-Francisco-black.svg"
                    alt="San-Francisco"
                  >
                </div>
                <div class="link">
                  <h5 v-if="isEn">
                    San Francisco
                  </h5>
                  <h5 v-if="isEs">
                    San Francisco
                  </h5>
                  <a class="phone" href="tel:+14157151969">+1 (415) 715-1969</a>
                </div>
              </div>
              <div class="icon">
                <div class="icon-svg">
                  <img src="@/assets/img/icon/Miami-black.svg" alt="Miami">
                </div>
                <div class="link">
                  <h5>Miami</h5>
                  <a class="phone" href="tel:+17867418820">+1 (786) 741-8820</a>
                </div>
              </div>
              <h4 v-if="isEn" class="city">
                LATAM
              </h4>
              <h4 v-if="isEs" class="city">
                LATAM
              </h4>
              <div class="icon">
                <div class="icon-svg">
                  <img
                    src="@/assets/img/icon/Medellin-black.svg"
                    alt="Medellin"
                  >
                </div>
                <div class="link">
                  <h5 v-if="isEn">
                    Medelin
                  </h5>
                  <h5 v-if="isEs">
                    Medelin
                  </h5>
                  <a class="phone" href="tel:+573184246521"> +57 (318) 424-6521 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import ButtonLoader from '@/components/ButtonLoader'
export default {
  name: 'ContactForm',
  components: {
    ButtonLoader
  },
  props: ['isEn', 'isEs'],
  data () {
    return {
      contactFormData: {
        name: '',
        email: '',
        phone: '',
        message: ''
      },
      nameError: null,
      emailError: null,
      messageError: null,
      isSubmitting: false,
      success: false,
      error: false
    }
  },
  methods: {
    async onSubmit () {
      try {
        const token = await this.$recaptcha.getResponse()
        console.log(token)
        await this.$recaptcha.reset()
      } catch (error) {
        // eslint-disable-next-line no-console
      }
    },
    onError (error) {
      console.log(error)
    },
    onSuccess (token) {
      this.$refs.form.submit()
    },
    onExpired () {
    },
    sendMail () {
      const url = 'https://us-central1-dg-website-v1.cloudfunctions.net/contactUsEmailSender'
      const { name, email, phone, message } = this.contactFormData
      const payload = { name, email, phone, message }
      if (!name) {
        this.nameError = this.isEn ? 'Please enter Your Full Name.' : 'Por favor escriba su nombre'
      } else {
        this.nameError = ''
      }
      if (!message) {
        this.messageError = this.isEn ? 'Please enter Your Massage' : 'Por favor ingrese su masaje'
      } else {
        this.messageError = ''
      }
      if (email && !this.validEmail(email)) {
        this.emailError = this.isEn ? 'Please enter valid Email.' : 'Por favor ingrese un correo valido'
      } else {
        this.emailError = ''
      }
      if (this.nameError || this.emailError || this.messageError) { return }
      this.isSubmitting = true
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
        .then(() => {
          this.success = true
          this.isSubmitting = false
          this.$fire({
            title: this.isEn ? '<span class="alert-title">Your message was added successfully</span>' : '<span class="alert-title">Tu mensaje fue agregado exitosamente</span>',
            text: '',
            type: 'success',
            timer: 3000,
            customClass: {
              title: 'alert-title'
            }
          }).then((r) => {
          })
          this.resetForm()
        })
        .catch(() => {
          this.error = true
          this.isSubmitting = false
        })
    },
    validEmail (email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    resetForm () {
      this.contactFormData = {
        name: '',
        email: '',
        phone: '',
        message: ''
      }
    }
  }
}
</script>
<style lang="scss">
.alert-title {
font-size: 18px !important;
}
.contact-body {
min-height: 80vh;
.loader-container {
position: relative;
display: flex;
.btn-loader-wrapper {
position: absolute;
bottom: 6px;
left: -40px;
}
}
.error-msg {
  color: red;
  font-size: 12px;
}
}
</style>
