<template>
  <div id="body" class="corporate-body service-body">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="@/assets/img/lg/teacher.jpg"
        >
        <source
          media="(min-width:768px)"
          srcset="@/assets/img/md/teacher.jpg"
        >

        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/teacher.jpg"
        >

        <img
          src="@/assets/img/teacher.jpg"
          alt="office-creative-group-happy-work-team-agency-work-space-start-up"
        >
      </picture>

      <h1 v-if="isEn">
        Corporate Philanthropy
      </h1>
      <h1 v-if="isEs">
        Filantropía Corporativa
      </h1>
    </div>

    <main class="service-main ">
      <section class="is-digital">
        <div class="container-full your-money">
          <h2 v-if="isEn" class="yellow">
            PUT YOUR MONEY WHERE YOUR MOUTH IS
          </h2>
          <h2 v-if="isEs" class="yellow">
            DIME DE QUÉ HABLAS Y TE DIRE DONDE PONER TU DINERO
          </h2>
          <p v-if="isEn">
            We help big businesses with their work and investments into nonprofits. We document research on
            community needs, brand
            perception within the community and help brands determine how they can best use charitable funds to
            make decisions that
            best impact and serve the communities they sell into. <br><br>
            We keep our fingers on the pulse of the non-profits, community needs and more to present
            opportunities to corporations
            for their involvement. We create strategies and action plans to distribute these things and help
            corporations contribute
            to philanthropy leads to better long term sales, community connection and brand value.
          </p>
          <p v-if="isEs">
            Ayudamos a las grandes empresas con la estrategia e inversión en organizaciones sin ánimo de lucro o en su estrategia de responsabilidad social corporativa. Documentamos las necesidades de la comunidad, la percepción de la marca dentro de la comunidad y ayudamos a las marcas a determinar cómo pueden invertir mejor los fondos que quieren destinar a causas sociales, para tomar decisiones que tengan un mayor impacto y sirvan a las comunidades en donde la marca tiene presencia.
            <br><br>
            Monitoreamos el pulso de las organizaciones sin ánimo de lucro, las necesidades de la comunidad y más, para encontrar oportunidades para la participación de las corporaciones. Creamos estrategias y planes de acción para ayudar a las corporaciones a emprender el camino de la filantropía lo que a largo plazo representa mejores ventas, una conexión profunda con la comunidad y un impacto positivo en el valor de la marca...
          </p>
        </div>
      </section>
      <section class="dev-us-diff">
        <div class="first-text">
          <h4 v-if="isEn">
            WHAT MAKES US DIFFERENT
          </h4>
          <h4 v-if="isEs">
            LO QUE NOS HACE DIFERENTES
          </h4>
          <p v-if="isEn">
            We run a charity and philanthropic thinking is core to our identity. We understand the ins and outs
            of brand perception
            We run a charity and philanthropic thinking is core to our identity. We understand the ins and outs
            of brand perception
            vs business cost and demand, vs community need. There is a middle ground and we’re your partner in
            navigating that
            landscape.
          </p>
          <p v-if="isEs">
            Dirigimos nuestra propia organización sin ánimo de lucro y el pensamiento filantrópico es parte fundamental de nuestra identidad. Entendemos que existe un terreno fértil donde pueden convivir la percepción de la marca, el costo y la demanda del negocio, y la satisfacción de  las necesidades de la comunidad  y somos su socio para navegar estas aguas.
          </p>
        </div>
        <div class="second-text">
          <h2 v-if="isEn">
            CORPORATE PHILANTHROPY
          </h2>
          <h2 v-if="isEs">
            FILANTROPÍA CORPORATIVA
          </h2>
          <ul>
            <li v-if="isEn">
              Community Research
            </li>
            <li v-if="isEs">
              Investigación sobre la Comunidad
            </li>
            <li v-if="isEn">
              All marketing and business development services for philanthropic efforts.
            </li>
            <li v-if="isEs">
              Todos los servicios de desarrollo de marketing y de negocio, enfocado en lo filantrópico.
            </li>
          </ul>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  components: {},
  props: ['isEn', 'isEs']
}
</script>
<style lang="scss" scoped>
.your-money {
  display: flex;
  @media (max-width: 768px){
   flex-direction: column;
  }
}
.dev-us-diff {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: start;
  align-items: center;
  padding: 100px 40px;
   li{
     color: #fff;
   }

  .first-text {
   grid-column: 2/5;
   justify-self: center;
   @media (max-width: 1200px) {
    grid-column: 1/5;
   }
   @media (max-width: 768px){
    grid-column: 1/-1;
   }
   h4 {
    font-size: 36px;
    color: #fff;
    @media (max-width: 768px) {
     font-size: 24px;
    }
    @media (max-width: 375px) {
     font-size: 18px;
    }
   }
   p {
      color: #fff;
      margin-top: 10px;
      font-size: 14px;
   }
  }
  .second-text {
    grid-column: 6/-1;
    @media (max-width: 768px){
    margin-top: 40px;
    grid-column: 1/-1;
    }
    h2 {
      color: #FED301;
      margin-bottom: 20px;
      @media (max-width: 375px) {
       font-size: 24px;
      }
    }
    ul {
     color: #fff;
     border-left: 2px solid #FED301;
     padding-left: 20px;
    }
  }

  background-image: url('/assets/img/corporate.jpg');
  background-size: cover;
  background-position: center;
  @media (min-width: 375px) {
   background-image: url('/assets/img/sm/corporate.jpg');
  }
  @media (min-width: 768px) {
   background-image: url('/assets/img/md/corporate.jpg');
  }
  @media (min-width: 992px) {
   background-image: url('/assets/img/lg/corporate.jpg');
  }
}
</style>
