<template>
  <div id="body" class="design-body service-body">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="@/assets/img/lg/book.jpg"
        >
        <source
          media="(min-width:768px)"
          srcset="@/assets/img/md/book.jpg"
        >

        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/book.jpg"
        >

        <img
          src="@/assets/img/book.jpg"
          alt="book"
        >
      </picture>

      <h1 v-if="isEn">
        Design
      </h1>
      <h1 v-if="isEs">
        Diseño
      </h1>
    </div>

    <main class="service-main design-main" :class="isEs ? 'es' : '' ">
      <section class="is-digital">
        <div class="container">
          <h2 v-if="isEn" class="yellow">
            IF WE BUILD IT, THEY WILL COME
          </h2>
          <h2 v-if="isEs" class="yellow">
            SI NOSOTROS LO DISEÑAMOS, ELLOS VENDRÁN
          </h2>
          <p v-if="isEn">
            Microsites, direct mailers, websites, eBooks, apps, banners, brochures, campaigns...this is just a start. Design is at
            the core of what we do. We love creating things that we're all proud to show. Our designers are experts in AWESOME, WOW
            and POP. <br> <br>
            We start with a birds-eye view of the market, competition, and measure it against what's working today, current trends,
            and imagine what could work tomorrow. Our design process is collaborative--a method where concepts are whittled down to
            reveal the finest, sharpest ideas. Then we get to work building.
          </p>
          <p v-if="isEs">
            Micrositios, correos directos, sitios webs, eBooks, aplicaciones, banners, folletos, campañas...este es solo el comienzo. El diseño es el centro de lo que hacemos. Amamos crear algo que nos enorgullezca mostrar. Nuestros diseñadores son expertos en generar reacciones WOW.
            <br> <br>Comenzamos con un entendimiento del mercado, la competencia, las tendencias actuales e imaginamos lo que puede realmente funcionar mañana. Nuestro proceso de diseño es colaborativo—un método donde los conceptos son reducidos hasta revelar las ideas más finas y agudas. Luego nos ponemos a trabajar en la producción creativa.
          </p>
        </div>
      </section>
      <section class="dev-us-different">
        <div class="container-full justify-content-center">
          <div v-if="isEn" class="text">
            <h4 v-if="isEn">
              WHAT MAKES US DIFFERENT
            </h4>
            <p v-if="isEn">
              The best feeling in the world is working designers who bring your vision to fruition or exceed it. We pride ourselves on
              our design work and our top shelf designers who work tirelessly and diligently. We value high quality design and bring
              it to every user touchpoint and experience.
              <NuxtLink class="contact-us-link" to="/contact">
                Contact us
              </NuxtLink>
            </p>
          </div>
          <div v-if="isEs" class="text es">
            <h4>
              LO QUE NOS HACE DIFERENTES
            </h4>
            <p>
              Lo mejor del mundo es trabajar con diseñadores que interpretan su visión y la concretan excediendo sus expectativas. Estamos orgullosos de nuestro trabajo de diseño y de nuestros diseñadores, quienes trabajan incansablemente y de manera diligente. Valoramos la alta calidad en el diseño y lo llevamos a cada punto de contacto y  experiencia del usuario. Contáctenos para conocer más sobre nuestros servicios de diseño.
              <NuxtLink class="contact-us-link" to="/es/contact">
                Contáctenos
              </NuxtLink>
            </p>
          </div>
          <div class="strategic-capability">
            <h2 v-if="isEn">
              Design
            </h2>
            <h2 v-if="isEs">
              Diseño
            </h2>
            <div class="flex">
              <ul v-if="isEn">
                <li>
                  Interactive
                </li>
                <li>
                  Social Media
                </li>
                <li>
                  Presentation
                </li>
                <li>
                  Event
                </li>
                <li>
                  UX
                </li>
              </ul>
              <ul v-if="isEn">
                <li>
                  Photography
                </li>
                <li>
                  Microsites
                </li>
                <li>
                  Direct mailers
                </li>
                <li>
                  Websites
                </li>
                <li>
                  eBooks
                </li>
              </ul>
              <ul v-if="isEn">
                <li>
                  Apps
                </li>
                <li>
                  Banners
                </li>
                <li>
                  Campaigns
                </li>
              </ul>

              <ul v-if="isEs">
                <li>
                  Campañas
                </li>
                <li>
                  Eventos
                </li>
                <li>
                  Brochures
                </li>
                <li>
                  Micrositios
                </li>
                <li>
                  Correos directos
                </li>
              </ul>
              <ul v-if="isEs">
                <li>
                  Diseño para redes sociales
                </li>
                <li>
                  Presentaciones de impacto
                </li>
                <li>
                  Banners
                </li>
                <li>
                  Aplicaciones
                </li>
                <li>
                  eBooks
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  components: {
  },
  props: ['isEn', 'isEs']
}
</script>
<style lang="scss" scoped>
.contact-us-link {
  color: #fff;
}
.design-main.es {
  @media (max-width: 768px) {
  .flex {
   flex-direction: column;
  }
  }
}
</style>
