<template>
  <div id="body" class="project-body">
    <div class="project-slider">
      <div class="title-nav">
        <div class="container-full">
          <div class="text-nav">
            <small v-for="( category, index ) in work.categories" :key="`${category}.${index}`" class="text-small">{{ category }}</small>
            <h4 class="title">
              {{ work.brand }}
            </h4>
            <h3>{{ work.name }}</h3>
          </div>
        </div>
      </div>
    </div>
    <main>
      <section v-if="work.sliderImages.length > 0">
        <div class="container-full">
          <div class="slider-pics">
            <VueSlickCarousel v-if="work.video == undefined" v-bind="sliderSettings" ref="carousel">
              <img v-for="( image, index ) in work.sliderImages" :key="`${image}-${index}`" :src="image" class="slider-pic" :alt="`${work.name} image ${index}`">
            </VueSlickCarousel>
            <iframe
              v-if="work.video !== undefined"
              :src="`https://www.youtube-nocookie.com/embed/${work.video}?controls=0`"
              frameborder="0"
              allowfullscreen
            />
          </div>
        </div>
      </section>
      <div class="container-full">
        <div class="main">
          <div class="text1-nav">
            <h4 class="title" v-html="work.featureText" />
          </div>
          <div v-if="isEn" class="implemented">
            services implemented
          </div>
          <div v-if="isEs" class="implemented">
            Servicios Implementados
          </div>
          <div class="content">
            <div class="service-titles">
              <div v-for="(service, index) in work.services" :key="`${service}-${index}`" class="service-title">
                <span class="number">0{{ index + 1 }}</span>
                <span class="title">{{ service }}</span>
              </div>
            </div>
            <div class="descriptions">
              <div v-html="work.description1" />
              <div v-if="work.featureData.length > 0" class="details">
                <div v-for="( item, index ) in work.featureData" :key="`${image}-${index}`" class="detail">
                  <div v-html="item" />
                </div>
              </div>
              <div v-if="work.gallery.length > 0" class="pics">
                <img v-for="( image, index ) in work.gallery" :key="`${image}-${index}`" :src="image" class="slider-pic" :alt="`${work.name} gallery ${index}`">
              </div>
              <div class="notes" v-html="work.description2" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: { VueSlickCarousel },
  props: ['isEn', 'isEs', 'work'],
  data: () => ({
    sliderSettings: {
      arrows: false,
      dots: true,
      fade: true,
      focusOnSelect: true,
      infinite: true,
      autoplay: true,
      autoplaySpeed: 5000,
      speed: 1000,
      slidesToShow: 1,
      slidesToScroll: 1,
      touchThreshold: 5
    }
  })
}
</script>

<style>

</style>
