<template>
  <div id="body" class="development-body service-body">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="@/assets/img/lg/development.jpg"
        >
        <source
          media="(min-width:768px)"
          srcset="@/assets/img/md/development.jpg"
        >

        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/development.jpg"
        >

        <img
          src="@/assets/img/development.jpg"
          alt="office-creative-group-happy-work-team-agency-work-space-start-up"
        >
      </picture>

      <h1 v-if="isEn">
        Interactive <br> Web Development
      </h1>
      <h1 v-if="isEs">
        DESARROLLO <br> INTERACTIVO / WEB
      </h1>
    </div>

    <main class="service-main development-main">
      <section class="is-digital">
        <div class="container-full">
          <h2 v-if="isEn" class="yellow">
            THE WORLD IS DIGITAL
          </h2>
          <h2 v-if="isEs" class="yellow">
            EL MUNDO ES DIGITAL
          </h2>
          <p v-if="isEn">
            Unless you’re just coming back from a deserted island, you know how progressively digital the world has become. This
            means that brands must increasingly adopt digital strategies and use digital platforms to integrate more into the lives
            of their customers and maintain a more positive and influential customer experience.
          </p>
          <p v-if="isEs">
            A menos de que haya vivido en una isla desierta, usted sabe que este es un mundo mundo digital. Esto significa que las marcas deben adoptar las estrategias digitales y utilizar las plataformas digitales para integrarlas aún más a las vidas de sus clientes y mantener una experiencia del cliente más positiva e influyente.
          </p>
        </div>
      </section>

      <section class="dev-us-different">
        <div class="container-full">
          <div class="text">
            <h4 v-if="isEn">
              WHAT MAKES US DIFFERENT
            </h4>
            <h4 v-if="isEs">
              LO QUE NOS HACE DIFERENTES
            </h4>
            <p v-if="isEn">
              Interactive projects can be complicated. They combine design, development, brand, deployment, and so many other
              variables. What makes us different is our attention to detail, expertise, project management and professionalism in
              every part of the process. <br><br>
              Our project managers are communicative, ready for change and are constantly in communication. Our in-house design and
              development teams are top shelf and accessible at any stage of the project. And most importantly, your communication
              with us for each project is led by experienced leadership that is not managed by accounts managers, but rather with
              executive leadership with deep experience in everything interactive, web and digital for a 360º view and approach to
              everything we do.
            </p>
            <p v-if="isEs">
              Los proyectos interactivos pueden ser complicados. Estos combinan el diseño, desarrollo, marca, despliegue y muchas otras variables. Lo que nos diferencia es nuestra atención al detalle, la experiencia, la administración del negocio y el profesionalismo en cada parte del proceso. Nuestros administradores de proyectos son comunicativos, están listos para el cambio y están permanentemente en contacto. <br><br>
              Nuestros equipos de diseño y desarrollo propios son brillantes y están disponibles en cualquier etapa del proyecto. Y lo más importante, la comunicación en cada proyecto es liderada por  un equipo con profunda experiencia en temas de interactividad, web y digitales con el fin de tener una vista de 360° en todo lo que nosotros hacemos.
            </p>
            <h5 v-if="isEn">
              That's a real partnership.
            </h5>
            <h5 v-if="isEs">
              Esto es una verdadera alianza.
            </h5>
          </div>
        </div>
      </section>

      <section class="strategic-capability">
        <div class="container-full justify-content-center">
          <h2 v-if="isEn">
            DEVELOPMENT CAPABILITIES
          </h2>
          <h2 v-if="isEs">
            CAPACIDADES EN DESARROLLO
          </h2>
          <div class="flex lists">
            <ul>
              <li v-if="isEn">
                Website
              </li>
              <li v-if="isEs">
                Sitios Web
              </li>
              <li v-if="isEn">
                Microsite
              </li>
              <li v-if="isEs">
                Micrositios
              </li>
              <li v-if="isEn">
                Product Demos
              </li>
              <li v-if="isEs">
                Demos de Producto
              </li>
              <li v-if="isEn">
                Applications
              </li>
              <li v-if="isEs">
                Aplicaciones Móviles
              </li>
              <li v-if="isEn">
                Mobile Applications
              </li>
            </ul>
            <ul v-if="isEn">
              <li>
                Interactive media
              </li>
              <li>
                Interactive tools
              </li>
              <li>
                Interactive emails
              </li>
              <li>
                eBooks
              </li>
            </ul>
            <ul v-if="isEs" class="sm">
              <li>
                Medios Interactivos
              </li>
              <li>
                eBooks
              </li>
              <li>
                Banners
              </li>
              <li>
                Landing pages
              </li>
            </ul>
            <ul v-if="isEs">
              <li>
                Ecommerce (tiendas en línea)
              </li>
              <li>
                Herramientas interactivas
              </li>
              <li>
                Correos electrónicos interactivos
              </li>
              <li>
                Formatos de comerciales digitales
              </li>
            </ul>
            <ul v-if="isEn" class="sm">
              <li>
                Banners
              </li>
              <li>
                Landing pages
              </li>
              <li v-if="isEn">
                Digital ads formats
              </li>
              <li v-if="isEn">
                Ecommerce (online shops)
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  components: {
  },
  props: ['isEn', 'isEs']
}
</script>
<style scoped lang="scss">
.strategic-capability {
.lists {
   .sm {
    margin-right: 0;
   }
 }
}
</style>
