
<template>
  <div class="home-body">
    <main>
      <section :class="isEs ? 'intro es' : 'intro'">
        <div class="slide">
          <h1 v-if="isEn">
            Businesses do not market themselves, <span class="red">we do.</span>
          </h1>
          <h1 v-if="isEs">
            Tu negocio no va a crecer solo, <span class="red">nosotros lo hacemos por ti.</span>
          </h1>
          <div :class="isEs ? 'go-to-approach es' : 'go-to-approach'">
            <a
              v-smooth-scroll="{ offset: -50 }"
              href="#nextSection"
              aria-label="go to next section"
            >
              <svg
                viewBox="0 0 50 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="25" cy="25" r="25" fill="#fff" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25.3 36.3a1 1 0 01-.6-.3l-2.8-2.8a1 1 0 111.3-1.3l2.1 2.1 2.2-2.1a1 1 0 111.3 1.3L26 36a1 1 0 01-.7.3z"
                  fill="#000"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25.3 36.3a1 1 0 01-.9-1V14.4a1 1 0 111.9 0v21c0 .5-.4.9-1 .9z"
                  fill="#000"
                />
              </svg>
            </a>
          </div>
        </div>
        <p v-if="isEn" id="nextSection" class="">
          <strong class="text-semibold">dg</strong> works with Fortune 500,
          Silicon Valley & top brands as a strategic & creative marketing agency
          partner.
        </p>
        <p v-if="isEs" id="nextSection" class="">
          <strong class="text-semibold">dg</strong> trabaja con marcas reconocidas Fortune 500 y de Silicon Valley como su agencia y socio estratégico, creativo y de mercadeo.
        </p>
      </section>
      <section id="approach" :class="isEs ? 'approach es' : 'approach'">
        <h5 v-if="isEn">
          OUR APPROACH
        </h5>
        <h5 v-if="isEs">
          Nuestro Enfoque
        </h5>

        <div class="description">
          <div class="approach-headings">
            <svg
              width="167"
              height="342"
              viewBox="0 0 167 342"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="-4"
                cy="171"
                r="169.5"
                stroke="white"
                stroke-width="3"
              />
            </svg>
            <div
              class="approach-heading approach-heading--first"
              :class="
                approaches[0].key === '1'
                  ? 'bottom'
                  : approaches[0].key === '2'
                    ? 'middle'
                    : 'top'
              "
            >
              <div
                class="dg-story-icon dg-story-icon--red"
                :class="
                  approaches[1].key === '2'
                    ? 'dg-story-icon--lg'
                    : 'dg-story-icon--sm'
                "
              >
                <svg
                  width="28"
                  height="22"
                  viewBox="0 0 28 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M25.9375 17.1406C27.2031 15.875 28 14.2812 28 12.5C28 8.75 24.3906 5.65625 19.7031 5.14062C18.25 2.42188 14.7812 0.5 10.75 0.5C5.35938 0.5 1 3.875 1 8C1 9.73438 1.75 11.3281 3.0625 12.6406C2.3125 14.0469 1.28125 15.1719 1.28125 15.2188C1 15.5 0.90625 15.9688 1.04688 16.3906C1.23438 16.7656 1.60938 17.0469 2.07812 17.0469C4.5625 17.0469 6.57812 16.0625 7.9375 15.2188C8.35938 15.3125 8.82812 15.3594 9.25 15.4531C10.75 18.125 14.1719 20 18.25 20C19.1875 20 20.125 19.9062 21.0156 19.7188C22.375 20.5625 24.3906 21.5 26.9219 21.5C27.3438 21.5 27.7188 21.2656 27.9062 20.8438C28.0469 20.4688 28 20 27.6719 19.6719C27.6719 19.6719 26.6406 18.5469 25.9375 17.1406ZM7.51562 12.7812L6.71875 13.2969C6.0625 13.7656 5.35938 14.0938 4.70312 14.3281C4.79688 14.0938 4.9375 13.8594 5.07812 13.625L5.78125 12.1719L4.60938 11C4 10.3906 3.25 9.35938 3.25 8C3.25 5.1875 6.67188 2.75 10.75 2.75C14.7812 2.75 18.25 5.1875 18.25 8C18.25 10.8594 14.7812 13.25 10.75 13.25C9.95312 13.25 9.20312 13.2031 8.45312 13.0156L7.51562 12.7812ZM24.3438 15.5L23.1719 16.6719L23.9219 18.125C24.0156 18.3594 24.1562 18.5938 24.2969 18.8281C23.5938 18.5938 22.9375 18.2188 22.2812 17.7969L21.4375 17.2812L20.5469 17.5156C19.7969 17.7031 19 17.75 18.25 17.75C15.7188 17.75 13.4219 16.8125 12.0625 15.4531C16.8438 14.9375 20.5 11.7969 20.5 8C20.5 7.85938 20.4531 7.71875 20.4531 7.53125C23.4531 8.23438 25.75 10.2031 25.75 12.5C25.75 13.8594 24.9531 14.8906 24.3438 15.5Z"
                    fill="white"
                  />
                </svg>
              </div>
              <div v-if="isEn">
                <span
                  :class="approaches[1].key === '2' ? 'text-lg' : ''"
                >→ dg Story</span>
              </div>
              <div v-if="isEs">
                <span
                  :class="approaches[1].key === '2' ? 'text-lg' : ''"
                >→ dg Narrativa</span>
              </div>
            </div>
            <div
              class="approach-heading approach-heading--second"
              :class="
                approaches[1].key === '1'
                  ? 'top'
                  : approaches[1].key === '2'
                    ? 'bottom'
                    : 'middle'
              "
            >
              <div
                class="dg-story-icon dg-story-icon--blue"
                :class="
                  approaches[1].key === '3'
                    ? 'dg-story-icon--lg'
                    : 'dg-story-icon--sm'
                "
              >
                <svg
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.9375 19.5H6C5.15625 19.5 4.5 20.25 4.5 21V22.5C4.5 23.3438 5.15625 24 6 24H7.40625C7.40625 28.2188 6.9375 32.1562 6 36H18C16.9688 32.1562 16.5 28.2188 16.5 24H18C18.75 24 19.5 23.3438 19.5 22.5V21C19.5 20.25 18.75 19.5 18 19.5H17.0625L20.1562 11.0625C20.25 10.875 20.25 10.6875 20.25 10.5938C20.25 9.75 19.5938 9.09375 18.75 9.09375V9H13.5V6H15.75C16.125 6 16.5 5.71875 16.5 5.25V3.75C16.5 3.375 16.125 3 15.75 3H13.5V0.75C13.5 0.375 13.125 0 12.75 0H11.25C10.7812 0 10.5 0.375 10.5 0.75V3H8.25C7.78125 3 7.5 3.375 7.5 3.75V5.25C7.5 5.71875 7.78125 6 8.25 6H10.5V9H5.15625C4.3125 9 3.65625 9.75 3.65625 10.5C3.65625 10.6875 3.65625 10.875 3.75 11.0625L6.9375 19.5ZM23.1562 43.125L21 42V40.5C21 39.75 20.25 39 19.5 39H4.5C3.65625 39 3 39.75 3 40.5V42L0.75 43.125C0.28125 43.4062 0 43.875 0 44.4375V46.5C0 47.3438 0.65625 48 1.5 48H22.5C23.25 48 24 47.3438 24 46.5V44.4375C24 43.875 23.625 43.4062 23.1562 43.125ZM31.7812 28.3125L31.5 36H43.4062L43.125 28.3125L45.375 26.3438C46.0312 25.875 46.5 25.0312 46.5 24.0938V18.5625C46.5 18.2812 46.2188 18 45.9375 18H43.4062C43.125 18 42.8438 18.2812 42.8438 18.5625V21H40.5V18.5625C40.5 18.2812 40.3125 18 39.9375 18H34.9688C34.5938 18 34.4062 18.2812 34.4062 18.5625V21H32.0625V18.5625C32.0625 18.2812 31.7812 18 31.5 18H29.0625C28.6875 18 28.5 18.2812 28.5 18.5625V24.0938C28.5 25.0312 28.875 25.875 29.5312 26.3438L31.7812 28.3125ZM36 28.5C36 27.75 36.6562 27 37.5 27C38.25 27 39 27.75 39 28.5V31.5H36V28.5ZM47.1562 43.125L45 42V40.5C45 39.75 44.25 39 43.5 39H31.5C30.6562 39 30 39.75 30 40.5V42L27.75 43.125C27.2812 43.4062 27 43.875 27 44.4375V46.5C27 47.3438 27.6562 48 28.5 48H46.5C47.25 48 48 47.3438 48 46.5V44.4375C48 43.875 47.625 43.4062 47.1562 43.125Z"
                    fill="white"
                  />
                </svg>
              </div>
              <div v-if="isEn">
                <span
                  :class="approaches[1].key === '3' ? 'text-lg' : ''"
                >→ dg Strategic Insights</span>
              </div>
              <div v-if="isEs">
                <span
                  :class="approaches[1].key === '3' ? 'text-lg' : ''"
                >→ dg Insights estratégicos</span>
              </div>
            </div>
            <div
              class="approach-heading approach-heading--third"
              :class="
                approaches[2].key === '1'
                  ? 'middle'
                  : approaches[2].key === '2'
                    ? 'top'
                    : 'bottom'
              "
            >
              <div
                class="dg-story-icon dg-story-icon--yellow"
                :class="
                  approaches[1].key === '1'
                    ? 'dg-story-icon--lg'
                    : 'dg-story-icon--sm'
                "
              >
                <svg
                  width="27"
                  height="24"
                  viewBox="0 0 27 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.5 6C6.14062 6 7.5 4.6875 7.5 3C7.5 1.35938 6.14062 0 4.5 0C2.8125 0 1.5 1.35938 1.5 3C1.5 4.6875 2.8125 6 4.5 6ZM4.5 14.2969V14.25C4.5 13.6875 4.73438 13.1719 5.10938 12.7969L8.48438 9.5625C8.57812 9.51562 8.67188 9.46875 8.76562 9.42188C8.34375 8.29688 7.21875 7.54688 6 7.5H3C1.3125 7.5 0 8.85938 0 10.5V15C0 15.8438 0.65625 16.5 1.5 16.5V22.5C1.5 23.3438 2.15625 24 3 24H6C6.79688 24 7.5 23.3438 7.5 22.5V18L5.10938 15.7969C4.73438 15.4219 4.45312 14.8594 4.45312 14.2969H4.5ZM22.5 6C24.1406 6 25.5 4.6875 25.5 3C25.5 1.35938 24.1406 0 22.5 0C20.8125 0 19.5 1.35938 19.5 3C19.5 4.6875 20.8125 6 22.5 6ZM24 7.5H21C19.7344 7.54688 18.6094 8.29688 18.1875 9.42188C18.2812 9.46875 18.375 9.51562 18.4688 9.60938L21.8438 12.7969C22.2188 13.1719 22.5 13.6875 22.5 14.2969C22.5 14.8594 22.2188 15.375 21.8438 15.7969L19.5 18V22.5C19.5 23.3438 20.1562 24 21 24H24C24.7969 24 25.5 23.3438 25.5 22.5V16.5C26.2969 16.5 27 15.8438 27 15V10.5C27 8.85938 25.6406 7.5 24 7.5ZM20.8125 13.875L17.4375 10.6875C17.3438 10.5938 17.2031 10.5 17.0625 10.5C16.7344 10.5 16.5 10.7812 16.5 11.0625V12.75H10.5V11.0625C10.5 10.7812 10.2188 10.5 9.9375 10.5C9.75 10.5 9.60938 10.5938 9.51562 10.6875L6.14062 13.875C6.04688 13.9688 6 14.1094 6 14.2969C6 14.4375 6.04688 14.5781 6.14062 14.6719L9.51562 17.8594C9.60938 17.9531 9.75 18.0469 9.89062 18.0469C10.2188 18.0469 10.4531 17.7656 10.4531 17.4844H10.5V15.75H16.5V17.4844C16.5 17.7656 16.7344 18.0469 17.0625 18.0469C17.2031 18.0469 17.3438 17.9531 17.4375 17.8594L20.8125 14.6719C20.9062 14.5781 21 14.4375 21 14.2969C21 14.1094 20.9062 13.9688 20.8125 13.875Z"
                    fill="white"
                  />
                </svg>
              </div>
              <div v-if="isEn">
                <span
                  :class="approaches[1].key === '1' ? 'text-lg' : ''"
                >→ dg Responsive Marketing</span>
              </div>
              <div v-if="isEs">
                <span
                  :class="approaches[1].key === '1' ? 'text-lg' : ''"
                >→ dg Marketing adaptable</span>
              </div>
            </div>
          </div>
          <div class="approach-wrapper">
            <div
              v-for="(approach, index) in approaches"
              :key="approach.key"
              class="approach-item-text"
              :class="index === 1 ? 'active' : ''"
            >
              <h2 v-if="isEn">
                {{ approach.enTitle }}
              </h2>
              <p v-if="isEn">
                {{ approach.enText }}
              </p>
              <h2 v-if="isEs">
                {{ approach.esTitle }}
              </h2>
              <p v-if="isEs">
                {{ approach.esText }}
              </p>
            </div>
            <div class="arrows">
              <button
                aria-label="prov"
                class="prov arrow"
                @click="moveToPrevApproach"
              />
              <button
                aria-label="next"
                class="next arrow"
                @click="moveToNextApproach"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="fields">
        <div class="container-full">
          <h2 v-if="isEn">
            We’ve created & led projects and campaigns, with strategic and
            creative in the following fields:
          </h2>
          <h2 v-if="isEs">
            Hemos creado y dirigido proyectos con estrategia y creatividad en los siguientes campos
          </h2>

          <div class="pic-and-li">
            <ol id="all-fields">
              <li
                v-for="(f, index) in fields"
                :key="f.key"
                :class="index === 8 ? 'active' : ''"
              >
                <span class="number">{{ f.num }}</span>
                <span v-if="isEn">{{ f.enTitle }}</span>
                <span v-if="isEs">{{ f.esTitle }}</span>
              </li>
            </ol>
            <div class="pics">
              <div
                v-for="(field, index) in fields"
                :key="field.key"
                class="pic"
                :class="index === 4 ? 'active' : ''"
              >
                <picture>
                  <source
                    media="(min-width:1200px)"
                    :srcset="require(`@/assets/img/${field.picName}.jpg`)"
                  >
                  <img
                    :src="require(`@/assets/img/${field.picName}.jpg`)"
                    alt="mobile"
                  >
                </picture>
                <div v-if="isEn">
                  <nuxt-link :to="`/${field.slug}`" class="see-we-do">
                    Learn more
                  </nuxt-link>
                </div>
                <div v-if="isEs">
                  <nuxt-link :to="`/es/${field.slug}`" class="see-we-do">
                    Aprende más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>

          <div class="fields-items">
            <div class="arrows">
              <button
                aria-label="prov"
                class="prov arrow"
                @click="moveToPrevField"
              />
              <button
                aria-label="next"
                class="next arrow"
                @click="moveToNextField"
              />
            </div>
            <!-- <div class="text">
              <p>
                We are experts. Connect with us today and let us help you build
                your strategy.
              </p>
            </div> -->
          </div>
        </div>
      </section>

      <section class="our-work">
        <div class="container-full">
          <h5 v-if="isEn">
            OUR WORK
          </h5>
          <h5 v-if="isEs">
            NUESTRO TRABAJO
          </h5>
          <h2 v-if="isEn">
            We’re so proud to collaborate with such amazing brands.
          </h2>
          <h2 v-if="isEs">
            Estamos muy orgullosos de colaborar con marcas tan increíbles.
          </h2>
        </div>
        <div class="container-full custom-padding">
          <div
            class="works container-full"
          >
            <Work v-for="work in works" :key="work.slug" :work="work" :is-es="isEs" />
          </div>
        </div>
        <div class="container-full">
          <div v-if="isEn" class="think-ceate-itrate">
            <img
              src="@/assets/img/think-ceate-itrate.svg"
              alt="think ceate itrate svg"
            >
          </div>
          <div v-if="isEs" class="think-ceate-itrate">
            <img
              src="@/assets/img/idear-crear-iterar.svg"
              alt="idear-crear-iterar svg"
            >
          </div>
        </div>
      </section>
      <News :is-es="isEs" :is-en="isEn" />
    </main>
  </div>
</template>

<script>

import Work from '@/components/Work'
import News from '@/components/News'

let Isotope

if (process.browser) {
  Isotope = require('isotope-layout')
}

export default {
  components: { Work, News },
  props: ['isEn', 'isEs', 'works'],
  data () {
    return {
      iso: null,
      mouseoverItem: 0,
      selected: null,
      option: {
        getSortData: {
          id: 'id'
        },
        sortBy: 'id'
      },
      approaches: [
        { key: '1', enTitle: 'In a changing world, with evolving outlets, markets, customers, and business & customer demands, content needs to be designed to adapt to whatever demands may rise.', esTitle: 'Somos flexibles. Entregamos soluciones personalizadas e inmediatas que mejoran la experiencia del clientey los resultados finales.', enText: 'We generate strategic insights and turn them into actual creative by focusing on Customer, Reasons to Believe, Key Insights, Objectives, Brand Review and more. ', esText: '' },
        { key: '2', enTitle: 'We maintain a strong commitment to the art of persuasion, with storytelling being our chief modus operandi. ', esTitle: 'Nosotros mantenemos un fuerte compromiso con el arte de la persuasión. Cada proyecto que emprendemos cuenta una historia única y distinta creada para optimizar el desempeño y mejorar la afinidad con la marca.', enText: 'Each project we undertake has a unique and distinct storyline created to optimize performance and improve brand affinity.', esText: '' },
        { key: '3', enTitle: 'This is our proprietary process we use to launch and direct each project.', esTitle: 'Nuestro proceso único guía cada proyecto. Los insights estratégicos se convierten en insumos para crear contenidos centrados en los clientes, en sus creencias, los objetivos de negocio, las marcas y más.', enText: 'We generate strategic insights and turn them into actual creative by focusing on Customer, Reasons to Believe, Key Insights, Objectives, Brand Review and more. ', esText: '' }
      ],
      fields: [
        { key: '01', num: '04', enTitle: 'Measurement & Optimization', esTitle: 'Medición y Optimización', picName: 'field-4', slug: 'measurement' },
        { key: '02', num: '05', enTitle: 'Design', esTitle: 'Diseño', picName: 'field-5', slug: 'design' },
        { key: '03', num: '06', enTitle: 'Branding', esTitle: 'Posicionamiento de Marca', picName: 'field-6', slug: 'branding' },
        { key: '04', num: '07', enTitle: 'Corporate Philantrophy', esTitle: 'Filantropía Corporativa', picName: 'field-7', slug: 'corporate' },
        { key: '05', num: '01', enTitle: 'Strategy', esTitle: 'Estrategia', picName: 'field-1', slug: 'strategy' },
        { key: '06', num: '02', enTitle: 'Video Production', esTitle: 'Producción de Video', picName: 'field-2', slug: 'video' },
        { key: '07', num: '03', enTitle: 'Interactive & Web Development', esTitle: 'Desarrollo Interactivo/ Web', picName: 'field-3', slug: 'development' },
        { key: '08', num: '04', enTitle: 'Measurement & Optimization', esTitle: 'Medición y Optimización', picName: 'field-4', slug: 'measurement' },
        { key: '09', num: '05', enTitle: 'Design', esTitle: 'Diseño', picName: 'field-5', slug: 'design' },
        { key: '10', num: '06', enTitle: 'Branding', esTitle: 'Posicionamiento de Marca', picName: 'field-6', slug: 'branding' },
        { key: '11', num: '07', enTitle: 'Corporate Philantrophy', esTitle: 'Filantropía Corporativa', picName: 'field-7', slug: 'corporate' },
        { key: '12', num: '01', enTitle: 'Strategy', esTitle: 'Estrategia', picName: 'field-1', slug: 'strategy' },
        { key: '13', num: '02', enTitle: 'Video Production', esTitle: 'Producción de Video', picName: 'field-2', slug: 'video' },
        { key: '14', num: '03', enTitle: 'Interactive & Web Development', esTitle: 'Desarrollo Interactivo/ Web', picName: 'field-3', slug: 'development' }
      ]
    }
  },
  created () {
    this.approaches = this.shift(this.approaches, 0, 1)
  },
  mounted () {
    this.isotope()
  },
  methods: {
    isotope () {
      this.iso = new Isotope('.works', {
        itemSelector: '.work-box',
        layoutMode: 'masonry',
        percentPosition: false
      })
      this.iso.layout()
    },
    mouseover (number) {
      this.mouseoverItem = number
    },
    mouseleave (number) {
      this.mouseoverItem = number
    },
    shift (arr, direction, n) {
      const times = n > arr.length ? n % arr.length : n
      return arr.concat(arr.splice(0, (direction > 0 ? arr.length - times : times)))
    },
    moveToPrevApproach () {
      if (this.approaches[2].key !== '3') {
        this.approaches = this.shift(this.approaches, 1, 1)
      }
    },
    moveToNextApproach () {
      if (this.approaches[2].key !== '2') {
        this.approaches = this.shift(this.approaches, 0, 1)
      }
    },
    moveToPrevField () {
      this.fields = this.shift(this.fields, 1, 1)
    },
    moveToNextField () {
      this.fields = this.shift(this.fields, 0, 1)
    }
  }
}
</script>

<style lang="scss">
.intro.es {
@media (max-width: 384px) {
 p {
 position: relative;
 top: 40px;
}
}
@media (max-width: 300px) {
  p {
   position: relative;
   top: 90px;
  }
}
}
.approach.es {
  @media (max-width: 384px) {
   h5 {
    top: 50px;
    margin-bottom: 40px;
   }
  }
}
.go-to-approach.es {
  svg {
    position: relative;
   @media (max-width: 384px) {
    top: 70px;
   }
   @media (max-width: 300px) {
     top: 120px;
   }
   @media (min-width: 768px) {
    @media (max-width: 783px) {
     top: 50px;
    }
   }
   @media (min-width: 990px) {
    @media (max-width: 1200px) {
     top: 40px;
    }
   }
  }
}
.approach-headings {
  @media (max-width: 1299px) {
    transform: scale(0.9);
    transform-origin: left center;
  }
  @media (max-width: 1199px) {
    transform: scale(0.8);
    transform-origin: left center;
  }
  @media (max-width: 991px) {
    transform: scale(0.7);
    transform-origin: left center;
  }
  @media (max-width: 799px) {
    transform: scale(0.65);
    transform-origin: left center;
  }
  @media (max-width: 767px) {
    transform: scale(0.6);
    transform-origin: left center;
  }
  @media (max-width: 575px) {
    transform: scale(0.55);
    transform-origin: left center;
  }
  @media (max-width: 370px) {
    transform: scale(0.5);
    transform-origin: left center;
  }
}

.dg-story-icon {
  background-color: #47cdae;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
  & > * {
    transition: all 0.5s ease-in-out;
  }
  &--lg {
    width: 105px;
    height: 105px;
    & > * {
      width: 55px !important;
      height: 55px !important;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &--sm {
    width: 50px;
    height: 50px;
    & > * {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &--red {
    background-color: #f52583;
  }
  &--blue {
    background-color: #588fcb;
  }
  &--yellow {
    background-color: #fed301;
  }
}
.approach-headings {
  @media (max-width: 767px) {
    grid-column: 1/-1;
  }
}
.approach-heading {
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  span {
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
  }
  .text-lg {
    font-size: 30px;
  }
  &--first {
    position: absolute;
    top: 19px;
    left: 80px;
    &.top {
      transform: translate3d(-50px, -30px, 0);
    }
    &.middle {
      transform: translate3d(25px, 30px, 0);
    }
    &.bottom {
      transform: translate3d(40px, 110px, 0);
    }
  }
  &--second {
    position: absolute;
    top: 110px;
    left: 110px;
    svg {
      width: 30px;
      height: 25px;
    }
    &.top {
      transform: translate3d(-5px, -60px, 0);
    }
    &.middle {
      transform: translate3d(10px, 15px, 0);
    }
    &.bottom {
      transform: translate3d(-10px, 140px, 0);
    }
  }
  &--third {
    position: absolute;
    top: 270px;
    left: 80px;
    &.top {
      transform: translate3d(30px, -140px, 0);
    }
    &.middle {
      transform: translate3d(15px, -10px, 0);
    }
    &.bottom {
      transform: translate3d(-50px, 30px, 0);
    }
  }
  & > *:first-child {
    margin-right: 30px;
  }
}
</style>
