<template>
  <div id="body" class="service-body measurment-body" :class="isEs ? 'isEs' : 'isEn'">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="@/assets/img/lg/measurment.jpg"
        >
        <source
          media="(min-width:768px)"
          srcset="@/assets/img/md/measurment.jpg"
        >

        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/measurment.jpg"
        >

        <img
          src="@/assets/img/measurment.jpg"
          alt="office-creative-group-happy-work-team-agency-work-space-start-up"
        >
      </picture>

      <h1 v-if="isEn">
        Measurement <br> & Optimization
      </h1>
      <h1 v-if="isEs">
        Medición <br>  y Optimización
      </h1>
    </div>

    <main class="service-main measurment-main">
      <section class="is-digital">
        <div class="container">
          <h2 v-if="isEn" class="yellow">
            MEASURE, TRACK, LISTEN, OPTIMIZE
          </h2> <h2 v-if="isEs" class="yellow">
            MEDIR, SEGUIR, ESCUCHAR, OPTIMIZAR
          </h2>
          <p v-if="isEn">
            Complete digital audits. Content audits. Reports on the future of digital ecosystems. User experience testing. Focus
            groups. Deep within the earth of your product, brand and customer experience, are the insights, the diamonds, that have
            an incredible amount of value to make global changes to your brand. <br> <br> There is another human being at the outer end of
            the experience-of your brand, project, or campaign. We measure, follow, track & listen to the consumer using
            technologies that are customized to do this best. We are committed to continually renewing, reshaping and rethinking our
            work. We do not settle. We are never finished. There are always new insights to glean.
          </p>
          <p v-if="isEs">
            Auditorías digitales completas. Auditorías de contenido. Reportes sobre el futuro de los ecosistemas digitales. Pruebas de experiencia de usuario. Grupos Focales. En lo más profundo de su producto, marca y experiencia de cliente se encuentran los insights, los diamantes que tienen un increíble valor y que permiten llevar las marcas a otro nivel.<br> <br>
            Existe otro ser humano al otro lado de la experiencia de su marca, proyecto o campaña. Nosotros medimos, seguimos, vigilamos y escuchamos al consumidor usando tecnologías especializadas en mejorar el desempeño. Estamos comprometidos con renovar, reformar y repensar nuestro trabajo permanentemente. No nos conformamos. Nunca terminamos. Siempre tenemos nuevos conocimientos por adquirir.
          </p>
        </div>
      </section>
      <section class="dev-us-different">
        <div class="container-full">
          <div class="text">
            <h4 v-if="isEn">
              WHAT MAKES US DIFFERENT
            </h4>
            <h4 v-if="isEs">
              LO QUE NOS HACE DIFERENTES
            </h4>
            <p v-if="isEn">
              We have a vast amount of experience in all things digital. We cross-pollinate for discovery and solution internally, so
              that each project from focus groups to UX to asset audits, is fully vetted from all angles. We work collaboratively with
              our clients. Showing them data to get buy in. We do not rely on “gut.” The results are empirical and have a profound
              effect on charting new paths forward. Call us and let’s talk about how we can get started helping you.
              <NuxtLink class="contact-us-link" to="/contact">
                Contact us
              </NuxtLink>
            </p>
            <p v-if="isEs">
              Tenemos una amplia experiencia en todo lo digital. Descubrimos y solucionamos el interior, para asegurarnos que cada proyecto sea completamente examinado, desde todos los ángulos. Trabajamos de manera colaborativa con nuestros clientes. Nos basamos en datos, no en “corazonadas.” Los resultados son empíricos y tienen un profundo efecto en el trazo de los nuevos caminos hacia adelante. Contáctenos y hablemos sobre cómo podemos comenzar a ayudarle.
              <NuxtLink class="contact-us-link" to="/es/contact">
                Contáctenos
              </NuxtLink>
            </p>
          </div>
        </div>
      </section>

      <section class="strategic-capability">
        <div class="container-full justify-content-center">
          <h2 v-if="isEn">
            MEASUREMENT AND OPTIMIZATION
          </h2>
          <h2 v-if="isEs" class="es">
            MEDICIÓN Y OPTIMIZACIÓN
          </h2>
          <div class="flex">
            <ul>
              <li v-if="isEn">
                Digital Audits
              </li>
              <li v-if="isEs">
                Auditorías digitales
              </li>
              <li v-if="isEn">
                Social Media Audit
              </li>
              <li v-if="isEs">
                Auditorías de Redes Sociales
              </li>
              <li v-if="isEn">
                Content Audit
              </li>
              <li v-if="isEs">
                Auditoría de Contenido
              </li>
              <li v-if="isEn">
                Focus Groups
              </li>
              <li v-if="isEs">
                Grupos Focales Especializados
              </li>
              <li v-if="isEn">
                UX testing
              </li>
              <li v-if="isEs">
                Prueba de la experiencia del usuario (UX)
              </li>
            </ul>
            <ul>
              <li v-if="isEn">
                Analytics Interpretation
              </li>
              <li v-if="isEs">
                Interpretación de Analíticas
              </li>
              <li v-if="isEn">
                Research
              </li>
              <li v-if="isEs">
                Investigación
              </li>
              <li v-if="isEn">
                Google, YouTube, Social Analytics
              </li>
              <li v-if="isEs">
                Analíticas de Google, YouTube y Redes Sociales
              </li>
              <li v-if="isEn">
                SEM Analytics
              </li>
              <li v-if="isEs">
                Analíticas de SEM
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  components: {
  },
  props: ['isEn', 'isEs']
}
</script>
<style lang="scss" scoped>
 .contact-us-link {
  color: #fff;
 }
</style>
