<template>
  <div id="body" class="ourwork-body">
    <main>
      <section class="intro">
        <div class="slide">
          <h1 v-if="isEn" class="">
            Our Work
          </h1>
          <h1 v-if="isEs" class="">
            Nuestro Trabajo
          </h1>
        </div>
      </section>
      <section class="our-work">
        <div class="container-full title-group">
          <h2 v-if="isEn">
            We’re so proud to collaborate with such amazing brands.
          </h2>
          <h2 v-if="isEs">
            Estamos muy orgullosos de colaborar con marcas tan increíbles.
          </h2>
        </div>
        <div class="container-full custom-padding">
          <nav class="filters-button-group">
            <ul>
              <li
                v-for="( item, index ) in isEs ? esItemsOccurences : enItemsOccurences"
                :key="`${item}-${index}`"
              >
                <button :class="activeTab === formatSlug(item) ? 'active' : ''" :data-filter="formatSlug(item)" @click="filter('.' + formatSlug(item))">
                  <span>{{ item }}</span>
                </button>
              </li>
            </ul>
          </nav>
          <div class="works container-full" @click="handleWorkClick">
            <Work v-for="work in works" :key="work.slug" :work="work" />
          </div>
        </div>
      </section>
      <News :is-es="isEs" :is-en="isEn" />
    </main>
  </div>
</template>

<script>
import News from '@/components/News'

let Isotope

if (process.browser) {
  Isotope = require('isotope-layout')
}

export default {
  components: { News },
  props: ['isEn', 'isEs', 'works'],
  data () {
    return {
      iso: null,
      enItemsOccurences: ['Strategy', 'Design', 'Video Production', 'Interactive/Web', 'Measurement & Optimization', 'Branding'],
      esItemsOccurences: ['Estrategia', 'Diseño', 'Producción de video', 'Interactivo/Web', 'Medición y Optimización', 'Branding'],
      activeTab: this.isEn ? 'strategy' : 'estrategia'
    }
  },

  created () {
    this.getCategory()
  },
  mounted () {
    const lastSeenWorkTab = localStorage.getItem('lastSeenWorkTab')
    if (lastSeenWorkTab) {
      this.activeTab = lastSeenWorkTab
    }
    this.isotope()
  },

  methods: {
    getCategory () {
      // this.works.forEach((work) => {
      //   work.categories.forEach((category) => {
      //     if (!this.itemsOccurences.includes(category)) {
      //       this.itemsOccurences.push(category)
      //     }
      //   })
      // })
    },
    isotope () {
      this.iso = new Isotope('.works', {
        itemSelector: '.work-box',
        layoutMode: 'masonry',
        percentPosition: false,
        filter: `.${this.activeTab}`
      })

      this.iso.layout()
    },
    formatSlug (data) {
      return data.toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, '')
    },
    filter (slug) {
      this.activeTab = this.formatSlug(slug.toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, ''))
      this.iso.arrange({
        filter: slug
      })
    },
    handleWorkClick () {
      localStorage.setItem('lastSeenWorkTab', this.activeTab)
    }
  }
}
</script>
<style lang="scss">
.intro {
  .slide {
    .line {
      display: none;
      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
}
</style>
