<template>
  <div id="body" class="service-body strategy-body ">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1441px)"
          srcset="@/assets/img/xxl/strategy-slide.jpg"
        >
        <source
          media="(min-width:1045px)"
          srcset="@/assets/img/lg/strategy-slide.jpg"
        >
        <source
          media="(min-width:769px)"
          srcset="@/assets/img/md/strategy-slide.jpg"
        >
        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/strategy-slide.jpg"
        >
        <img
          src="@/assets/img/strategy-slide.jpg"
          alt="strategy"
        >
      </picture>
      <h1 v-if="isEn">
        Strategy
      </h1>
      <h1 v-if="isEs">
        ESTRATEGIA
      </h1>
    </div>
    <main class="service-main strategy-main">
      <section class="">
        <div class="container-full">
          <picture v-if="isEn">
            <source
              media="(min-width:1200px)"
              srcset="@/assets/img/lg/just-win-baby.jpg"
            >
            <source
              media="(min-width:768px)"
              srcset="@/assets/img/md/just-win-baby.jpg"
            >

            <source
              media="(min-width:376px)"
              srcset="@/assets/img/sm/just-win-baby.jpg"
            >

            <img
              src="@/assets/img/just-win-baby.jpg"
              alt="office-creative-group-happy-work-team-agency-work-space-start-up"
            >
          </picture>
          <picture v-if="isEs">
            <source
              media="(min-width:1200px)"
              srcset="/assets/img/lg/just-win-baby-Spanish.svg"
            >
            <source
              media="(min-width:768px)"
              srcset="/assets/img/md/just-win-baby-Spanish.svg"
            >

            <source
              media="(min-width:376px)"
              srcset="/assets/img/sm/just-win-baby-Spanish.svg"
            >

            <img
              src="/assets/img/just-win-baby-Spanish.svg"
              alt="office-creative-group-happy-work-team-agency-work-space-start-up"
            >
          </picture>
          <p v-if="isEn">
            Whether it's how to increase market share, get better video
            conversion rates, build higher social media engagement, increase
            sales with performance marketing, or improve brand affinity, every
            business wants to win.
            <br>
            <br>
          </p>
          <p v-if="isEs">
            Todos los negocios quieren ganar, bien sea creciendo su  participación de mercado, obteniendo una mayor tasa de conversión, logrando una mejor interacción en las redes sociales, incrementando las ventas o mejorando la afinidad de la marca con sus clientes.
          </p>
          <NuxtLink to="/es/contact">
            <p v-if="isEn">
              We've helped companies at various stages of their growth and in
              various periods in history to win. Most recently we've helped our
              customers during this age of COVID-19 apply better digital
              strategies that enable them to market and connect better with
              audiences during extraordinary times. This means we've, beside
              producing videos, demos and content strategy, shaped messaging and
              content strategy around the sensitivities of Covid-19, and Black
              Lives Matter with public companies. And we've thrived in the
              Covid-19 marketing as businesses reinvent themselves in the digital
              space.
            </p>
          </NuxtLink>
          <p v-if="isEs">
            Hemos ayudado a empresas en diversas etapas de su crecimiento y en diferentes momentos de su historia a ganar. Recientemente hemos apoyado a nuestros clientes durante la era del COVID-19 a aplicar mejores estrategias digitales que les permiten tener una mejor conexión con sus audiencias durante estos tiempos sin precedentes. Esto significa que nosotros, además de producir videos, demos y estrategias de contenido, identificamos los mensajes idóneos y la mejor estrategia de contenido basándonos en las sensibilidades del Covid-19 y Black Lives Matter. Y nosotros hemos ganado durante el COVID-19, al tiempo que que las empresas se reinventan a sí mismas en el espacio digital.
          </p>
        </div>
      </section>
      <section class="us-different">
        <div class="container-full">
          <h2 v-if="isEn">
            WHAT MAKES US DIFFERENT
          </h2>
          <h2 v-if="isEs">
            LO QUE NOS HACE DIFERENTES
          </h2>
          <picture>
            <source
              media="(min-width:1441px)"
              srcset="@/assets/img/xxl/different.jpg"
            >
            <source
              media="(min-width:1045px)"
              srcset="@/assets/img/lg/different.jpg"
            >
            <source
              media="(min-width:769px)"
              srcset="@/assets/img/md/different.jpg"
            >
            <source
              media="(min-width:376px)"
              srcset="@/assets/img/sm/different.jpg"
            >
            <img
              src="@/assets/img/different.jpg"
              alt="different"
            >
          </picture>
          <div v-if="isEn">
            <p>
              We prioritize strategy above most of our offerings. Why? With
              strategy as the foundation, your company can build more effective
              websites, microsites, platforms, and individual pieces of marketing
              content that solve customer problems, like staying relevant during
              the most difficult times in American history.
            </p>
            <p>
              Let us show you what's worked for our customers. Strategy directly
              supports your marketing and sales goals, weaves together a cohesive
              and consistent story over time, and keeps customers coming back.
            </p>
            <p>
              Need help? <strong>Ask us how. We'd love to show you.</strong>
              <NuxtLink class="contact-us-link" to="/contact">
                Contact us
              </NuxtLink>
            </p>
          </div>
          <div v-if="isEs">
            <p>
              Priorizamos la estrategia sobre nuestras demás ofertas. ¿Por qué? Porque teniendo la estrategia como base, es posible construir generar contenido de manera más eficiente, resolviendo los desafíos de nuestros clientes como permanecer relevantes durante los tiempos más difíciles de la historia.
            </p>
            <p>
              Sabemos lo que ha funcionado para nuestros clientes y podemos aplicarlo a todas las marcas.
            </p>
            <p>
              ¿Necesitas ayuda? <strong>Pregúntanos cómo. Nos encantaría ayudarte. </strong>
              <NuxtLink class="contact-us-link" to="/es/contact">
                Contáctenos
              </NuxtLink>
            </p>
          </div>
        </div>
      </section>
      <section class="strategic-capability">
        <div class="container-full justify-content-center">
          <h2 v-if="isEn">
            STRATEGIC CAPABILITIES
          </h2>
          <h2 v-if="isEs">
            CAPACIDADES EN ESTRATEGIA
          </h2>

          <div class="flex">
            <ul>
              <li v-if="isEn">
                Digital
              </li>
              <li v-if="isEs">
                Digital
              </li>
              <li v-if="isEn">
                Brand
              </li>
              <li v-if="isEs">
                Marca
              </li>
              <li v-if="isEn">
                Content
              </li>
              <li v-if="isEs">
                Contenido
              </li>
              <li v-if="isEn">
                Video
              </li>
              <li v-if="isEs">
                Video
              </li>
              <li v-if="isEn">
                Marketing
              </li>
              <li v-if="isEs">
                Redes Sociales
              </li>
              <li v-if="isEn">
                Campaign
              </li>
              <li v-if="isEn">
                Customer Development
              </li>
              <li v-if="isEn">
                Social Media
              </li>
              <li v-if="isEn">
                Paid Advertising
              </li>
            </ul>
            <ul>
              <li v-if="isEs">
                Filantropía
              </li>
              <li v-if="isEn">
                Cause Marketing
              </li>
              <li v-if="isEs">
                Penetración de Mercado
              </li>
              <li v-if="isEn">
                Relationship
              </li>
              <li v-if="isEs">
                Fijación de Precios
              </li>
              <li v-if="isEn">
                Undercover Marketing
              </li>
              <li v-if="isEs">
                Diversificación de Producto
              </li>
              <li v-if="isEn">
                Word of Mouth Marketing
              </li>
              <li v-if="isEs">
                Desarrollo de Clientes
              </li>
              <li v-if="isEn">
                Training Videos
              </li>
              <li v-if="isEn">
                Transactional
              </li>
              <li v-if="isEn">
                Internet
              </li>
              <li v-if="isEn">
                Diversity
              </li>
              <li v-if="isEn">
                Philanthropy
              </li>
            </ul>

            <ul v-if="isEn">
              <li>
                SEO
              </li>
              <li>
                PPC
              </li>
              <li>
                Email
              </li>
              <li>
                Pricing
              </li>
              <li>
                Product
              </li>
              <li>
                Market Penetration
              </li>
              <li>
                Market Development
              </li>
              <li>
                Product Diversification
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  components: {
  },
  props: ['isEn', 'isEs']
}
</script>
<style lang="scss" scoped>
.contact-us-link {
 color: #fff;
  @media (max-width: 767px) {
    color: #2C2A5A ;
  }
}
</style>
