<template>
  <div id="body" class="video-production-page">
    <div class="seviceSlide">
      <picture>
        <source
          media="(min-width:1200px)"
          srcset="@/assets/img/lg/production.jpg"
        >
        <source
          media="(min-width:768px)"
          srcset="@/assets/img/md/production.jpg"
        >

        <source
          media="(min-width:376px)"
          srcset="@/assets/img/sm/production.jpg"
        >

        <img
          src="@/assets/img/production.jpg"
          alt="office-creative-group-happy-work-team-agency-work-space-start-up"
        >
      </picture>

      <h1 v-if="isEn">
        Video Production
      </h1>
      <h1 v-if="isEs">
        Producción de video
      </h1>
    </div>
    <main class="service-main">
      <section class="is-digital">
        <div class="container introductory">
          <h2 v-if="isEn" class="yellow">
            VIDEO IS TODAY AND THE FUTURE
          </h2>
          <h2 v-if="isEs" class="yellow">
            EL VIDEO ES EL HOY Y EL FUTURO
          </h2>
          <p v-if="isEn">
            We created the first video content for NBC Universal. Then we
            brought that thinking to brands. <br>
            Video is the most powerful, and persuasive storytelling mechanism
            around. It takes complex ideas, makes them simple and brings them to
            life. And people respond to it. <br><br>
            For brands to stay relevant and competitive, they must embrace the
            creation of content that’s delivered in video format. The video rush
            is on. Contact us to hear more about our video production & strategy
            services.
          </p>
          <p v-if="isEs">
            Nosotros creamos el primer contenido en video para NBC Universal. Luego llevamos este know how a las marcas. <br>
            El video es el mecanismo más poderoso y persuasivo para contar historias en la actualidad.  Toma las ideas complejas, las simplifica y les da vida. Y la gente responde a los videos. Para que las marcas permanezcan relevantes y competitivas, deben acoger la creación de contenido en formato de video. La avalancha del video está activa.
          </p>
        </div>
      </section>
      <section class="dev-us-different">
        <div class="container-full">
          <div class="makes-us-diff-wrapper">
            <div class="text makes-us-diff">
              <h4 v-if="isEn">
                WHAT MAKES US DIFFERENT
              </h4>
              <h4 v-if="isEs">
                LO QUE NOS HACE DIFERENTES
              </h4>
              <p v-if="isEn">
                We start with work sessions that dive into the core of your
                objectives. We ask insightful questions designed to help you get
                as specific as possible which ultimately ensure messaging,
                style, and presentation are exactly as imagined from Day One.
                <br>
                <br>
                Then we get to work with producers, animators, editors,
                directors, creatives, crew and staff to bring concepts to life.
                We work independently or hand-in-hand with you to deliver a
                product that you're proud to share and most importantly, that
                brings black ink to your bottom line.
                <NuxtLink class="contact-us-link" to="/contact">
                  Contact us
                </NuxtLink>
              </p>
              <p v-if="isEs">
                Siempre comenzamos con sesiones de trabajo donde profundizamos en sus objetivos. Hacemos preguntas incisivas con el fin de ayudarle a ser tan específico como sea posible, lo que finalmente asegurará que sus mensajes, estilo, y presentación sean exactamente como las imagina.  Luego, trabajamos con productores, animadores, editores, directores, creativos, y todo el equipo para darle vida a los conceptos.  Trabajamos de manera independiente o de la mano de ustedes con el fin de entregar un producto del cual usted se sientan orgullosos de compartir y lo más importante, que genere números negros en sus resultados.  Contáctenos para conocer más sobre nuestros servicios de estrategia y producción de videos.
                <NuxtLink class="contact-us-link" to="/es/contact">
                  Contáctenos
                </NuxtLink>
              </p>
            </div>
            <div class="story-tellers">
              <div class="story-teller-iframe-wrapper">
                <iframe
                  id="story-teller-video"
                  type="text/html"
                  src="https://www.youtube.com/embed/3irtGe-2PrE?rel=0&showinfo=1&modestbranding=1"
                  frameborder="0"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="strategic-capability capabilities container-full">
        <h2 v-if="isEn">
          VIDEO CAPABILITIES
        </h2>
        <h2 v-if="isEs">
          CAPACIDADES EN PRODUCCIÓN DE VIDEO
        </h2>
        <div v-if="isEn" class="flex">
          <ul>
            <li>
              Viral Videos
            </li>
            <li>
              TV/Web Commercials
            </li>
            <li>
              Brand Videos
            </li>
            <li>
              Email Video
            </li>
            <li>
              Infomercials
            </li>
            <li>
              Branded / Sponsored Entertainment
            </li>
            <li>
              Sales Sizzle Videos
            </li>
            <li>
              Video News Releases (VNR’s)
            </li>
            <li>
              Product Profile Videos
            </li>
            <li>
              How To / How It Works Videos
            </li>
            <li>
              Success Story Video
            </li>
          </ul>
          <ul>
            <li>
              Customer Testimonial Videos
            </li>
            <li>
              Employee Onboarding Videos
            </li>
            <li>
              Training Videos
            </li>
            <li>
              Video Case Studies
            </li>
            <li>
              Company Position Videos
            </li>
            <li>
              Video as Research
            </li>
            <li>
              App Store Video Previews
            </li>
            <li>
              Ask The Expert Videos (Q&A)
            </li>
            <li>
              Post Sales Support Videos
            </li>
            <li>
              Event Videos
            </li>
            <li>
              Round Table Session Videos
            </li>
          </ul>
          <ul>
            <li>
              Corporate Talk Shows
            </li>
            <li>
              Electronic Press Kits
            </li>
            <li>
              Recruitment Videos
            </li>
            <li>
              In-Store/In-Office Videos
            </li>
            <li>
              Mobile videos
            </li>
            <li>
              Video White Paper Video Magazine
            </li>
            <li>
              Behind The Scenes Video
            </li>
            <li>
              Focus Group Video
            </li>
            <li>
              Company Lobby Video Sizzle
            </li>
            <li>
              Digital and DVD Video Products
            </li>
          </ul>
        </div>
        <div v-if="isEs" class="flex">
          <ul>
            <li>Comerciales de TV/Web</li>
            <li>Videos de Marca</li>
            <li>Infocomerciales</li>
            <li>Videos Virales</li>
            <li>Reels</li>
            <li>Nuevos Lanzamientos en Video (VNR)</li>
            <li>Videos de Productos</li>
            <li>Videos de entrenamiento</li>
          </ul>
          <ul>
            <li>Videos de Cómo hacer/Cómo funciona</li>
            <li>Video de Historias de Éxito</li>
            <li>Documentales</li>
            <li>Videos de Eventos</li>
            <li>Videos de Entrevistas</li>
            <li>Dossier de Prensa Electrónico</li>
            <li>Video blogs</li>
          </ul>
        </div>
      </div>

      <section class="video-slider">
        <VueSlickCarousel
          v-bind="videosSliderSettings"
          ref="videosSlider"
          @afterChange="() => afterChange()"
        >
          <div
            v-for="videoSlide in videoSlides"
            :key="videoSlide.key"
            class="pic-slide"
          >
            <div class="slide-info-wrapper">
              <div class="slide-info">
                <div>
                  <div class="slide-title">
                    {{ videoSlide.brand }}
                  </div>
                  <div v-if="isEn" class="slide-sub-title">
                    {{ videoSlide.title }}
                  </div>
                  <div v-if="isEs" class="slide-sub-title">
                    {{ videoSlide.titleEs }}
                  </div>
                  <p v-if="isEn" class="slide-description">
                    {{ videoSlide.description }}
                  </p>
                  <p v-if="isEs" class="slide-description">
                    {{ videoSlide.descriptionEs }}
                  </p>
                </div>
                <div class="dot-arrows">
                  <span @click="showPrev">
                    <svg
                      width="13"
                      height="22"
                      viewBox="0 0 13 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0.59375 10.25C0.171875 10.6719 0.171875 11.375 0.59375 11.7969L9.6875 20.9375C10.1562 21.3594 10.8594 21.3594 11.2812 20.9375L12.3594 19.8594C12.7812 19.4375 12.7812 18.7344 12.3594 18.2656L5.14062 11L12.3594 3.78125C12.7812 3.3125 12.7812 2.60938 12.3594 2.1875L11.2812 1.10938C10.8594 0.6875 10.1562 0.6875 9.6875 1.10938L0.59375 10.25Z"
                        fill="#fff"
                      />
                    </svg>
                  </span>
                  <span @click="showNext">
                    <svg
                      width="13"
                      height="22"
                      viewBox="0 0 13 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.3594 11.7969C12.7812 11.375 12.7812 10.6719 12.3594 10.25L3.26562 1.10938C2.79688 0.6875 2.09375 0.6875 1.67188 1.10938L0.59375 2.1875C0.171875 2.60938 0.171875 3.3125 0.59375 3.78125L7.8125 11L0.59375 18.2656C0.171875 18.7344 0.171875 19.4375 0.59375 19.8594L1.67188 20.9375C2.09375 21.3594 2.79688 21.3594 3.26562 20.9375L12.3594 11.7969Z"
                        fill="#fff"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <div class="iframe-wrapper">
              <iframe
                :src="`https://www.youtube-nocookie.com/embed/${videoSlide.video}?rel=0&showinfo=1&modestbranding=1`"
                frameborder="0"
              />
            </div>
          </div>
        </VueSlickCarousel>
        <div class="mini-dot-arrows">
          <div class="dot-arrows">
            <span @click="showPrev">
              <svg
                width="13"
                height="22"
                viewBox="0 0 13 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.59375 10.25C0.171875 10.6719 0.171875 11.375 0.59375 11.7969L9.6875 20.9375C10.1562 21.3594 10.8594 21.3594 11.2812 20.9375L12.3594 19.8594C12.7812 19.4375 12.7812 18.7344 12.3594 18.2656L5.14062 11L12.3594 3.78125C12.7812 3.3125 12.7812 2.60938 12.3594 2.1875L11.2812 1.10938C10.8594 0.6875 10.1562 0.6875 9.6875 1.10938L0.59375 10.25Z"
                  fill="#fff"
                />
              </svg>
            </span>
            <span @click="showNext">
              <svg
                width="13"
                height="22"
                viewBox="0 0 13 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.3594 11.7969C12.7812 11.375 12.7812 10.6719 12.3594 10.25L3.26562 1.10938C2.79688 0.6875 2.09375 0.6875 1.67188 1.10938L0.59375 2.1875C0.171875 2.60938 0.171875 3.3125 0.59375 3.78125L7.8125 11L0.59375 18.2656C0.171875 18.7344 0.171875 19.4375 0.59375 19.8594L1.67188 20.9375C2.09375 21.3594 2.79688 21.3594 3.26562 20.9375L12.3594 11.7969Z"
                  fill="#fff"
                />
              </svg>
            </span>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  name: 'Video',
  components: { VueSlickCarousel },
  props: ['isEn', 'isEs'],
  data: () => ({
    showVideo: 0,
    currentSlideIndex: 0,
    videosSliderSettings: {
      arrows: false,
      // focusOnSelect: true,
      // infinite: true,
      speed: 500,
      slidesToShow: 1,
      // slidesToScroll: 1,
      // touchThreshold: 5,
      centerPadding: '400px',
      // variableWidth: true,
      centerMode: true,
      responsive: [
        {
          breakpoint: 2000,
          settings: {
            centerPadding: '400px'
          }
        },
        {
          breakpoint: 1800,
          settings: {
            centerPadding: '350px'
          }
        },
        {
          breakpoint: 1600,
          settings: {
            centerPadding: '300px'
          }
        },
        {
          breakpoint: 1500,
          settings: {
            centerPadding: '200px'
          }
        },
        {
          breakpoint: 1400,
          settings: {
            centerPadding: '200px'
          }
        },
        {
          breakpoint: 1024,
          settings: {
            centerPadding: '0'
          }
        }
      ]
    },
    videoSlides: [
      {
        key: '1',
        brand: 'DocuSign',
        title: 'Using YouTube to earn small business',
        titleEs: 'Usando YouTube para atraer pequeños negocios',
        description: 'This series of videos featured real customers, their businesses and their stories of business acceleration with DocuSign. desmond garcia led all production and creative efforts and this one, “THE ART OF FOOD” with Clay Williams has been talked about as one of the best and most effective videos of the year. Contact us to learn more about what we can do for you.',
        descriptionEs: 'Esta serie de videos presentó a clientes reales, sus negocios y sus historias de aceleración comercial con DocuSign. desmond garcía dirigió todos los esfuerzos de producción y creativos y este video en específico, “EL ARTE DE LA COMIDA” con Clay Williams ha sido considerado uno de los mejores y más efectivos videos del año. Contáctenos para contarle como podemos hacerlo también por usted.',
        video: '2sWqjaG_l5s',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '2',
        brand: '23andMe',
        title: 'Enhancing CX with video',
        titleEs: 'Mejorando la experiencia de usuario por medio de videos',
        description: 'This is the 23andMe Product Demo Video designed to help new customers better understand their DNA journey.',
        descriptionEs: 'Este es el video de demostración del producto 23andMe diseñado para ayudar a los nuevos clientes a comprender mejor su el recorrido por su ADN.',
        video: 'm_BMytyLtOs',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '3',
        brand: 'Citrix',
        title: 'Selling the Power of Citrix',
        titleEs: 'Vendiendo el poder de Citrix',
        description: 'Citrix campaign brand video: A very clean, simple video with all original footage and minimal details on post production & graphics. That\'s what we happily delivered for this great brand.',
        descriptionEs: 'Video de marca de Citrix: un video muy limpio y simple con material audiovisual original y detalles mínimos en postproducción y en gráficos. Eso es lo que entregamos felizmente para esta gran marca.',
        video: 'db03hxuX3io',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '4',
        brand: 'DocuSign',
        title: 'Firing up conference audiences',
        titleEs: 'Entusiasmando los asistentes a conferencias',
        description: 'Conferences are key to many companies, whether they\'re Silicon Valley, new or established. We created many conference videos for DocuSign\'s annual MOMENTUM conference.',
        descriptionEs: 'Bien sea en el mundo físico, o ahora en uno más virtual, las conferencias son clave en muchas empresas, sean estas de Silicon Valley, nuevas o establecidas. En dg creamos muchos videos de conferencias para la reunión anual MOMENTUM de DocuSign.',
        video: '5hnnDk28N58',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '5',
        brand: 'FICO',
        title: 'Making data scientist products understandable',
        titleEs: 'Volviendo simple lo complejo',
        description: 'FICO sells really really really complex products. To market them, they need storytelling and marketing assets which are cool, interesting and easy to digest. ',
        descriptionEs: 'FICO vende productos muy muy complejos. Para comercializarlos requieren de historias y activos de mercadeo que sean "cool", interesantes y fáciles de digerir.',
        video: '5MzM48SMzgI',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '6',
        brand: 'FICO',
        title: 'Inspiring conference audiences',
        titleEs: 'Inspirando las audiencias de las conferencias',
        description: 'FICO sells really really really complex products. To market them, they need storytelling and marketing assets which are cool, interesting and easy to digest.',
        descriptionEs: 'FICO vende productos muy muy complejos. Para comercializarlos requieren de historias y activos de mercadeo que sean "cool", interesantes y fáciles de digerir.',
        video: '1lu17euYiw4',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '7',
        brand: 'Samsung/ Lenovo',
        title: 'A new laptop from Samsung & Lenovo',
        titleEs: 'Un nuevo portátil de Samsung y Lenovo',
        description: 'When Lenovo was launching a new laptop in collaboration with Samsung, they reached out to us to help them tell a better story, design 3D animations of the product interiors and produce a high quality video that helped tell this story. ',
        descriptionEs: 'Cuando Lenovo estaba lanzando su nuevo portatil en colaboración con Samsung, nos buscaron para que les ayudáramos a contar una mejor historia, diseñar las animaciones 3D de la parte interna del producto y producir un video de alta calidad que ayudara a contar esta historia. ',
        video: 'LOBKLQioicE',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '8',
        brand: 'DocuSign',
        title: 'Combining Google and DocuSign',
        titleEs: 'Combinando Google y DocuSign',
        description: 'When Google partnered with DocuSign, they reached out to us to help tell the story of the uniting of their products.',
        descriptionEs: 'Cuando Google se asoció con DocuSign, nos buscaron para ayudar a contar la historia de la unión de sus productos.',
        video: 'qGuYT8n9yg8',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '9',
        brand: 'FICO',
        title: 'Creating Teasers to ignite conversations',
        titleEs: 'Creando teasers para iniciar conversaciones',
        description: 'Teasers & short videos are a great way to build brand affinity. We produced and filmed many of these for FICO to help their data scientists sell more easily.',
        descriptionEs: 'Los teasers y videos cortos son una gran manera de construir afinidad con una marca. Nosotros produjimos y grabamos muchos de estos para FICO con el fin de ayudarle a sus científicos de datos a vender con mayor facilidad. ',
        video: 'BMSNgExnTIo',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '10',
        brand: 'Jamba Juice',
        title: 'Finding the Good with Jamba Juice',
        titleEs: 'Encontrando el bienestar con Jamba Juice',
        description: 'We worked with the brand to produce authentic stories that promoted these values and their products. ',
        descriptionEs: 'En dg trabajamos con la marca para crear historias auténticas que promueven estos valores y sus productos. ',
        video: 'DYd1JKEhOuc',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '11',
        brand: 'Rafter',
        title: 'Animation for Mass Distribution',
        titleEs: 'Animación para la distribución en masa',
        description: 'Rafter had a unique product and all the opportunity in the world. To universally promote this, they opted to create animations that would better tell the story to their audiences.',
        descriptionEs: 'Rafter tenía un producto único y todas las oportunidades del mundo. Para promover esto de manera universal, ellos optaron por crear animaciones que contaran una mejor historia a su audiencia.',
        video: 'Vp2N5SzscCY',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '12',
        brand: 'TED',
        title: 'Inspiring conference audiences & partnerships',
        titleEs: 'Inspirando a los asisentes a conferencias y afianzando alianzas',
        description: 'desmond garcia partnered with TED to film a series of videos for TEDWomen to discuss the important role of diversity in business and the power of female mentorship with top executives from around the country.',
        descriptionEs: 'desmond garcia se asoció con TED para grabar una serie de videos para TEDWomen (TED Mujeres) y discutir el importante papel de la diversidad en los negocios y el poder de la mentoría femenina con altos ejecutivos de todo el país.',
        video: 'tPAf1xC2odI',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '13',
        brand: 'EJ Gallo',
        title: 'Using social to build new audiences',
        titleEs: 'Usando de las redes sociales para construir nuevas audiencias',
        description: 'After a many months of design, development and activation-- traffic, engagement and most importantly, sales increased 3X. Gallo created an additional SKU for the brand, resulting in even greater sales and additional content. This was a full service agency effort, from strategy, brand, design, video & photo production, social media management and other tasks.',
        descriptionEs: 'Después de muchos meses de diseño, desarrollo y activación - tráfico, enganche- lo más importante, las ventas se triplicaron. Gallo creó un SKU adicional para la marca, dando como resultado aun mayores ventas y contenido adicional. Este fue un esfuerzo de toda la agencia, desde la estrategia, marca, diseño, producción de video y fotografía, manejo de redes sociales y otras tareas.',
        video: 'Hi-TjwaZSaI',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '14',
        brand: 'EJ Gallo',
        title: 'Using social to build new audiences',
        titleEs: 'Usando de las redes sociales para construir nuevas audiencias',
        description: 'After a many months of design, development and activation-- traffic, engagement and most importantly, sales increased 3X. Gallo created an additional SKU for the brand, resulting in even greater sales and additional content. This was a full service agency effort, from strategy, brand, design, video & photo production, social media management and other tasks.',
        descriptionEs: 'Después de muchos meses de diseño, desarrollo y activación - tráfico, enganche- lo más importante, las ventas se triplicaron. Gallo creó un SKU adicional para la marca, dando como resultado aun mayores ventas y contenido adicional. Este fue un esfuerzo de toda la agencia, desde la estrategia, marca, diseño, producción de video y fotografía, manejo de redes sociales y otras tareas.',
        video: 'jfDlxzKwrUg',
        thumbnail: '/assets/img/video2.jpg'
      },
      {
        key: '15',
        brand: 'FICO',
        title: 'Investing in brand to win conference audiences',
        titleEs: 'Invirtiendo en marca para atraer audiencias de conferencias',
        description: 'FICO sells really really really complex products. To market them, they need storytelling and marketing assets which are cool, interesting and easy to digest.',
        descriptionEs: 'FICO vende productos muy muy complejos. Para comercializarlos requieren de historias y activos de mercadeo que sean "cool", interesantes y fáciles de digerir.',
        video: 'bnZ9vnB38A4',
        thumbnail: '/assets/img/video2.jpg'
      }
    ],
    dotSlides: [
      { key: '1', content: '1' },
      { key: '2', content: '1' },
      { key: '3', content: '1' },
      { key: '4', content: '1' }
    ]
  }),
  methods: {
    setShow (key) {
      this.showVideo = key
    },
    showNext () {
      this.$refs.videosSlider.next()
    },
    showPrev () {
      this.$refs.videosSlider.prev()
    },
    afterChange (slideIndex) {
      this.currentSlideIndex = slideIndex
    }
  }
}
</script>
<style lang="scss" scoped>
.video-production-page {
 .contact-us-link {
  color: #fff;
 }
  @media (max-width: 1199px) {
    .dev-us-different{
      .container-full{
        padding: 0 !important;
      }
    }
  }
  @media (max-width: 1199px) {
    .strategic-capability{
      margin-top: 48px;
    }
  }
  .strategic-capability h2{
    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }
  .is-digital .yellow{
    margin-right: 0;
  }
  .strategic-capability li {
    white-space: normal !important;
  }
  .introductory {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2 {
      grid-column: 1/2;
      @media (max-width: 767px) {
        width: 70%;
      }
    }
    p {
      grid-column: 1/3;
      margin-top: 20px;
    }
  }
  .makes-us-diff-wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    margin: 50px 0 80px 0;
    @media (max-width: 991px) {
      margin: 50px 0 0 0;
      display: block;
    }
    @media (max-width: 767px) {
    }
  }
  .makes-us-diff {
    grid-column: 1/6;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    background-image: url("/assets/img/video-in-page-pic.jpg");
    background-size: cover;
    padding: 100px 0px;
    margin-right:-36px;
    @media (max-width: 1199px) {
      padding: 38px 0px;
      margin-right:-32px;
    }
    @media (max-width: 991px) {
      padding-bottom: 146px;
      grid-column: 1/-1;
      padding-top: 67px;
      margin-right:0px;
    }
    @media (max-width: 767px) {
      padding-bottom: 90px;
    }
    h4 {
      grid-column: 2/5;
      grid-row: 1/2;
      z-index: 2;
      color: #fff;
      font-size: 36px;
      align-self: end;
      line-height: 1.1;
      @media (max-width: 1200px) {
        padding-left: 40px;
        grid-column: 1/6;
      }
      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
      }

    }
    p {
      grid-column: 2/6;
      grid-row: 2/3;
      z-index: 2;
      color: #fff;
      padding-right: 40px;
      font-family: 'Open Sans';
      font-weight: 400;
      @media (max-width: 1200px) {
        padding-left: 40px;
        grid-column: 1/6;
      }
      @media (max-width: 991px) {
        grid-column: 1/7;
      }
      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    img {
      grid-column: 1/-1;
      grid-row: 1/-1;
      width: 100%;
      height: 516px;
    }
  }
  .story-tellers {
    grid-column: 5/10;
    grid-row: 1/-1;
    padding-left: 90px;
    @media (max-width: 1199px) {
      padding-left: 50px;
      padding-right: 42px;
    }
    @media (max-width: 991px) {
      grid-column: 2/-1;
      grid-row: 2/3;
      position: relative;
      bottom: 50px;
      margin-top: -20px;
    }
    @media (max-width: 767px) {
      padding: 0;
      margin-top: 0;
    }
    .story-teller-iframe-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }
  }
  .capabilities {
    display: flex;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .video-slider {
    position: relative;
    z-index: 5;
    margin-bottom: 50px;
    // @media (max-width: 1017px) {
    // .slick-slider,.slick-list,.slick-track {
    // max-height: 550px !important;
    // overflow: hidden;
    // }
    // }
    // @media (max-width: 767px) {
    // .slick-slider,.slick-list,.slick-track {
    // max-height: 56.25vw !important;
    // overflow: hidden;
    // }
    // }
  }
  .pic-slide {
    display: flex !important;
    align-content: stretch !important;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .iframe-wrapper {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
      width: 770px;
      background-size: cover;
      background-position: center;
      @media (max-width: 1200px) {
        width: 650px;
      }
      @media (max-width: 992px) {
        width: calc(100vw - 310px);
      }
      @media (max-width: 767px) {
        width: 100vw;
      }
      img ,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }
  }

  .slick-track.slick-center {
    margin: 0 !important;
  }

  .slide-info {
    width: 310px;
    background-color: #2c2a5a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: 5;
    height: 100%;
    // height: 550px;
    // @media (max-width: 992px) {
    //   height: 460px;
    // }
    @media (max-width: 767px) {
      width: 100%;
      height: 320px;
      .dot-arrows {
        display: none;
      }
    }
  }
  .slide-title {
    font-size: 48px;
    color: #fff;
    line-height: 54px;
    font-weight: 600;
  }
  .slide-sub-title {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
  }
  .slide-description {
    font-size: 15px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "Open Sans";
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  .mini-dot-arrows {
    background-color: #2c2a5a;
    padding: 15px 20px 7px 20px;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .dot-arrows {
    display: flex;
    justify-content: space-between;
  }
  .dot-arrows > * {
    cursor: pointer;
  }
  .dotsSliderWrapper {
    width: 150px;
    @media (max-width: 767px) {
      .slick-slider,
      .slick-list,
      .slick-track {
      }
    }
  }
  .dot-slide-wrapper {
    width: 50px;
  }
  .dot-slide {
    width: 28px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.4;
    color: transparent;
    font-size: 10px;
  }
  .dot-slide.active {
    opacity: 1;
  }
}
</style>
