<template>
  <div class="what-we-do-body">
    <main>
      <div class="slidePage">
        <picture>
          <source
            media="(min-width:1200px)"
            srcset="
            @/assets/img/lg/office-creative-group-happy-work-team-agency-work-space-start-up.jpg
          "
          >
          <source
            media="(min-width:768px)"
            srcset="
            @/assets/img/md/office-creative-group-happy-work-team-agency-work-space-start-up.jpg
          "
          >

          <source
            media="(min-width:376px)"
            srcset="
            @/assets/img/sm/office-creative-group-happy-work-team-agency-work-space-start-up.jpg
          "
          >

          <img
            src="@/assets/img/office-creative-group-happy-work-team-agency-work-space-start-up.jpg"
            alt="office-creative-group-happy-work-team-agency-work-space-start-up"
          >
        </picture>
        <div class="container-full">
          <h1 v-if="isEn">
            <span>A look into</span>
            <br>
            what we do.
          </h1>
          <h1 v-if="isEs" class="es">
            <span>Una mirada</span>
            <br>
            a lo Que Hacemos
          </h1>
        </div>
      </div>

      <section class="service">
        <VueSlickCarousel v-bind="sliderSettings" ref="carousel" @afterChange="(slideIndex) => afterChange(slideIndex)">
          <div>
            <div class="serviceItem-padding first-child">
              <div class="serviceItem strategy-intro">
                <nuxt-link v-if="isEn" to="/strategy" class="link" />
                <nuxt-link v-if="isEs" to="/es/strategy" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Strategy
                  </h3>
                  <h3 v-if="isEs">
                    Estrategia
                  </h3>
                  <p v-if="isEn">
                    Strategy is the foundation of every creative decision. We use strategy to understand the business purpose, customer, market, and more.
                  </p>
                  <p v-if="isEs" class="es">
                    La estrategia es la base de toda decisión creativa. Nosotros usamos la estrategia para comprender el propósito del negocio, nuestro  cliente, el mercado y más.
                  </p>
                  <nuxt-link v-if="isEn" to="/strategy" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/strategy" class="view-more">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="serviceItem-padding">
              <div class="serviceItem video-intro">
                <nuxt-link v-if="isEn" to="/video" class="link" />
                <nuxt-link v-if="isEs" to="/es/video" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Video Production
                  </h3>
                  <h3 v-if="isEs">
                    Producción de Video
                  </h3>
                  <p v-if="isEn">
                    90% of web traffic is video-based. Thus a cornerstone of our business is video production &
                    strategy. Trust our experience in your next video project.
                  </p>
                  <p v-if="isEs" class="es">
                    90% del tráfico en la web se basa en videos. Por lo tanto uno de nuestros pilares es la producción y estrategia de video. Confíe en nuestra experiencia para su próximo proyecto de video.
                  </p>
                  <span v-if="isEs"><br></span>
                  <nuxt-link v-if="isEn" to="/video" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/video" class="view-more es">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="serviceItem-padding">
              <div class="serviceItem development-intro">
                <nuxt-link v-if="isEn" to="/development" class="link" />
                <nuxt-link v-if="isEs" to="/es/development" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Interactive / Web Development
                  </h3>
                  <h3 v-if="isEs">
                    Desarrollo Interactivo/Web
                  </h3>
                  <p v-if="isEn">
                    Websites, microsites, demos, applications, and other digital deliverables. We thrive in the
                    creation and development of interactive tools.
                  </p>
                  <p v-if="isEs" class="es">
                    Sitio Webs, micrositios, demos, aplicaciones, y otros activos digitales. Somos expertos en la creación y desarrollo de herramientas interactivas.
                  </p>
                  <nuxt-link v-if="isEn" to="/development" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/development" class="view-more es">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="serviceItem-padding">
              <div class="serviceItem measurement-intro">
                <nuxt-link v-if="isEn" to="/measurement" class="link" />
                <nuxt-link v-if="isEs" to="/es/measurement" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Measurement & Optimization
                  </h3>
                  <h3 v-if="isEs">
                    Medición y Optimización
                  </h3>
                  <p v-if="isEn">
                    We help companies overperform, and stay under budget by optimizing marketing creative and
                    investments.
                  </p>
                  <p v-if="isEs" class="es">
                    Ayudamos a las empresas a sobresalir y a mantenerse por debajo del presupuesto por medio de la optimización de de las piezas y las inversiones de marketing.
                  </p>
                  <nuxt-link v-if="isEn" to="/measurement" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/measurement" class="view-more es">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="serviceItem-padding">
              <div class="serviceItem design-intro">
                <nuxt-link v-if="isEn" to="/design" class="link" />
                <nuxt-link v-if="isEs" to="/es/design" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Design
                  </h3>
                  <h3 v-if="isEs">
                    Diseño
                  </h3>
                  <p v-if="isEn">
                    We love bringing visually creative ideas to the table. Our designers are experts in AWESOME,
                    WOW and POP.
                  </p>
                  <p v-if="isEs" class="es">
                    Amamos el diseño con sentido e impacto. Nuestros diseñadores son expertos en generar reacciones WOW.
                  </p>
                  <nuxt-link v-if="isEn" to="/design" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/design" class="view-more es">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="serviceItem-padding">
              <div class="serviceItem branding-intro">
                <nuxt-link v-if="isEn" to="/branding" class="link" />
                <nuxt-link v-if="isEs" to="/es/branding" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Branding
                  </h3>
                  <h3 v-if="isEs">
                    Posicionamiento de Marca
                  </h3>
                  <p v-if="isEn">
                    Every brand needs a good story. Let us help you create, perfect, or broadcast yours.
                  </p>
                  <p v-if="isEs" class="es">
                    Toda marca necesita una buena historia. Déjenos ayudarle a crear, y contar la suya.
                  </p>
                  <nuxt-link v-if="isEn" to="/branding" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/branding" class="view-more es">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="serviceItem-padding last-child">
              <div class="serviceItem corporate-intro">
                <nuxt-link v-if="isEn" to="/corporate" class="link" />
                <nuxt-link v-if="isEs" to="/es/corporate" class="link" />
                <div class="serviceItem__text">
                  <h3 v-if="isEn">
                    Corporate Philanthropy
                  </h3>
                  <h3 v-if="isEs">
                    Filantropía Corporativa
                  </h3>
                  <p v-if="isEn">
                    We help brands create philanthropic strategies and use funds to improve their communities and the longevity of their brand's reputation.
                  </p>
                  <p v-if="isEs" class="es">
                    Ayudamos a las marcas a crear estrategias filantrópicas e invertir fondos para mejorar sus comunidades y trascender  la reputación de su marca.
                  </p>
                  <nuxt-link v-if="isEn" to="/corporate" class="view-more">
                    View more
                  </nuxt-link>
                  <nuxt-link v-if="isEs" to="/es/corporate" class="view-more es">
                    Ver más
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </VueSlickCarousel>
        <div class="container-full">
          <div class="chevron-arrows">
            <button @click="showPrev">
              <svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.59375 10.25C0.171875 10.6719 0.171875 11.375 0.59375 11.7969L9.6875 20.9375C10.1562 21.3594 10.8594 21.3594 11.2812 20.9375L12.3594 19.8594C12.7812 19.4375 12.7812 18.7344 12.3594 18.2656L5.14062 11L12.3594 3.78125C12.7812 3.3125 12.7812 2.60938 12.3594 2.1875L11.2812 1.10938C10.8594 0.6875 10.1562 0.6875 9.6875 1.10938L0.59375 10.25Z"
                  fill="#F62683"
                />
              </svg>
            </button>
            <button @click="showNext">
              <svg width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.3594 11.7969C12.7812 11.375 12.7812 10.6719 12.3594 10.25L3.26562 1.10938C2.79688 0.6875 2.09375 0.6875 1.67188 1.10938L0.59375 2.1875C0.171875 2.60938 0.171875 3.3125 0.59375 3.78125L7.8125 11L0.59375 18.2656C0.171875 18.7344 0.171875 19.4375 0.59375 19.8594L1.67188 20.9375C2.09375 21.3594 2.79688 21.3594 3.26562 20.9375L12.3594 11.7969Z"
                  fill="#F62683"
                />
              </svg>
            </button>
          </div>
        </div>
      </section>

      <section class="view-our-work">
        <div class="container-full">
          <div class="holder">
            <picture>
              <source
                media="(min-width:1200px)"
                srcset="@/assets/img/lg/rectangle.jpg"
              >
              <source
                media="(min-width:768px)"
                srcset="@/assets/img/md/rectangle.jpg"
              >
              <source
                media="(min-width:376px)"
                srcset="@/assets/img/sm/rectangle.jpg"
              >
              <img src="@/assets/img/rectangle.jpg" alt="rectangle">
            </picture>
            <div class="text-group">
              <h6 v-if="isEn">
                OUR APPROACH
              </h6>
              <h6 v-if="isEs">
                NUESTRO ENFOQUE
              </h6>
              <p v-if="isEn">
                We’ve created and led projects, campaigns and more with strategic and creative in the following fields.
              </p>
              <p v-if="isEs" class="es">
                Hemos creado y dirigido proyectos con estrategia y creatividad en los siguientes campos.
              </p>
              <!-- <h5 v-if="isEn">
                View our
                <nuxt-link to="/our-work">
                  Work Samples page
                </nuxt-link>
                for more details.
              </h5>
              <h5 v-if="isEs">
                Para ver más
                <nuxt-link to="/our-work">
                  visite nuestra página
                </nuxt-link>
                de proyectos.
              </h5> -->
            </div>
          </div>
        </div>
      </section>

      <section class="list-of-service">
        <div class="container-full">
          <h4 v-if="isEn">
            Video Production • Strategy • Social Media • Content Strategy •
            Interactive & Web Development • Marketing Automation • Research •
            Brand Storytelling • Event Marketing • Design • Measurement &
            Optimization • Brand & Digital Audits • Corporate Philanthropy
          </h4>
          <h4 v-if="isEs">
            • Producción de Video
            • Estrategia
            • Redes Sociales
            • Estrategia de Contenido
            • Desarrollo de Contenido Interactivo y de Web
            • Automatización de Marketing
            • Investigación
            • Narrativa de Marca
            • Marketing de Eventos
            • Diseño
            • Medición y Optimización
            • Auditorías Digitales y de Marca
            Filantropía Corporativa
          </h4>
        </div>

        <div class="images-holder container-full">
          <picture>
            <source media="(min-width:1200px)" srcset="@/assets/img/lg/all.jpg">
            <source media="(min-width:768px)" srcset="@/assets/img/md/all.jpg">

            <source media="(min-width:376px)" srcset="@/assets/img/sm/all.jpg">

            <img src="@/assets/img/all.jpg" alt="all">
          </picture>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: { VueSlickCarousel },
  props: ['isEn', 'isEs'],
  data: () => ({
    sliderSettings: {
      arrows: false,
      infinite: false,
      slidesToScroll: 1,
      slidesToShow: 1,
      draggable: false,
      touchMove: false,
      variableWidth: true
    },
    currentSlide: 1
  }),
  methods: {
    getViewportWidth () {
      if (typeof window.innerWidth !== 'undefined') {
        return window.innerWidth
      }
    },
    showNext () {
      const viewPortWidth = this.getViewportWidth()
      if (8 - Number(((viewPortWidth + 50) / 310).toFixed(0)) >= this.currentSlide) {
        this.$refs.carousel.next()
      }
    },
    showPrev () {
      if (this.currentSlide !== 1) {
        this.$refs.carousel.prev()
      }
    },
    afterChange (slideIndex) {
      this.currentSlide = slideIndex + 1
    }
  }
}
</script>
<style lang="scss">
.what-we-do-body {
 .es-heading {
  margin-top: 40px;
 }
}
</style>
