<template>
  <div id="body" class="whoweare-body">
    <main>
      <div class="slidePage">
        <picture>
          <source
            media="(min-width:1441px)"
            srcset="
              @/assets/img/xxl/who-we-are.jpg
            "
          >
          <source
            media="(min-width:1025px)"
            srcset="
              @/assets/img/lg/who-we-are.jpg
            "
          >
          <source
            media="(min-width:769px)"
            srcset="
              @/assets/img/md/who-we-are.jpg
            "
          >

          <source
            media="(min-width:376px)"
            srcset="
              @/assets/img/sm/who-we-are.jpg
            "
          >

          <img
            src="@/assets/img/who-we-are.jpg"
            alt="who-we-are"
          >
        </picture>
        <div class="container-full">
          <h1>
            <span v-if="isEn">A look into</span>
            <span v-if="isEs">Una mirada</span>
            <br>
            <span v-if="isEn">who we are.</span>
            <span v-if="isEs">a Quiénes Somos.</span>
          </h1>
        </div>
      </div>

      <section>
        <div class="container-full">
          <h5 v-if="isEn">
            OUR <span class="span1">ROOTS</span>
          </h5>
          <h5 v-if="isEs">
            Nuestras <span class="span1">Raíces</span>
          </h5>
          <p v-if="isEn" class="text">
            We are an international group of strategists, marketing leaders, creatives, technologists, project managers and unflinching questioners of the status quo.
          </p>
          <p v-if="isEs" class="text">
            Somos un grupo internacional de estrategas, líderes de mercadeo, creativos, tecnólogos, gestores de proyectos y permanentes cuestionadores del status quo.
          </p>
        </div>
      </section>
      <section>
        <div class="container-full">
          <picture class="picture">
            <source
              media="(min-width:1441px)"
              srcset="@/assets/img/xxl/rectangle.jpg"
            >
            <source
              media="(min-width:1025px)"
              srcset="@/assets/img/lg/rectangle.jpg"
            >
            <source
              media="(min-width:769px)"
              srcset="@/assets/img/md/rectangle.jpg"
            >
            <source
              media="(min-width:376px)"
              srcset="@/assets/img/sm/rectangle.jpg"
            >
            <img src="@/assets/img/rectangle.jpg" alt="careers">
          </picture>
          <h4 v-if="isEn" class="text1">
            Born out of
            <span class="University">Stanford University,</span> company leadership have spent the majority of their careers helping
            <span class="San-Francisco">San Francisco</span> and
            <span class="silicon">Silicon Valley</span> companies across all industries.
          </h4>
          <h4 v-if="isEs" class="text1">
            Nacidos en la
            <span class="University">Universidad de Stanford,</span>  nuestros líderes han pasado la mayor parte de su carrera dedicados a apoyar compañías en
            <span class="San-Francisco">San Francisco</span> y
            <span class="silicon">Silicon Valley </span> pertenecientes a todo tipo de industrias.
          </h4>
          <p v-if="isEn" class="h5">
            With offices and a presence in Los Angeles, Miami, and Medellin, <strong>desmond garcia</strong>'s team has a profound resume of working with some of the top brands in the world, from Wells Fargo, to Unilever, Visa, Sephora, DocuSign, Visa, Heineken, GSK, Comcast NBCU, and Nestle.
          </p>
          <p v-if="isEs" class="h5">
            Con oficinas y presencia en Los Ángeles, Miami, y Medellín, el equipo de, <strong>desmond garcia</strong> tiene un gran trayectoria con algunas de las marcas más reconocidas a nivel mundial, desde  Wells Fargo, hasta Unilever, Visa, Sephora, DocuSign, Heineken, GSK, Comcast NBCU, y Nestle.
          </p>
        </div>
      </section>
      <section class="section">
        <div class="hide">
          <h5 v-if="isEn">
            OUR <span class="span1">COMBINED </span><span class="span1">POWER</span>
          </h5>
          <h5 v-if="isEs">
            Nuestro  <span class="span1">Poder </span><span class="span1">Persuasivo</span>
          </h5>
        </div>
        <picture>
          <source
            media="(min-width:1441px)"
            srcset="/assets/img/xxl/careers1.jpg"
          >
          <source
            media="(min-width:1025px)"
            srcset="/assets/img/lg/careers1.jpg"
          >
          <source
            media="(min-width:768px)"
            srcset="/assets/img/md/careers1.jpg"
          >
          <source
            media="(min-width:376px)"
            srcset="/assets/img/sm/careers1.jpg"
          >
          <img src="/assets/img/careers1.jpg" alt="careers">
        </picture>
        <div class="tag2">
          <h5 v-if="isEn">
            OUR <span class="span1">COMBINED </span><span class="span1">POWER</span>
          </h5>
          <h5 v-if="isEs">
            Nuestro <span class="span1">Poder </span><span class="span1">Persuasivo</span>
          </h5>
          <h4 v-if="isEn" class="text1">
            Together as an agency, and with our powers combined, WE HELP
            COMPANIES GET THEIR STORIES STRAIGHT.
          </h4>
          <h4 v-if="isEs" class="text1">
            Como agencia, y de la mano con nuestros clientes,  AYUDAMOS A LAS EMPRESAS A ESTRUCTURAR BIEN SU HISTORIA Y
          </h4>
          <p v-if="isEn" class="stori1">
            Then we help them get their stories out into the world. We believe
            that while technologies and media landscapes often change, the art
            of persuasion never does.
          </p>
          <p v-if="isEs" class="stori1">
            luego a compartirla con el  mundo. Mientras las tecnologías y los medios cambian, el arte de la persuasión jamás lo hace.
          </p>
        </div>
      </section>
      <section class="section1">
        <div class="hide">
          <h6 v-if="isEn">
            WE ARE STRATEGISTS
          </h6>
          <h6 v-if="isEs">
            Somos Estrategas
          </h6>
        </div>
        <picture>
          <source
            media="(min-width:1441px)"
            srcset="/assets/img/xxl/careers2.jpg"
          >
          <source
            media="(min-width:1025px)"
            srcset="/assets/img/lg/careers2.jpg"
          >
          <source
            media="(min-width:768px)"
            srcset="/assets/img/md/careers2.jpg"
          >
          <source
            media="(min-width:376px)"
            srcset="/assets/img/sm/careers2.jpg"
          >
          <img src="/assets/img/careers2.jpg" alt="careers">
        </picture>
        <div class="tag1">
          <h6 v-if="isEn">
            WE ARE STRATEGISTS
          </h6>
          <h6 v-if="isEs">
            Somos Estrategas
          </h6>
          <h2 v-if="isEn">
            We believe that understanding the customer comes first.
          </h2>
          <h2 v-if="isEs">
            Creemos que entender al cliente es lo primero.
          </h2>
          <p v-if="isEn" class="text2">
            Strategic development and customer needs influence creative and
            marketing choices. We create a holistic and compelling brand story,
            voice and personality, and any other piece of marketing content that
            is based on a deep understanding of the customer and their
            experience. To do this strategy must come first.
          </p>
          <p v-if="isEs" class="text2">
            Creamos historias inspiradoras y convincentes a partir de la voz y personalidad de las marcas basados en un profundo entendimiento del cliente y su experiencia. Para lograr esto, la estrategia es lo primero.
          </p>
        </div>
      </section>
      <section class="section2">
        <div class="hide">
          <h6 v-if="isEn">
            WE<span class="span">ARE</span><span class="span">STORYTELLERS</span>
          </h6>
          <h6 v-if="isEs">
            Somos<span class="span">Contadores de</span><span class="span">Historias</span>
          </h6>
        </div>
        <picture>
          <source
            media="(min-width:1441px)"
            srcset="/assets/img/xxl/careers3.jpg"
          >
          <source
            media="(min-width:1025px)"
            srcset="/assets/img/lg/careers3.jpg"
          >
          <source
            media="(min-width:768px)"
            srcset="/assets/img/md/careers3.jpg"
          >
          <source
            media="(min-width:376px)"
            srcset="/assets/img/sm/careers3.jpg"
          >
          <img src="@/assets/img/careers3.jpg" alt="careers">
        </picture>
        <div class="tag3">
          <h6 v-if="isEn">
            WE<span class="span">ARE</span><span class="span">STORYTELLERS</span>
          </h6>
          <h6 v-if="isEs">
            Somos<span class="span">Contadores de</span><span class="span">Historias</span>
          </h6>
          <h2 v-if="isEn">
            Whether it’s design, interactive projects, video production, or
            branding, we believe that storytelling is the fundamental way human
            beings communicate, persuade & grow.
          </h2>
          <h2 v-if="isEs">
            Bien sea piezas de diseño, proyectos interactivos, producción de video, o posicionamiento de marca, nosotros creemos que contar historias es la manera fundamental como los humanos se comunican, persuaden y crecen.
          </h2>
          <p v-if="isEn" class="text2">
            <strong>dg</strong> maintains a strong commitment to the art of
            persuasion, with storytelling being our chief mode of persuasion.
            Powerful persuasion starts with diligent research around the
            audience, the product, and the intersection of the two.
          </p>
          <p v-if="isEs" class="text2">
            <strong>dg</strong> mantiene un fuerte compromiso con el arte de la persuasión, siendo el contar historias nuestro principal vehículo para hacerlo. Una poderosa persuasión comienza con una diligente investigación sobre la audiencia, el producto, y la intersección entre ambos.
          </p>
        </div>
      </section>
      <section class="section3">
        <div class="hide">
          <h6 v-if="isEn">
            WE ARE CREATIVE:
          </h6>
          <h6 v-if="isEs">
            Somos Creativos:
          </h6>
        </div>
        <picture>
          <source
            media="(min-width:1441px)"
            srcset="@/assets/img/xxl/careers4.jpg"
          >
          <source
            media="(min-width:1025px)"
            srcset="@/assets/img/lg/careers4.jpg"
          >
          <source
            media="(min-width:768px)"
            srcset="@/assets/img/md/careers4.jpg"
          >
          <source
            media="(min-width:376px)"
            srcset="@/assets/img/sm/careers4.jpg"
          >
          <img src="@/assets/img/careers4.jpg" alt="careers">
        </picture>
        <div class="tag4">
          <h6 v-if="isEn">
            WE ARE CREATIVE:
          </h6>
          <h6 v-if="isEs">
            Somos Creativos:
          </h6>
          <h2 v-if="isEn">
            While we never take off our thinking caps, we love sitting in the
            director’s chair.
          </h2>
          <h2 v-if="isEs">
            Aunque nunca nos quitamos nuestro  “sombrero de estrategas”, amamos sentarnos en la silla del  director.
          </h2>
          <p v-if="isEn" class="text2">
            Within digital marketing, we work on a wide variety of
            opportunities, from videos to case studies, microsites, website
            rewrites, brand refreshes, brand personas, content strategies,
            digital strategy, digital audits, asset development, SEO, SEM, UX,
            CRO, mobile, analytics, service, digital design development, traffic
            generation (programmatic display), conversion rate optimization, A/B
            testing, application architecture and social media management.
          </p>
          <p v-if="isEs" class="text2">
            Dentro del marketing digital, trabajamos en una amplia variedad de oportunidades, desde videos hasta casos de estudio, pasando por  micrositios, estrategia de contenido, reescritura de Sitios Web, renovación de marca, personas de marca, contenido estrategias, estrategia digital, auditorías digitales, desarrollo de activos, posicionamiento en buscadores, mercadeo en motores de búsqueda, experiencia del usuario, optimización en tasas de conversión, tecnología móvil, analíticas, servicio, desarrollo de diseño digital, generación de tráfico (display programático), optimización de tasas de conversión, Pruebas A/B, arquitectura de aplicación y manejo de redes sociales.
          </p>
        </div>
      </section>
    </main>
  </div>
</template>
<script>
export default {
  components: {
  },
  props: ['isEn', 'isEs']
}
</script>
<style>

</style>
