<template>
  <development :is-en="true" />
</template>
<script>
import development from '@/components/pages/development.vue'

export default {
  components: { development }
}
</script>
<style>

</style>
