<template>
  <home :is-en="true" :works="works" />
</template>
<script>
import home from '@/components/pages/home.vue'

export default {
  components: { home },
  async asyncData ({ $content, params }) {
    const works = await $content('en', 'works', params.slug)
      .only(['name', 'slug', 'thumbnail', 'brand', 'categories', 'home', 'height', 'width', 'scale'])
      .where({ home: true })
      .sortBy('createdAt', 'asc')
      .fetch()
    return {
      works
    }
  }
}
</script>
<style>

</style>
