<template>
  <div class="btn-loader-wrapper">
    <div class="loader-wrapper">
      <div class="lds-ring">
        <div />
        <div />
        <div />
        <div />
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.btn-loader-wrapper {
.loader-wrapper {
 display: flex;
 justify-content: center;
}
.lds-ring {
 display: flex;
 justify-content: center;
 position: relative;
 width: 28px;
 height: 28px;
}
.lds-ring div {
 box-sizing: border-box;
 display: block;
 position: absolute;
 width: 28px;
 height: 28px;
 margin: 8px;
 border: 4px solid #fff;
 border-radius: 50%;
 animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
 border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
 0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}
}
</style>
