<template>
  <header id="error-header" class="error-header sticky">
    <div class="container-full">
      <div class="logo">
        <nuxt-link to="/">
          <img src="/assets/img/logo.svg" alt="Logo">
        </nuxt-link>
      </div>

      <div id="toggleMenu" class="toggle">
        <nuxt-link to="#">
          Menu
        </nuxt-link>
      </div>

      <nav id="mainNav" class="main-nav">
        <ul class="list-none">
          <li v-if="!this.$route.path.includes('/es')" class="">
            <nuxt-link to="/">
              HOME
            </nuxt-link>
          </li>
          <li v-if="this.$route.path.includes('/es')" class="">
            <nuxt-link to="/es">
              hogar
            </nuxt-link>
          </li>
          <li v-if="!this.$route.path.includes('/es')" class="">
            <nuxt-link to="/what-we-do">
              WHAT WE DO
            </nuxt-link>
          </li>
          <li v-if="this.$route.path.includes('/es')" class="">
            <nuxt-link to="/es/what-we-do">
             Lo Que Hacemos
            </nuxt-link>
          </li>
          <li v-if="!this.$route.path.includes('/es')" class="">
            <nuxt-link to="/who-we-are">
              WHO WE ARE
            </nuxt-link>
          </li>
          <li v-if="this.$route.path.includes('/es')" class="">
            <nuxt-link to="/es/who-we-are">
              Quienes Somos
            </nuxt-link>
          </li>
          <li v-if="!this.$route.path.includes('/es')" class="">
            <nuxt-link to="/our-work">
              OUR WORK
            </nuxt-link>
          </li>
          <li v-if="this.$route.path.includes('/es')" class="">
            <nuxt-link to="/es/our-work">
              Nuestro Trabajo
            </nuxt-link>
          </li>
          <li v-if="!this.$route.path.includes('/es')" class="">
            <nuxt-link to="/careers">
              CAREERS
            </nuxt-link>
          </li>
          <li v-if="this.$route.path.includes('/es')" class="">
            <nuxt-link to="/es/careers">
              Carreras
            </nuxt-link>
          </li>
          <li v-if="!this.$route.path.includes('/es')" class="contact-btn">
            <nuxt-link
              class="btn border-2 rounded-full border-white py-2 block px-5"
              to="/contact"
            >
              CONTACT
            </nuxt-link>
          </li>
          <li v-if="this.$route.path.includes('/es')" class="contact-btn">
            <nuxt-link
              class="btn border-2 rounded-full border-white py-2 block px-5"
              to="/es/contact"
            >
              Contáctenos
            </nuxt-link>
          </li>
        </ul>
        <ul class="list-none langs-btn">
          <li :class="!this.$route.path.includes('/es') ? 'en-btn active' : 'en-btn'">
            <nuxt-link to="/">
              EN
            </nuxt-link>
          </li>
          <li :class="this.$route.path.includes('/es') ? 'es-btn active' : 'es-btn'">
            <nuxt-link to="/es">
              ES
            </nuxt-link>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
}
</script>

<style>
.error-header {
  background-color: rgba(0, 0, 0, 0.7);
}
</style>
