<template>
  <footer>
    <div class="gototop">
      <a v-smooth-scroll href="#body">
        <svg
          width="17"
          height="17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="8.5" cy="8.5" r="8.5" fill="#fff" />
          <path
            d="M11.75 10.13a.54.54 0 01-.35-.13L8.5 7.57 5.6 9.91a.54.54 0 01-.9-.48.54.54 0 01.2-.36l3.26-2.62c.2-.16.49-.16.69 0l3.25 2.71a.54.54 0 01.07.76c-.1.13-.26.2-.42.2z"
            fill="#21252E"
          />
        </svg>
        <span v-if="!this.$route.path.includes('/es')"> TOP </span>
        <span v-if="this.$route.path.includes('/es')"> SUBIR </span>
      </a>
    </div>
    <div class="container-full custom-width-mobile">
      <div class="flex">
        <div class="address">
          <h5 class="footer-title">
            USA
          </h5>
          <ul>
            <li>
              <div class="icon">
                <img
                  src="/assets/img/icon/San-Francisco.svg"
                  alt="San-Francisco"
                >
              </div>
              <div>
                <div>San Francisco</div>
                <a href="tel:+14157151969"> +1 (415) 715-1969 </a>
              </div>
            </li>
            <li>
              <div class="icon">
                <img src="/assets/img/icon/Miami.svg" alt="Miami">
              </div>
              <div>
                <div>Miami</div>
                <a href="tel:+17867418820">+1 (786) 741-8820</a>
              </div>
            </li>
          </ul>
          <h5 class="footer-title">
            LATAM
          </h5>
          <ul>
            <li>
              <div class="icon">
                <img src="/assets/img/icon/Medellin.svg" alt="Miami">
              </div>
              <div>
                <div>Medellin</div>
                <a href="tel:+573184246521"> +57 (318) 424-6521 </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="say-hello">
          <h5 v-if="!this.$route.path.includes('/es')" class="footer-title">
            Say hey!
          </h5>
          <h5 v-if="this.$route.path.includes('/es')" class="footer-title">
            Hey!
          </h5>
          <ul>
            <li>
              <a href="mailto:hey@desmondgarcia.com">
                hey@desmondgarcia.com
              </a>
            </li>
          </ul>
          <h5 v-if="!this.$route.path.includes('/es')" class="footer-title">
            Follow us!
          </h5>
          <h5 v-if="this.$route.path.includes('/es')" class="footer-title">
            síganos
          </h5>
          <ul class="social">
            <li>
              <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCV3WIlfCGNkE4l_nkxlKgGQ"> YT </a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/desmond-garcia"> LI </a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.facebook.com/wearedesmondgarcia"> FB </a>
            </li>
            <li>
              <a target="_blank" rel="noopener" href="https://www.instagram.com/wearedesmondgarcia"> IG </a>
            </li>
          </ul>
        </div>
        <div class="about">
          <img
            src="/assets/img/logo.svg"
            alt="footer logo"
            class="footer-logo"
          >
          <p v-if="!this.$route.path.includes('/es')">
            <strong>dg</strong>
            maintains a strong commitment to the art of persuasion, with
            storytelling being our chief mode of persuasion. Powerful
            persuasion starts with diligent research around the audience, the
            product, and the intersection of the two.
          </p>
          <p v-if="this.$route.path.includes('/es')">
            <strong>dg</strong>
            está fuertemente comprometido con el arte de la persuasión, siendo la narración nuestro principal modo de persuasión. Una persuasión poderosa comienza con una investigación diligente sobre la audiencia, el producto y la intersección entre ambos.
          </p>
        </div>
      </div>
    </div>
    <div class="container-full">
      <div class="footer-nav">
        <div class="flex">
          <h6>SITEMAP</h6>
          <nav>
            <ul>
              <li v-if="!this.$route.path.includes('/es')">
                <nuxt-link to="/">
                  Home
                </nuxt-link>
              </li>
              <li v-if="this.$route.path.includes('/es')">
                <nuxt-link to="/es">
                  Inicio
                </nuxt-link>
              </li>
              <li v-if="!this.$route.path.includes('/es')">
                <nuxt-link to="/what-we-do">
                  What We Do
                </nuxt-link>
              </li>
              <li v-if="this.$route.path.includes('/es')">
                <nuxt-link to="/es/what-we-do">
                  Lo Que Hacemos
                </nuxt-link>
              </li>
              <li v-if="!this.$route.path.includes('/es')">
                <nuxt-link to="/who-we-are">
                  Who We Are
                </nuxt-link>
              </li>
              <li v-if="this.$route.path.includes('/es')">
                <nuxt-link to="/es/who-we-are">
                  Quienes Somos
                </nuxt-link>
              </li>
              <li v-if="!this.$route.path.includes('/es')">
                <nuxt-link to="/our-work">
                  Our Work
                </nuxt-link>
              </li>
              <li v-if="this.$route.path.includes('/es')">
                <nuxt-link to="/es/our-work">
                  Nuestro Trabajo
                </nuxt-link>
              </li>
              <li v-if="!this.$route.path.includes('/es')">
                <nuxt-link to="/careers">
                  Careers
                </nuxt-link>
              </li>
              <li v-if="this.$route.path.includes('/es')">
                <nuxt-link to="/es/careers">
                  Carreras
                </nuxt-link>
              </li>
              <li v-if="!this.$route.path.includes('/es')" class="contact-btn">
                <nuxt-link
                  class="btn border-2 rounded-full border-white py-2 block px-5"
                  to="/contact"
                >
                  Contact
                </nuxt-link>
              </li>
              <li v-if="this.$route.path.includes('/es')" class="contact-btn">
                <nuxt-link
                  class="btn border-2 rounded-full border-white py-2 block px-5"
                  to="/es/contact"
                >
                  Contáctenos
                </nuxt-link>
              </li>
            </ul>
          </nav>
        </div>
        <p class="copyright">
          © 2021, Desmond | Garcia, LLC
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>
