<template>
  <div>
    <header id="header" class="header">
      <div class="container-full">
        <div class="logo" v-if="this.$route.path.includes('/es')">
          <span><nuxt-link to="/es"><img src="/assets/img/logo.svg" alt="Logo"></nuxt-link></span>
        </div>
        <div class="logo" v-if="!this.$route.path.includes('/es')">
          <span><nuxt-link to="/"><img src="/assets/img/logo.svg" alt="Logo"></nuxt-link></span>
        </div>

        <div id="toggleMenu" class="toggle" @click="toggleMenu()">
          <button>
            Menu
          </button>
        </div>
        <nav class="main-nav">
          <ul class="list-none">
            <li v-if="!this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/"> HOME </nuxt-link></span>
            </li>
            <li v-if="this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/es" class="es"> INICIO </nuxt-link></span>
            </li>
            <li v-if="!this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/what-we-do"> WHAT WE DO </nuxt-link></span>
            </li>
            <li v-if="this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/es/what-we-do" class="es"> Lo Que Hacemos </nuxt-link></span>
            </li>
            <li v-if="!this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/who-we-are"> WHO WE ARE </nuxt-link></span>
            </li>
            <li v-if="this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/es/who-we-are" class="es"> Quienes Somos </nuxt-link></span>
            </li>
            <li v-if="!this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/our-work"> OUR WORK </nuxt-link></span>
            </li>
            <li v-if="this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/es/our-work" class="es"> Nuestro Trabajo </nuxt-link></span>
            </li>
            <li v-if="!this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/careers"> CAREERS </nuxt-link></span>
            </li>
            <li v-if="this.$route.path.includes('/es')">
              <span @click="toggleMenu()"><nuxt-link to="/es/careers" class="es"> Carreras </nuxt-link></span>
            </li>
            <li v-if="!this.$route.path.includes('/es')" class="contact-btn">
              <span @click="toggleMenu()"><nuxt-link class="btn border-2 rounded-full border-white py-2 block px-5" to="/contact" > CONTACT </nuxt-link></span>
            </li>
            <li v-if="this.$route.path.includes('/es')" class="contact-btn">
              <span @click="toggleMenu()"><nuxt-link class="btn border-2 rounded-full border-white py-2 block px-5 es" to="/es/contact" > Contáctenos </nuxt-link></span>
            </li>
          </ul>
          <ul class="list-none langs-btn">
            <li :class="!this.$route.path.includes('/es') ? 'en-btn active' : 'en-btn'">
              <span @click="toggleMenu()"><nuxt-link to="/"> EN </nuxt-link></span>
            </li>
            <li :class="this.$route.path.includes('/es') ? 'es-btn active' : 'es-btn'">
              <span @click="toggleMenu()"><nuxt-link to="/es"> ES </nuxt-link></span>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="for-close" @click="toggleMenu()" />
  </div>
</template>

<script>
export default {
  mounted () {
    this.$nextTick(() => {
      window.addEventListener('scroll', function () {
        const header = document.getElementById('header')
        // Get the offset position of the navbar
        const sticky = header.offsetTop
        if (window.pageYOffset - 25 > sticky) {
          header.classList.add('sticky')
        } else {
          header.classList.remove('sticky')
        }
      })
    })
  },
  methods: {
    toggleMenu () {
      const body = document.getElementsByTagName('body')
      body[0].classList.toggle('openMenu')
    }
  }
}
</script>

<style lang="scss">
header.header {
nav {
ul {
li {
a.es {
@media (max-width: 867px) {
  @media (min-width: 768px) {
  font-size: 10px !important;
  }
}
@media (max-width: 1200px) {
  @media (min-width: 868px) {
    font-size: 12px;
  }
}
}
}
}
}
}
</style>
