
<template>
  <section class="new-us">
    <div class="container-full">
      <p v-if="isEn" class="subtitle">
        What to Expect In Starting With Us:
      </p>
      <p v-if="isEs" class="subtitle">
        ¿Cómo podemos trabajar juntos?
      </p>
      <h3 v-if="isEn">
        New to Us? <span class="red">Chill</span>. We’ve got you.
      </h3>
      <h3 v-if="isEs">
        ¿NUEVO CON NOSOTROS? <span class="red">RELÁJATE</span>. NOSOTROS ESTAMOS CONTIGO.
      </h3>

      <div>
        <div class="new-item">
          <div class="num">
            <span>01</span>
          </div>
          <div
            class="new-item-pic-and-dis"
            :class="mouseoverItem === 1 ? 'hover' : ''"
          >
            <div class="pic-parent" @mouseover="mouseover(1)" @mouseleave="mouseleave(0)">
              <div
                style="background-image: url('/assets/img/xxl/new-item-1.jpg');"
              />
              <img src="@/assets/img/new-item-1.jpg" alt="item 1">
            </div>
            <p v-if="isEn" class="dec">
              It’s a chance for us to deliver something of value to you
              while we immerse ourselves in your brand, story, customer, and
              needs. We love video production, design, interactive, strategy
              or whatever our clients need to make a difference.
            </p>
            <p v-if="isEs" class="dec">
              Es una oportunidad para que podamos ofrecerle algo de valor mientras nos sumergimos en su marca, su historia, su cliente y sus necesidades. Nos encanta la producción de video, el diseño, la interacción, la estrategia o cualquier cosa que nuestros clientes necesiten para marcar la diferencia.
            </p>
          </div>
          <div class="title">
            <div v-if="isEn">
              Seed Project
            </div>
            <div v-if="isEs">
              Proyecto Semilla
            </div>
            <h4 v-if="isEn">
              Think of this like an old-school, good recommendation,
              non-Tinder first date.
            </h4>
            <h4 v-if="isEs">
              Piense en esto como una primera cita.
            </h4>
          </div>
        </div>
        <div class="new-item">
          <div class="num">
            <span>02</span>
          </div>
          <div
            class="new-item-pic-and-dis"
            :class="mouseoverItem === 2 ? 'hover' : ''"
          >
            <div class="pic-parent" @mouseover="mouseover(2)" @mouseleave="mouseleave(0)">
              <div
                style="background-image: url('/assets/img/xxl/new-item-2.jpg');"
              />
              <img src="@/assets/img/new-item-2.jpg" alt="item 2">
            </div>
            <p v-if="isEn" class="dec">
              As your marketing needs continue, trust us to partner with you
              in creating full campaigns with multiple types of strategy and
              creativity or continue to help with individual projects.
            </p>
            <p v-if="isEs" class="dec">
              En la medida en que trabajemos juntos  y evolucionen sus necesidades de marketing, confíe en que nos asociaremos con usted para crear campañas completas con múltiples tipos de estrategias y creatividad o para que continuemos ayudando con proyectos individuales.
            </p>
          </div>
          <div class="title">
            <h4 v-if="isEn">
              A True Relationship
            </h4>
            <h4 v-if="isEs">
              Una Verdadera Relación
            </h4>
          </div>
        </div>
        <div class="new-item">
          <div class="num">
            <span>03</span>
          </div>
          <div
            class="new-item-pic-and-dis"
            :class="mouseoverItem === 3 ? 'hover' : ''"
          >
            <div class="pic-parent" @mouseover="mouseover(3)" @mouseleave="mouseleave(0)">
              <div
                style="background-image: url('/assets/img/xxl/new-item-3.jpg');"
              />
              <img src="@/assets/img/new-item-3.jpg" alt="item 3">
            </div>
            <p v-if="isEn" class="dec">
              Even the best laid plans change. From the beginning you get
              access to our ad hoc creative desk to handle all those little
              (and big) one offs that give you so much trouble.
            </p>
            <p v-if="isEs" class="dec">
              Incluso los planes mejor trazados cambian. Desde el principio, usted tiene acceso a nuestro escritorio creativo ad hoc para manejar todas esas pequeñas (y grandes) tareas o proyectos que le causan tantos problemas y desea confiarnos. Tarifas por hora, costos fijos. Trabajo de diseño, trabajo de marketing, investigación y desarrollo, etc.
            </p>
          </div>
          <div class="title">
            <h4 v-if="isEn">
              The dg Marketing Desk
            </h4>
            <h4 v-if="isEs">
              El dg Marketing Desk
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['isEn', 'isEs'],
  data () {
    return {
      mouseoverItem: 0
    }
  },
  methods: {
    mouseover (number) {
      this.mouseoverItem = number
    },
    mouseleave (number) {
      this.mouseoverItem = number
    }
  }
}
</script>
