<template>
  <div class="work-box" :class="[caltegoryClass]">
    <div class="pic" :style="{'backgroundImage': `url(${ work.thumbnail })`, 'paddingTop': `${(work.height/work.width)*100}%` }">
      <NuxtLink class="link" :to="this.$route.path.includes('/es') ? `/es/projects/${work.slug}` : `/projects/${work.slug}`" aria-label="show project details" />
      <div class="text-box">
        <div class="text">
          <div class="work-logo">
            {{ work.brand }}
          </div>
          <div class="only-text">
            <h6><span v-for="( category, index ) in work.categories" :key="`${category}.${index}`">{{ category }}</span></h6>
            <p>{{ work.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['work', 'isEs', 'isEn'],
  data () {
    return {
      caltegoryClass: []
    }
  },
  created () {
    this.formatCategories()
  },
  methods: {
    formatCategories () {
      this.caltegoryClass.push(`scale-${this.work.scale}`)
      for (let i = 0; i < this.work.categories.length; i++) {
        this.caltegoryClass.push(this.work.categories[i].toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, ''))
      }
    }
  }
}
</script>

<style>
</style>
