<template>
  <detail :is-en="true" :work="work" />
</template>

<script>
import detail from '@/components/pages/detail.vue'

export default {
  components: { detail },
  async asyncData ({ $content, params }) {
    const work = await $content('en', 'works', params.slug).sortBy('createdAt', 'asc').fetch()
    return { work }
  }
}
</script>
