<template>
  <careers
    :is-es="true"
    :total-careers="totalCareers"
  />
</template>
<script>
import careers from '@/components/pages/careers.vue'

export default {
  name: 'Careers',
  components: { careers },
  async asyncData ({ $content, params }) {
    const totalCareers = await $content('es', 'careers').fetch()

    return {
      totalCareers
    }
  }
}
</script>
<style>

</style>
