<template>
  <measurement :is-es="true" />
</template>
<script>
import measurement from '@/components/pages/measurement.vue'

export default {
  components: { measurement }
}
</script>
<style>

</style>
