<template>
  <ourWork :is-es="true" :works="works" />
</template>
<script>
import ourWork from '@/components/pages/our-work.vue'

export default {
  components: { ourWork },
  async asyncData ({ $content, params }) {
    const works = await $content('es', 'works')
      .only(['name', 'slug', 'thumbnail', 'categories', 'brand', 'height', 'width', 'scale'])
      .sortBy('createdAt', 'asc')
      .fetch()
    return {
      works
    }
  }
}
</script>
<style>

</style>
