<template>
  <div class="error-page">
    <img v-if="!this.$route.path.includes('/es')" class="error-img" src="@/assets/img/error-page.png" alt="samurai 404">
    <img v-if="this.$route.path.includes('/es')" class="error-img" src="@/assets/img/samurai-spa.png" alt="samurai 404">
  </div>
</template>

<script>
export default {
  layout (context) {
    return 'errorLayout'
  },
  props: ['error'] // you can set a custom layout for the error page
}
</script>
<style lang="scss">
.error-page {
min-height: 1000px;
padding: 100px 0;
width: 100%;
.error-img {
 width: 100%;
 max-width: 800px;
 margin: 0 auto;
 display: block;
 margin-top: 200px;
}
}
</style>
