<template>
  <div id="body">
    <ErrorHeader />
    <Nuxt />
    <Footer />
  </div>
</template>
<script>
import ErrorHeader from '@/components/ErrorHeader'
import Footer from '@/components/Footer'

export default {
  components: {
    ErrorHeader,
    Footer
  }
}
</script>
<style>
</style>
